/* 자동 완성 */
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    width: 100%;
}

.autocomplete .autocomplete-input {
    width: 100%;
}

.autocomplete .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 5.6rem;
    left: 0;
    right: 0;
    max-height: 32.5rem;
    overflow-y: auto;
    border: 1px solid #ddd;
    background-color: #fff;
}
.autocomplete .autocomplete-items > div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete .autocomplete-items div.grid-wrapper {
    display: grid;
    grid-template-columns: 9fr 1fr;
}
@media (hover: hover) {
  .autocomplete-items::-webkit-scrollbar { width: 4px;}
  .autocomplete-items::-webkit-scrollbar-thumb { border-radius: 4px; background-color: #959595;}
}


/* 지도 부채꼴  */
.mapMenuLayer.ready {
    z-index: 90;
    transform: translate(0, 0) scale(0);
}

.mapMenuLayer.show {
    opacity: 1;
    transform: translate(-5%, -5%) scale(0.8)
}
/* END: 지도 부채꼴  */

/* 주유소 (TODO: 퍼블리싱 요청 필요) */
.map .petrolInformation { display: flex; align-items: center; height: 4rem; margin-top: -0.8rem; font-size: 1.4rem;}    /* margin-top */
.map .gsCost span.lpg::before { content: 'L'; color: #fff; background-color: #4ec457;}  /* content */
.map .gsCost { display: flex; flex-wrap: wrap; flex: 1;} /* 급 삭제되었음 */
.map .gsCost span { position: relative; margin: 0 0 0.4rem 0.8rem; padding-left: 2.3rem; font-weight: 700;} /* 급 삭제되었음 */
/* END: 주유소  */

/* 우리가게 등록하기, 공유경제 등록/수정, 홍보 행사 등록/수정 리뷰 등록하기(TODO: 퍼블리싱 요청 필요) */
.button-write {
    margin-left: 0;
    transform: none;
    width: 100%;
    display: table;
    position: fixed;
}

.button-write .cell {
    display: table-cell;
}

.button-write .cell .cell-center {
    display: flex; 
    justify-content: center;
}
/* END: 우리가게 등록하기, 공유경제 등록/수정, 홍보 행사 등록/수정 리뷰 등록하기 */

/* 행복교육체험터 - 공공기관 */
.items-gasStation li .etc .lead .boxName2 { padding: 0 0.4rem 0.1rem; font-size: 1.2rem; margin-left: 0.3rem; color: #fff; background-color: #A5A5A5;}
/* END: 행복교육체험터 - 공공기관 */
