/* 지도 부채꼴  */
.mapMenuLayer.ready {
    z-index: 90;
    transform: translate(0, 0) scale(0);
}

.mapMenuLayer.show {
    opacity: 1;
    transform: translate(-5%, -5%) scale(0.8)
}
/* END: 지도 부채꼴  */

/* 주유소 (TODO: 퍼블리싱 요청 필요) */
.map .petrolInformation { display: flex; align-items: center; height: 4rem; margin-top: -0.8rem; font-size: 1.4rem;}    /* margin-top */
.map .gsCost span.lpg::before { content: 'L'; color: #fff; background-color: #4ec457;}  /* content */
.map .gsCost { display: flex; flex-wrap: wrap; flex: 1;} /* 급 삭제되었음 */
.map .gsCost span { position: relative; margin: 0 0 0.4rem 0.8rem; padding-left: 2.3rem; font-weight: 700;} /* 급 삭제되었음 */
/* END: 주유소  */

/* 우리가게 등록하기, 공유경제 등록/수정, 홍보 행사 등록/수정 리뷰 등록하기(TODO: 퍼블리싱 요청 필요) */
.button-write {
    margin-left: 0;
    transform: none;
    width: 100%;
    display: table;
    position: fixed;
}

.button-write .cell {
    display: table-cell;
}

.button-write .cell .cell-center {
    display: flex; 
    justify-content: center;
}
/* END: 우리가게 등록하기, 공유경제 등록/수정, 홍보 행사 등록/수정 리뷰 등록하기 */

/* 행복교육체험터 - 공공기관 */
.items-gasStation li .etc .lead .boxName2 { padding: 0 0.4rem 0.1rem; font-size: 1.2rem; margin-left: 0.3rem; color: #fff; background-color: #A5A5A5;}
/* END: 행복교육체험터 - 공공기관 */
