/* 소통참여
**********************************************/

/* 공통 */
.form-default { margin-top: 3.2rem; padding: 0 2rem;}
.form-default.otherStyle { margin-top: 0;}


/* 메인 UI-SJN-03-001U */
/* .decoBgLeft { position: absolute; left: 0; top: 0; width: 100rem; height: 10rem; background: url(../image/info/main_bg_left.png) no-repeat left bottom/100rem 10rem;}
.decoBgRight { position: absolute; right: -0.1rem; top: 0; width: 100rem; height: 10rem; background: url(../image/info/main_bg_right.png) no-repeat right bottom/10rem 10rem;} */

.infoNav { display: flex; overflow: hidden; position: fixed; top: 0; z-index: 200; width: 100%; background-color: #F3F5F7; box-shadow: 0 1rem 3rem rgb(102 132 234 / 20%);}
.infoNav .infoNavBody { display: flex; width: 100%; background-color: #29863b;}
.infoNav .slideContainer { overflow: hidden; display: flex; flex: 1; margin-left: 1px; padding-right: 0.8rem;}
.infoNav li { width: auto;}
.infoNav li a { display: flex; align-items: center; position: relative; height: 5.6rem; font-size: 1.6rem; color: rgb(255 255 255 / 75%); cursor: pointer;}
.infoNav li a span { display: flex; align-items: center; justify-content: center; height: 3.6rem; padding: 0 1rem; border-radius: 0.8rem;}
.infoNav li a.active { font-weight: 700; color: #fff;}
.infoNav li a.active span { background-color: #1a7021;}
/* .infoNav li a.active::after { content: ''; position: absolute; left: 0; right: 0; bottom: 0; height: 0.4rem; background-color: #35B13F;} */
.menuSetting { display: flex; align-items: center; justify-content: center; position: relative; z-index: 2; width: 5rem; height: 5.6rem; padding-left: 1rem; background-color: #29863b;}
.menuSetting i { text-indent: -9999rem; background-position: -36rem -19.2rem;}

/* .infoNav.active +.swiper { padding-top: 6rem;} */

.info .mainArea { min-height: calc(100vh - 18.6rem); background: #F3F5F7;}
.mainArea .flex { display: flex; align-items: center; justify-content: space-between;}
.mainArea .flex .mapLink { color: #5D68E6;}
.mainArea .flex .mapLink i { margin: -0.4rem 0.4rem 0 0; vertical-align: middle; background-position: -26.4rem -19.2rem;}
.mainArea .iconLinks li a { display: block; text-align: center;}
.mainArea .iconLinks li a p { margin-top: 0.6rem; font-size: 1.6rem; color: #333; text-align: center; letter-spacing: -0.1em;}
.mainArea .iconLinks li a .round { display: flex; align-items: center; justify-content: center; margin: 0 auto; background-color: #F4F5F7;}
.mainArea .iconLinks.space3 { display: grid; gap: 2.4rem 0; grid-template-columns: repeat(3, 1fr);}
.mainArea .iconLinks.space3 li a img { width: 8rem; height: 8rem;}
.mainArea .iconLinks.space3 li a p { font-size: 1.6rem;}
.mainArea .iconLinks.space3 li a .round { width: 8rem; height: 8rem; border-radius: 2.4rem;}
.mainArea .iconLinks.space4 { display: grid; gap: 2.4rem 0; grid-template-columns: repeat(4, 1fr);}
.mainArea .iconLinks.space4 li a img { width: 6rem; height: 6rem;}
.mainArea .iconLinks.space4 li a p { font-size: 1.4rem;}
.mainArea .iconLinks.space4 li a .round { width: 6rem; height: 6rem; border-radius: 1.6rem;}
.mainArea .iconLinks.mt24 { margin-top: 1.4rem;}
.mainArea .iconLinks.mt32 { margin-top: 3.2rem;}
.mainArea .boxLinks { display: grid;}
.mainArea .boxLinks li { display: flex; align-items: center; justify-content: center; margin: -0.1rem 0 0 -0.1rem; border: 1px solid #EAEDF2;}
.mainArea .boxLinks li a { display: block; width: 100%; padding: 1.6rem 0.4rem; font-size: 1.3rem; color: #333; text-align: center; letter-spacing: -0.1em;}
.mainArea .boxLinks li a .img24 { width: 7.2rem; height: 2.6rem;}
.mainArea .boxLinks.space2 { grid-template-columns: repeat(2, 1fr);}
.mainArea .boxLinks.space3 { grid-template-columns: repeat(3, 1fr);}
.mainArea .boxLinks.mt24 { margin-top: 2.4rem;}
.mainArea .boxLinks.mt40 { margin-top: 4rem;}
.mainArea .together .boxArea { padding-bottom: 4rem;}
.mainArea .together .textLinks { margin-top: 2.5rem; border-top: 1px solid #F4F5F7;}
.mainArea .together .textLinks li a { display: flex; align-items: center; min-height: 4.8rem; padding: 1rem 0;}
.mainArea .together .textLinks li a span { flex: 1; font-size: 1.4rem; color: #555;}
.mainArea .together .textLinks li a b { display: flex; align-items: flex-end; font-size: 1.6rem; color: #29863b; text-align: right;}
.mainArea .together .textLinks li a b .ico { display: block; width: 2rem; height: 2rem; background:  url(../image/info/ico_arrow_green.svg) no-repeat center/cover;}
.mainArea .together .boxArea .newStoreBody { margin: 0 -1.6rem; padding: 0 1.6rem;}
.mainArea .together .boxArea .newStoreBody li { overflow: hidden; width: 15.6rem !important; min-height: 23rem; border: 1px solid #EAEDF2; border-radius: 0.8rem;}
.mainArea .together .boxArea .newStoreBody li .empty { display: flex; align-items: center; justify-content: center; min-height: 23rem; color: #111; background-color: #eaeaea;}
.mainArea .together .boxArea .newStoreBody li .empty i { margin-top: 0.3rem; background-position: -31.2rem -24rem;}

.mainArea .together .infoLifeBody { overflow: hidden; margin: 0 -1.6rem; padding: 0 1.6rem;}
.mainArea .together .infoLifeBody ul li { width: 26rem !important; min-height: 15.2rem; padding: 1.2rem; border: 1px solid #EAEDF2; border-radius: 0.8rem;}
.mainArea .together .infoLifeBody ul li .empty { display: flex; align-items: center; justify-content: center; min-height: 15.2rem; margin: -1.2rem; color: #111; background-color: #eaeaea;}
.mainArea .together .infoLifeBody ul li .empty i { margin-top: 0.3rem; background-position: -31.2rem -24rem;}
.mainArea .together .infoLifeBody ul li .profile { display: flex; align-items: center;}
.mainArea .together .infoLifeBody ul li .profile .name { margin-left: 0.4rem; font-size: 1.5rem;}
.mainArea .together .infoLifeBody ul li .profile .date { margin-left: 0.4rem; font-size: 1.5rem; color: #aaa;}
.mainArea .together .infoLifeBody ul li .profile .split24 { background-position: -19.2rem 0;}
.mainArea .together .infoLifeBody ul li .profile .icoProfile { width: 2.4rem; height: 2.4rem;}
.mainArea .together .infoLifeBody ul li .profile .img { overflow: hidden; width: 2.4rem; height: 2.4rem; border-radius: 50%;}
.mainArea .together .infoLifeBody ul li .profile .img img { width: 100%; height: 100%;}

.mainArea .together .infoLifeBody ul li .text { overflow: hidden; display: -webkit-box; word-break: break-all; text-overflow: ellipsis; -webkit-line-clamp: 3; -webkit-box-orient: vertical; min-height: 6.4rem; margin-top: 0.8rem; color: #555;}

.mainArea .complaint { margin-top: 2.7rem; padding-bottom: 8rem;}
.mainArea .complaint .boxArea { padding-bottom: 4rem;}
.mainArea .complaint .body { margin-top: 1rem;}
.mainArea .complaint .body .citizen { display: flex; justify-content: space-between;}
.mainArea .complaint .body .citizen b { color: #32BBED; letter-spacing: -0.1em;}
.mainArea .complaint .body .citizen .write { position: relative; width: calc(50% - 0.8rem); padding-top: 2rem;}
.mainArea .complaint .body .citizen .write .line { display: block; position: relative; width: 88%; height: 10.6rem; border: 0.5rem solid #1751a0;}
.mainArea .complaint .body .citizen .write .line >div { position: absolute; left: -0.5rem; top: -0.5rem; width: calc(100% - 1.6rem); padding: 0.2rem 0 1rem 0.2rem; background-color: #fff;}
.mainArea .complaint .body .citizen .write .line >div img { display: block; width: 6.825rem; height: 3.775rem;}
.mainArea .complaint .body .citizen .write .line >div p { font-size: 0.9rem;}
.mainArea .complaint .body .citizen .write .line >div b { display: block; margin-top: 0.8rem; font-size: 1.4rem;}
.mainArea .complaint .body .citizen .write .complaintImg { position: absolute; right: 0; bottom: 0; width: 6.665rem; height: 7.2rem;} 
.mainArea .complaint .body .citizen .issue { width: calc(50% - 0.8rem);}
.mainArea .complaint .body .citizen .issue >div { position: relative; min-height: 5.2rem; padding: 1.2rem 1.6rem 1.6rem; border: 1px solid #EAEDF2; border-radius: 0.8rem;}
.mainArea .complaint .body .citizen .issue >div ~ div { margin-top: 0.8rem;}
.mainArea .complaint .body .citizen .issue >div ~ div a b { color: #111;}
.mainArea .complaint .body .citizen .issue >div span { display: block; font-size: 1.4rem; color: #767676;}
.mainArea .complaint .body .citizen .issue >div b { display: block; margin-top: 0.4rem; font-size: 1.6rem;}
.mainArea .complaint .body .citizen .issue >div >b { margin-top: 0.4rem;}
.mainArea .complaint .body .citizen .issue >div a { display: block;}
.mainArea .complaint .body .citizen .issue >div .phone { position: absolute; right: 0.8rem; bottom: 0.6rem; display: flex; align-items: center; justify-content: center; width: 3.2rem; height: 3.2rem; background-color: #29863b; border-radius: 50%;}
.mainArea .complaint .body .citizen .issue >div .phone i { background-position: -24rem -19.2rem;}
.mainArea .complaint .roundDeco { display: block; position: absolute; left: -11.6rem; top: -8.6rem; z-index: 1; width: 22rem; height: 22rem; background-color: #4EC457; border-radius: 50%;}
.mainArea .complaint .roundDeco2 { display: none; position: absolute; right: -8.6rem; bottom: -3.7rem; z-index: 1; width: 18.6rem; height: 18.6rem; background-color: #32BBED; border-radius: 50%;}



/* UI-SJN-03-002U */
.mainArea .popular .boxArea { padding-bottom: 4rem;}
.mainArea .popular .body .slideContainer { overflow: hidden; margin: 0 -1.6rem; padding: 0 1.6rem;}
.mainArea .popular .body ul li { width: auto;}
.mainArea .popular .body ul li a { display: block; color: #111; text-align: center;}
.mainArea .popular .body ul li a .icon { display: block; width: 5.6rem; height: 5.6rem; border-radius: 1.6rem;}
.mainArea .popular .body ul li a.setup1 .icon { background-color: #32BBED;}
.mainArea .popular .body ul li a.setup2 .icon { background-color: #D69630;}
.mainArea .popular .body ul li a.setup3 .icon { background-color: #29863b;}
.mainArea .popular .body ul li a.setup4 .icon { background-color: #5FA9FF;}
.mainArea .popular .body ul li a.setup5 .icon { background-color: #767676;}
.mainArea .popular .body ul li a h4 { margin-top: 0.8rem; font-size: 1.6rem;}
.mainArea .popular .body ul li a h4 + span { display: block; margin-top: 0.3rem; font-size: 1.4rem; color: #767676;}
.mainArea .reservation .roundDeco { display: block; position: absolute; right: -8.5rem; bottom: -8.2rem; z-index: 1; width: 18.6rem; height: 18.6rem; background-color: #32BBED; border-radius: 50%;}
.mainArea .healthFacility { margin-top: 2.7rem;}
.mainArea .healthFacility .boxArea { padding: 2rem 1.6rem;}
.mainArea .dataConnect { margin-top: 2.7rem; padding-bottom: 8rem;}
.mainArea .dataConnect .boxArea { padding: 3.2rem 1.6rem;}
.mainArea .dataConnect .cleanNetBtn { display: flex; align-items: center; justify-content: center; width: 100%; height: 5.2rem; margin-top: 3.2rem; font-size: 1.6rem; font-weight: 700; color: #5D68E6; background-color: #F3F5F7; border-radius: 0.8rem;}
.mainArea .dataConnect .cleanNetBtn i { margin-left: 0.4rem; background-position-x: -38rem;}
.mainArea .dataConnect .textLinks { margin-top: 2.7rem;}
.mainArea .dataConnect .textLinks li { display: flex; align-items: center; justify-content: space-between; height: 4.8rem;}
.mainArea .dataConnect .textLinks li >div { display: flex; align-items: center;}
.mainArea .dataConnect .textLinks li >div .link { color: #5D68E6;}
.mainArea .dataConnect .textLinks li >div span { display: inline-flex; align-items: center; justify-content: center; width: 3.2rem; height: 3.2rem; margin-left: 2.2rem; vertical-align: middle; background-color: #29863b; border-radius: 50%;}
.mainArea .dataConnect .textLinks li >div span i { background-position: -24rem -19.2rem;}
.mainArea .dataConnect .textLinks li ~ li { border-top: 1px solid #F2F2F2;}
.mainArea .dataConnect .roundDeco { display: block; position: absolute; left: -7.7rem; top: -9.4rem; z-index: 1; width: 18.6rem; height: 18.6rem; background-color: #CDD0D8; border-radius: 50%;}

/* UI-SJN-03-003U */
.mainArea .trafficInformation { margin-top: 2.7rem;}
.mainArea .trafficInformation .boxArea { padding-bottom: 3rem;}
.mainArea .trafficInformation .boxArea.pbNon { padding-bottom: 0.4rem;}
.mainArea .trafficInformation .flexReflash { display: flex; justify-content: flex-end; margin-bottom: 1rem;}
.mainArea .trafficInformation .vividBus { display: flex; flex-direction: column; position: relative; margin-top: 0.2rem; padding: 1.7rem 2rem; color: #333; border: 1px solid #5D68E6; background: url(../image/info/info_trafficInformation_ico.png) no-repeat right 2.2rem center/4.3rem 4.2rem; border-radius: 0.8rem;}
.mainArea .trafficInformation .vividBus span { font-size: 1.4rem;}
.mainArea .trafficInformation .vividBus b { margin-top: 1rem; font-size: 1.6rem;}
.mainArea .trafficInformation .vividBus b i { margin: -0.1rem 0 0 0.8rem; vertical-align: middle; background-position: -36rem -4rem;}
.mainArea .trafficInformation .favoriteBus { display: flex; align-items: center; justify-content: space-between; margin-bottom: 1.6rem; color: #555;}
.mainArea .trafficInformation .favoriteBus i { background-position: -22.4rem -3.2rem;}
.mainArea .trafficInformation .settingList { margin-top: 0.8rem; padding-top: 2.4rem; border-top: 1px solid #F4F5F7;}
.mainArea .trafficInformation .settingList >li { margin-bottom: 1.4rem; padding-bottom: 1.6rem; border-bottom: 1px solid #F4F5F7;}
.mainArea .trafficInformation .settingList >li .slBody h3 { white-space: initial;}
.mainArea .trafficInformation .settingList >li .slBody { position: relative;}
.mainArea .trafficInformation .settingList >li .slBody >div { display: block; width: inherit;}
.mainArea .trafficInformation .settingList >li .slBody >span { position: absolute; right: 0; bottom: 0; max-width: 17rem; text-align: right;}
.mainArea .trafficInformation .settingList >li .slBody >div span { display: block; margin: 0.4rem 0 0 0;}
.mainArea .trafficInformation .settingList >li:last-child { margin-bottom: 0;}

.mainArea .trafficInformation .settingListSub { margin-top: 0.2rem;}
.mainArea .trafficInformation .settingListSub li { padding: 0; border: none;}
.mainArea .trafficInformation .settingListSub li .subHead >div h3 { margin-left: 0;}
.mainArea .trafficInformation.mt { margin-top: 2.7rem;}


.mainArea .safetyInfo { margin-top: 2.7rem;}
.mainArea .safetyInfo .safetyUse { display: flex; align-items: center; justify-content: space-between; margin-top: 0.4rem; padding: 2.7rem 2rem 2.3rem; color: #fff; background-color: #FF940E; border-radius: 0.8rem;}
.mainArea .safetyInfo .safetyUse .title p { font-size: 1.6rem; font-weight: 700; line-height: 2.3rem;}
.mainArea .safetyInfo .safetyUse .title span { display: block; margin-top: 0.8rem; font-size: 1.4rem; line-height: 2rem;}
.mainArea .safetyInfo .safetyUse .icon .whiteRound { display: flex; align-items: center; justify-content: center; width: 8.4rem; height: 8.4rem; background-color: #fff; border-radius: 50%;}
.mainArea .safetyInfo .safetyUse .icon .whiteRound i { width: 4.7rem; height: 5.9rem; background: url(../image/map/sejongN_img.png) no-repeat center/cover;}
.mainArea .safetyInfo .safetyUse .icon .blackRound { display: flex; align-items: center; justify-content: center; height: 3.6rem; margin-top: -0.4rem; font-size: 1.4rem; background-color: #111; border-radius: 1.8rem;}
.mainArea .safetyInfo .roundDeco { display: block; position: absolute; left: -6.2rem; top: -12.3rem; z-index: 1; width: 18.6rem; height: 18.6rem; background-color: #5D68E6; border-radius: 50%;}

.mainArea .improvement { margin-top: 2.7rem; padding-bottom: 8rem;}
.mainArea .improvement .boxArea { padding-top: 2rem;}
.mainArea .improvement a { display: flex; align-items: center; justify-content: space-between; font-size: 1.4rem; color: #333;}
.mainArea .improvement a i { margin: -0.5rem 0.8rem 0 0; vertical-align: middle; background-position: -28.8rem -19.2rem;}
.mainArea .improvement .roundDeco { display: block; position: absolute; right: -8.5rem; top: -10.5rem; z-index: 1; width: 14.7rem; height: 14.7rem; background-color: #D57298; border-radius: 50%;}

/* UI-SJN-03-004U */
.mainArea .eduProgram .boxArea { padding-bottom: 4rem;}
.mainArea .eduProgram .textLinks { margin-top: 1.7rem; border-top: 1px solid #F4F5F7;}
.mainArea .eduProgram .textLinks li { border-bottom: 1px solid #F4F5F7;}
.mainArea .eduProgram .textLinks li a { display: flex; align-items: center; justify-content: space-between; min-height: 4.8rem; padding: 1rem 0;}
.mainArea .eduProgram .textLinks li a span { color: #555;}
.mainArea .eduProgram .textLinks li a b { font-size: 1.6rem; color: #29863b; text-align: right;}
.mainArea .eduProgram .roundDeco { display: block; position: absolute; left: -5.2rem; bottom: -18rem; z-index: 1; width: 22.2rem; height: 22.2rem; background-color: #CCD2E3; border-radius: 50%;}
.mainArea .donation { position: relative; margin-top: 2.7rem;}
.mainArea .donation a { display: flex; flex-direction: column; justify-content: center; position: relative; z-index: 2; height: 10rem; padding: 0 2.4rem; color: #fff; background: #D69630 url(../image/info/info_donation_img.png) no-repeat right 4.8rem center/4.425rem 6rem; border-radius: 1.6rem; box-shadow: 0 0.3rem 0.6rem rgb(0 0 0 / 20%);}
.mainArea .donation a b { display: block; margin-top: 0.2rem; font-size: 1.8rem;}
.mainArea .donation a b i { margin: -0.5rem 0 0 0.8rem; vertical-align: middle; background-position: -24rem -4rem;}
.mainArea .culturalLife { margin-top: 2.7rem; padding-bottom: 8rem;}
.mainArea .culturalLife .boxArea { padding-bottom: 4rem;}
.mainArea .culturalLife .culturalBtns { display: flex; align-items: center; justify-content: space-between; margin-top: 0.4rem;}
.mainArea .culturalLife .culturalBtns a { display: flex; align-items: center; justify-content: center; width: calc(50% - 0.4rem); height: 5.2rem; font-size: 1.6rem; color: #111; border: 1px solid #EAEDF2; border-radius: 0.8rem;}
.mainArea .culturalLife .culturalBtns a.infoCalendar i { margin-right: 0.4rem; background-position: -31.2rem -19.2rem;}
.mainArea .culturalLife .culturalBtns a.infoEvent i { margin-right: 0.4rem; background-position: -38.4rem -4.8rem;}
.mainArea .culturalLife h4 { margin-top: 2.7rem; font-size: 1.6rem;}
.mainArea .culturalLife .links { display: grid; gap: 1.8rem 0.8rem; grid-template-columns: repeat(3, 1fr); margin-top: 1.8rem;}
.mainArea .culturalLife .links li { width: calc();}
.mainArea .culturalLife .links li a { display: block; color: #333;}
.mainArea .culturalLife .links li a figure { overflow: hidden; border-radius: 0.4rem;}
.mainArea .culturalLife .links li a p { margin-top: 1.2rem; font-size: 1.4rem; letter-spacing: -0.1em; text-align: center;}
.mainArea .culturalLife .publicityEvents { display: flex; flex-direction: column; justify-content: center; height: 7.8rem; margin-top: 4rem; padding-left: 2rem; color: #fff; background: url(../image/info/info_culturalLife_bg.png) no-repeat center/cover; border-radius: 0.8rem;}
.mainArea .culturalLife .publicityEvents div { font-size: 1.3rem;}
.mainArea .culturalLife .publicityEvents b { display: block; margin-top: 0.4rem; font-size: 1.6rem;}
.mainArea .culturalLife .publicityEvents b i { margin: -0.5rem 0 0 0.8rem; vertical-align: middle; background-position: -24rem -4rem;}
.mainArea .culturalLife .roundDeco { display: block; position: absolute; right: -8.2rem; bottom: 3.7rem; z-index: 1; width: 18.8rem; height: 18.8rem; background-color: #D69630; border-radius: 50%;}

/* UI-SJN-03-005U */
.mainArea .toVisit .body { margin: 1.6rem -1.6rem 0;}
.mainArea .toVisit .boxArea { padding-bottom: 3rem;}
.mainArea .toVisit .slideContainer { overflow: hidden; padding: 0 1.6rem;}
.mainArea .toVisit li { width: 20rem;}
.mainArea .toVisit li a { display: block; color: #111; text-align: center;}
.mainArea .toVisit li a figure { border-radius: 0.8rem;}
.mainArea .toVisit li a p { margin-top: 1.6rem;}
.mainArea .toVisit .roundDeco { display: block; position: absolute; right: -7.1rem; bottom: -8.4rem; z-index: 1; width: 18.8rem; height: 18.8rem; background-color: #29863b; border-radius: 50%;}
.mainArea .dullegil a { display: flex; flex-direction: column; justify-content: center; position: relative; z-index: 2; height: 10rem; margin-top: 2.7rem; padding-left: 3.2rem; color: #fff; background: url(../image/info/info_dullegil_bg.png) no-repeat center/cover; border-radius: 1.6rem; box-shadow: 0 0.3rem 0.6rem rgb(0 0 0 / 20%);}
.mainArea .dullegil a div { font-size: 1.5rem;}
.mainArea .dullegil a b { display: block; margin-top: 0.2rem; font-size: 1.8rem;}
.mainArea .campingSite { margin-top: 2.7rem;}
.mainArea .campingSite .boxArea { padding-bottom: 3rem;}
.mainArea .campingSite ul { display: flex; justify-content: space-between; margin: 1.6rem -0.4rem 0;}
.mainArea .campingSite ul li { margin: 0 0.4rem;}
.mainArea .campingSite ul li a { display: block; text-align: center; color: #333;}
.mainArea .campingSite ul li a figure { overflow: hidden; border-radius: 0.4rem;}
.mainArea .campingSite ul li a p { margin-top: 1.2rem;}
.mainArea .gourmetTravel a { display: flex; flex-direction: column; justify-content: center; position: relative; z-index: 2; height: 10rem; margin-top: 2.7rem; padding-left: 2rem; color: #111; background: url(../image/info/info_gourmetTravel_bg.png) no-repeat center/cover; border-radius: 0.8rem; box-shadow: 0 0.3rem 0.6rem rgb(0 0 0 / 20%);}
.mainArea .gourmetTravel a div { color: #555;}
.mainArea .gourmetTravel a b { display: block; margin-top: 0.2rem; font-size: 1.8rem;}
.mainArea .gourmetTravel a i { margin: -0.5rem 0 0 0.8rem; vertical-align: middle; background-position: -36rem -6rem;}
.mainArea .healthFacility.pb80 { padding-bottom: 8rem;}
.mainArea .healthFacility.pb80 .roundDeco { display: block; position: absolute; left: -12.4rem; top: -9.4rem; z-index: 1; width: 18.8rem; height: 18.8rem; background-color: #FFD800; border-radius: 50%;}

/* UI-SJN-03-006U */
.mainArea .sejongAbout .body >p { font-size: 1.6rem; color: #555;}
.mainArea .sejongAbout .body .saBg { display: flex; flex-direction: column; justify-content: flex-end; overflow: hidden; height: 16rem; margin-top: 1.6rem; padding: 1.6rem 2rem; font-size: 1.4rem; color: #fff; background: url(../image/info/info_sejongAbout_img.png) no-repeat center/cover; border-radius: 0.8rem;}
.mainArea .sejongAbout .body .saBg b { color: #22FFFF;} 
.mainArea .sejongAbout .body .saBg span { display: block; margin-top: 0.2rem;}
.mainArea .sejongAbout .body .other { display: flex; align-items: flex-end; justify-content: space-between; margin-top: 1.6rem;}
.mainArea .sejongAbout .body .other .brain { color: #111;}
.mainArea .sejongAbout .body .other .brain span { font-size: 1.4rem; color: #555;}
.mainArea .sejongAbout .body .other .brain b { display: block; margin-top: 0.4rem; font-size: 1.6rem;}
.mainArea .sejongAbout .body .other .excursion { padding-bottom: 0.2rem; color: #5D68E6;}
.mainArea .sejongAbout .body .other .excursion i { margin: -0.4rem 0.4rem 0 0; vertical-align: middle; background-position: -36rem -4rem;}
.mainArea .sejongAbout .body .btns { display: flex; align-items: center; justify-content: space-between; margin: 2rem -0.4rem 0;}
.mainArea .sejongAbout .body .btns a { display: flex; align-items: center; justify-content: center; width: 100%; height: 4.8rem; margin: 0 0.4rem; color: #111; border: 1px solid #EAEDF2; background-color: #F3F5F7; border-radius: 0.8rem;}
.mainArea .sejongAbout .body .btns a i { margin: 0.1rem 0 0 0.4rem; vertical-align: middle; background-position: -36rem -6rem; opacity: 0.8;}

.mainArea .usefulService { margin-top: 2.7rem; padding-bottom: 8rem;}
.mainArea .usefulService .roundDeco { display: block; position: absolute; right: -6.5rem; top: -12.7rem; z-index: 1; width: 18.8rem; height: 18.8rem; background-color: #5D68E6; border-radius: 50%;}
.mainArea .usefulService .roundDeco2 { display: block; position: absolute; left: -6.5rem; bottom: 4.2rem; z-index: 1; width: 12rem; height: 12rem; background-color: #CDD0D8; border-radius: 50%;}


/* 장소공유 UI-SJN-04-001U */
.info .subMenuGroup { position: relative; height: 4.8rem; border-bottom: 1px solid #F2F2F2;}
.info .infoMenu { overflow: hidden;}
.info .infoMenu .swiper-wrapper { width: inherit;}
.info .infoMenu li { width: inherit;}
.info .infoMenu li a { display: flex; align-items: center; position: relative; z-index: 1; height: 4.8rem; font-size: 1.6rem; color: #555;}
.info .infoMenu li a.active { font-weight: 700; color: #111; border-bottom: 1px solid #000;}
.info .facility { padding: 1.6rem 2rem 3.2rem;}
.info .facility .fList { display: flex; flex-wrap: wrap; margin: 0.8rem 0 0 -0.4rem;}
.info .facility .fList li { width: calc(100% / 4 - 0.4rem); margin: 0.4rem 0 0 0.4rem;}
.info .facility .fList li figure { display: block; height: 7.7rem; text-align: center;}
.info .facility .fList li figure img { width: 100%; height: 100%;}
.info .facility .fList li figure figcaption { display: flex; justify-content: center; align-items: center; position: absolute; left: 0; right: 0; bottom: 0; height: 2.4rem; background-color: rgba(0, 0, 0, 0.3); }
.info .facility .fList li figure figcaption p { position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; padding-top: 0.1rem; font-size: 1.4rem; color: #fff;}
.info .facility .fList li figure figcaption .blur { display: block; width: 100%; height: 100%; backdrop-filter: blur(5px);}
.info .economy { padding: 1.6rem 2rem 6rem;}

/* 공유경제 등록/수정 UI-SJN-04-004U */
.info .explain-default { padding: 3.2rem 2rem; background-color: #F4F5F7;}
.info .explain-default .text { line-height: 2.3rem;}
.info .approval { margin-top: 3.2rem; padding: 2.4rem 2rem; background-color: #fff;}
.info .approval .title { font-size: 1.6rem; font-weight: 700;}
.info .approval ul { margin-top: 1.6rem;}
.info .approval ul li { position: relative; padding-left: 1.6rem; line-height: 2.3rem;}
.info .approval ul li::after { content: ''; position: absolute; left: 0.7rem; top: 0.9rem; width: 0.4rem; height: 0.4rem; background-color: #292D32; border-radius: 50%;}
.info .approval ul li span { position: relative; margin-left: 0.2rem; padding-left: 0.6rem;}
.info .approval ul li span::after { content: ''; display: block; position: absolute; left: 0; top: 0.3rem; width: 0.1rem; height: 1.4rem; background-color: #ddd;}
.info .approval ul li ~ li { margin-top: 0.8rem;}

.cont { display: none;}
.cont.open { display: block;}
.info .form-default .list >li .selectForm .row.active .selectBtn { border-color: #aaa;}
.info .form-default .list >li .selectForm .row.active .selectBtn::after { transform: rotate(180deg);}

/* 우리가게 UI-SJN-04-005U */
.info .newStore { padding: 1.6rem 2rem 3rem;}
.info .ourStore { padding: 1.6rem 2rem 6rem;}
.info .newStoreBody { overflow: hidden;}
.info .newStoreBody ul { display: flex; flex-wrap: nowrap; margin-top: 0.8rem;}
.info .newStoreBody ul li { width: 50%; min-height: 20.4rem; margin: 0;}
.info .newStoreBody ul li a.picture { display: block; overflow: hidden;}
.info .newStoreBody ul li a.picture figure { display: block; height: 10rem;}
.info .newStoreBody ul li a.text { display: block; margin-top: 1.2rem; color: #555;}
.info .newStoreBody ul li a.text h4 { overflow: hidden; display: -webkit-box; word-break: break-all; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; height: 4.4rem; padding: 0 0.8rem; font-size: 1.5rem; font-weight: 700; color: #111;}
.info .newStoreBody ul li a.text h4 .cWood { font-size: 1.4rem; font-weight: 400; color: #D69630;}
.info .newStoreBody ul li a.text p { line-height: 2.2rem;}
.info .newStoreBody ul li a figure figcaption { display: flex; justify-content: center; align-items: center; position: absolute; left: 0; right: 0; bottom: 0; height: 3rem; background-color: rgba(0, 0, 0, 0.8); }
.info .newStoreBody ul li a figure figcaption p { position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; padding-top: 0.5rem; font-size: 1.4rem; color: #fff; text-align: center;}
.info .newStoreBody ul li a figure figcaption .blur { display: block; width: 100%; height: 100%; /*backdrop-filter: blur(5px);*/}
.info .newStoreBody ul li .header-icons { padding: 0 0.8rem;}
.info .newStoreBody ul li .addItems { display: flex; align-items: center; margin-top: 0.8rem; padding: 0 0.8rem;}
.info .newStoreBody ul li .addItems span { display: flex; align-items: center; justify-content: center; height: 2rem; padding: 0 0.5rem; font-size: 1.3rem;}
.info .newStoreBody ul li .addItems span ~ span { margin-left: 0.4rem;}
.info .newStoreBody ul li .addItems .tag { color: #fff; background-color: #29863b;}
.info .newStoreBody ul li .addItems .sale { color: #E61E1E; border: 1px solid #E61E1E;}

/* 홍보/행사 UI-SJN-04-007U */
.info .promote { padding: 1.6rem 2rem 6rem;}

/* 리뷰 목록 UI-SJN-04-009U */
.info .pictureReview { padding: 1.6rem 2rem;}
.info .pictureReview .pictureBody { overflow: hidden; margin: 0.8rem -2rem 0; padding: 0 2rem;}
.info .pictureReview .pictureBody .empty { display: flex; align-items: center; justify-content: center; width: 100% !important; height: 6.7rem; font-size: 1.6rem; color: #767676;}
.info .pictureReview .pictureBody a { display: block; position: relative;}
.info .pictureReview .pictureBody a img { width: 100%; height: auto; vertical-align: top;}
.info .pictureReview .pictureBody .lastMore .blind { display: flex; align-items: center; justify-content: center; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);}
.info .pictureReview .pictureBody .lastMore .blind span { height: 2.4rem; padding: 0 0.8rem; font-size: 1.4rem; color: #fff; border: 1px solid #fff; border-radius: 1.2rem;}
.info .pictureReview .pictureBody .lastMore .blind span::before { content: '+';}
.info .textReview { padding: 1.6rem 2rem 6rem;}
.info .textReview .locationHeader { display: flex; align-items: center; justify-content: space-between; height: 4.8rem;}
.info .textReview .locationHeader h3 { display: flex; align-items: center; font-size: 1.8rem;}
.info .textReview .locationHeader h3 .cGray { margin-left: 0.8rem; font-size: 1.4rem; font-weight: 400; color: #767676;}
.info .textReview .locationHeader .write { display: block; font-size: 1.6rem; color: #5D68E6;}
.info .textReview .locationHeader .write i { display: inline-block; width: 2.4rem; height: 2.4rem; margin: -0.1rem 0.4rem 0 0; vertical-align: middle; background: url(../image/common/split_48.png) no-repeat -36rem -4.8rem/48rem 28.8rem;}
.info .textReview .locationHeader button { margin-left: 0.6rem;}
.info .textReview .locationHeader button.active { color: #5D68E6;}


/* 리뷰 등록 UI-SJN-04-010P */
.info .reviewForm { padding: 0 2rem 6rem;}
 
/* 사진 리뷰 UI-SJN-04-011P */
.info .pictureGridArea { padding: 1.6rem 2rem 6rem;}

/* 사진 리뷰 UI-SJN-04-012P */
.info .pictureArea { padding: 1.6rem 2rem 4rem;}
.info .pictureArea .pictureList { overflow: hidden; margin: 1.6rem -2rem 0; padding: 0 2rem;}
.info .pictureArea .pictureList li { width: 10rem;}
.info .pictureArea .pictureList li figure { height: 5.6rem;}
.info .pictureArea .headTitle { margin-top: 1.6rem;}
.info .pictureArea .swiper-button-next,
.info .pictureArea .swiper-button-prev { text-indent: -9999rem;}
.info .pictureArea .pgList >li ~ li { margin-top: 0.8rem;}
.info .pictureArea .pgList li figure { height: 18rem;}
.info .pictureArea .pictureBodySlide { overflow: hidden; position: relative;}

/* 신고하기 UI-SJN-04-102U */
.info .reportArea { padding: 1.6rem 2rem 0;}




/* 민원
**********************************************/



/* 환경
**********************************************/

/* UI-SJN-07-001P */
.info .environment { padding: 0 2rem;}
.info .environment .envHeader { padding: 1.6rem 0 2.6rem;}
.info .environment .envHeader header { display: flex; align-items: center; justify-content: space-between; height: 4.8rem;}
.info .environment .envHeader header h3 { font-size: 1.6rem;}
.info .environment .envHeader header .myLocation i { display: block; width: 2.4rem; height: 2.4rem; text-indent: -9999rem; background: url(../image/common/split_48.png) no-repeat -45.6rem 0/48rem 28.8rem;}
.info .environment .weatherTop { display: flex; align-items: center; justify-content: center; height: 7.6rem;}
.info .environment .weatherTop .icon { width: 5.2rem; height: 5.2rem; margin-right: 1.2rem; background-size: 52rem 15.6rem;}
.info .environment .weatherTop .big { font-family: var(--fontRoboto); font-size: 4.3rem;}
.info .environment .weatherTop .big sup { display: inline-block; position: relative; margin-left: 0.1rem; padding-left: 1rem; font-size: 2rem; font-weight: 700; vertical-align: super;}
.info .environment .weatherTop .big sup::before { content: ''; display: block; position: absolute; left: 0; top: 0.9rem; width: 0.4rem; height: 0.4rem; border: 2px solid #111; border-radius: 50%;}
.info .environment .weatherTop .smallBody { display: flex; align-items: center; justify-content: center; margin-top: -0.3rem;}
.info .environment .weatherTop .smallBody span { font-size: 1.3rem;}
.info .environment .weatherTop .smallBody span sup { position: relative; padding-left: 0.6rem; font-size: 1.3rem;}
.info .environment .weatherTop .smallBody span sup::before { content: ''; display: inline-block; position: absolute; left: 0.1rem; top: 0.4rem; width: 0.2rem; height: 0.2rem; border: 1px solid #32BBED; border-radius: 50%;}
.info .environment .weatherTop .smallBody .cBlue { color: #32BBED !important;}
.info .environment .weatherTop .smallBody .cWood { margin-left: 0.4rem; color: #D37398;}
.info .environment .weatherTop .smallBody .cWood::before { content: '/'; margin-right: 0.4rem; color: #ddd;}
.info .environment .weatherTop .smallBody .cWood sup::before { border-color: #D37398;}
.info .environment .weatherMiddle { display: flex; align-items: center; justify-content: center; height: 5.2rem;}
.info .environment .weatherMiddle p { color: #555;}
.info .environment .weatherBottom { display: flex; align-items: center; justify-content: center; margin-top: 1rem;}
.info .environment .weatherBottom >div { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 9.2rem; height: 8rem;}
.info .environment .weatherBottom >div ~ div { border-left: 1px solid #F4F5F7;}
.info .environment .weatherBottom .name { color: #555;}
.info .environment .weatherBottom .round { display: flex; align-items: center; justify-content: center; width: 4.8rem; height: 4.8rem; margin-top: 0.8rem; padding: 0 1rem; color: #fff; border-radius: 50%;}
.info .environment .weatherBottom .round.lowness { background-color: #32A2FF;}
.info .environment .weatherBottom .round.normal { background-color: #01C73D;}
.info .environment .weatherBottom .round.caution { background-color: #FFA60E;}
.info .environment .weatherBottom .round.highness { background-color: #FD7803;}
.info .environment .weatherBottom >div .swIco { display: flex; align-items: center; height: 4.8rem; margin-top: 0.8rem;}
.info .environment .weatherBottom >div .swIco b { margin-left: 0.6rem;}
.info .environment h3 { display: flex; align-items: center; height: 4.8rem; font-size: 1.6rem;}
.info .environment .offerer { display: flex; align-items: center; justify-content: flex-end; height: 4.8rem;}
.info .environment .offerer span { font-size: 1.4rem; color: #767676;}
.info .environment .offerer span ~ span { position: relative; margin-left: 0.7rem; padding-left: 0.6rem;}
.info .environment .offerer span ~ span::after { content: ''; position: absolute; left: 0; top: 0.4rem; width: 0.1rem; height: 1.2rem; background-color: #ddd;}

.info .environment .overflowX { overflow-x: auto; overflow-y: hidden; padding: 0 2rem 1.4rem; scroll-behavior:smooth;}
@media (pointer:fine) {
  .info .environment .overflowX::-webkit-scrollbar { height: 6px;}
  .info .environment .overflowX::-webkit-scrollbar-track { background-color: #F4F5F7; border-radius: 10px;}
  .info .environment .overflowX::-webkit-scrollbar-thumb { background-color: #ddd; border-radius: 10px;}
}

.info .weatherSubTab { margin: 0 -2rem; padding: 1.6rem 0 2.4rem;}
.info .weatherSubTab .boxTab.roundStyle .btnTab { display: flex; align-items: center; height: 4.8rem; padding: 0 1.8rem;}
.info .weatherSubTab .boxTab.roundStyle .btnTab .itemBtn { flex: 1; margin: 0 0.4rem;}
.info .weatherSubTab .boxTab.roundStyle .btnTab .itemBtn button { display: flex; align-items: center; justify-content: center; width: 100%; height: 3.6rem; font-size: 1.4rem; color: #767676; border: 1px solid #EAEAEA; border-radius: 1.8rem;}
.info .weatherSubTab .boxTab.roundStyle .btnTab .itemBtn button.active { color: #fff; background-color: #5D68E6; border-color: #5D68E6;}
.info .boxTab.roundStyle .tabContent { margin-top: 0.8rem; padding: 0;}
.info .weeklyWeather { margin: 0 -2rem; padding: 1.6rem 2rem;}
.info .weeklySunrise { margin: 0 -2rem; padding: 1.6rem 2rem;}
.info .weeklySunrise .titleBox { display: flex; justify-content: space-between;}
.info .weeklySunrise .titleBox .wState { display: flex; align-items: center; justify-content: center; width: 5rem; height: 3rem; font-size: 1.2rem; color: #767676; border-radius: 1.5rem;}
.info .weeklySunrise .titleBox .wSunrise { margin-left: 18%; color: #767676; border: 1px solid #CDD0D8;}
.info .weeklySunrise .titleBox .wSunset { margin-right: 5%; color: #fff; background-color: #A9B0C1;}
.info .weeklyIndex { margin: 0 -2rem; padding: 1.6rem 2rem;}
.info .weeklySatellite { margin: 0 -2rem; padding: 1.6rem 2rem;}
.info .weeklySatellite .Radr a,
.info .weeklySatellite .Stlt a { display: block;}
.info .weeklySatellite .Radr a img,
.info .weeklySatellite .Stlt a img { max-width: 100%; height: auto;}
.info .weeklySatellite .imagery { margin-top: 0.8rem;}
.info .weeklySatellite .Stlt,
.info .weeklySatellite .Radr { position: relative;}
.info .weeklySatellite .controlBar { display: flex; align-items: flex-end; position: absolute; left: 0.8rem; right: 0.8rem; bottom: 0.8rem; height: 4.8rem; padding: 0 2.2rem 1rem 2rem; background-color: #fff;}
.info .weeklySatellite .controlBar >button { width: 2.55rem; height: 2.55rem; text-indent: -9999rem; background: url(../image/info/info_play.png) no-repeat 0 0/2.55rem 5.2rem;}
.info .weeklySatellite .controlBar .play { background-position-y: 0;}
.info .weeklySatellite .controlBar .stop { background-position-y: -2.6rem;}
.info .weeklySatellite .controlBar .bar { flex: 1; position: relative; height: 0.2rem; margin-left: 2rem; background-color: #EAEDF2;}
.info .weeklySatellite .controlBar .bar .line { display: block; position: absolute; left: 0; top: 0; height: 0.2rem; background-color: #5D68E6;}
.info .weeklySatellite .controlBar .bar .time { display: flex; justify-content: center; position: absolute; right: -2.2rem; top: -2.8rem; width: 4.4rem; height: 2.4rem; padding-top: 0.1rem; font-size: 1.3rem; font-weight: 700; color: #fff; background: url(../image/info/ico_comment.png) no-repeat center/4.4rem 2.4rem;}
.info .weeklySatellite .sumText { margin-top: 1.4rem;}
.info .weeklySatellite .sumText p { font-size: 1.4rem; color: #767676;}




/* 교육
**********************************************/

/* 교육정보 UI-SJN-08-001P */
.info .boxTab .btnTab { display: flex; height: 4.8rem;}
.info .boxTab .btnTab .itemBtn { display: flex; align-items: center; justify-content: center; flex: 1;}
.info .boxTab .btnTab .itemBtn button,
.info .boxTab .btnTab .itemBtn a { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; font-size: 1.6rem; color: #555; border-bottom: 1px solid #F2F2F2;}
.info .boxTab .btnTab .itemBtn button.active { font-weight: 700; color: #111; border-bottom: 2px solid #5D68E6;}
.info .tabContent { padding: 0.8rem 2rem 4rem;}
.info .tabContent >div { display: none;}
.info .tabContent >div.active { display: block;}
.info .tabContent .button-more { margin-top: 3.5rem; border-top: 1px solid #F2F2F2;}




/* 문화
**********************************************/

/* 문화행사캘린더 UI-SJN-09-001P */
.info .character { background-color: #34384E;}
.info .character a { display: flex; justify-content: center; flex-direction: column; position: relative; height: 7.2rem; padding-left: 6.4rem;}
.info .character a .t { font-size: 1.4rem; color: #D69630;}
.info .character a .st { margin-top: 0.4rem; font-size: 1.4rem; color: #fff;}
.info .character a .link { position: absolute; right: 1.8rem; top: 50%; margin-top: -1.1rem; font-size: 1.6rem; font-weight: bold; color: #fff;}
.info .character a .link::after { content: ''; display: inline-block; width: 0.7rem; height: 1.15rem; margin-left: 0.5rem; background: url(../image/info/ico_arrow_right.png) no-repeat center/cover;}
.info .character a .icon { display: flex; align-items: center; justify-content: center; position: absolute; left: 2rem; top: 50%; width: 3.2rem; height: 3.2rem; margin-top: -1.6rem; text-align: center; background-color: #D69630; border-radius: 50%;}
.info .character a .icon span { display: inline-block; width: 1.8rem; height: 1.9rem; background: url(../image/info/ico_doco_bell.png) no-repeat center/cover;}
.info .festival { padding: 1.6rem 2rem 3rem;}
.info .culture { padding: 1.6rem 2rem 6rem;}
.info .culture .button-more { margin-top: 1.6rem;}

/* UI-SJN-09-002U */
.info .newsArea .dateLine { display: flex; align-items: center; height: 5.6rem; margin: 0 -2rem; margin-top: 1.6rem; padding: 0 2rem; border-top: 6px solid #F4F5F7; border-bottom: 6px solid #F4F5F7;}
.info .newsArea .dateLine b { width: 5rem;}


/* 세종뉴스
**********************************************/

/* 공지/뉴스 UI-SJN-11-001U, UI-SJN-11-002U */
.info .newsArea { padding: 0 2rem 2.4rem;}
.info .viewBody .paragraph img { max-width: 100%; height: auto; margin-top: 2.4rem;}
.info .viewBody .paragraph p { margin-top: 2.4rem; font-size: 1.6rem; color: #555; line-height: 2.4rem;}
.info .viewBody .viewCite { margin-top: 1.6rem;}
.info .viewBody .viewCite span { color: #555;}
.info .viewBody .viewCite span::before { content: ''; display: inline-block; width: 2rem; height: 2rem; margin-right: 0.4rem; vertical-align: sub; background: url(../image/common/split_40.png) no-repeat -2rem 0/40rem 16rem;}
.info .viewBody .viewCite a { color: #5D68E6; border-bottom: 1px solid #5D68E6;}
.info .viewBody .copyRight { margin-top: 2rem;}
.info .viewBody .copyRight p { font-size: 1.4rem; color: #767676;}
.info .articleList { padding: 1.6rem 2rem 4rem;}




/* 도시통합정보센터
**********************************************/

/* 견학신청 UI-SJN-13-002U */
.info .tripHead .intro { display: flex; align-items: center; height: 4.8rem; padding: 0 2rem; color: #fff; background-color: #5D68E6;}
.info .tripHead .intro::after { content: ''; width: 2.4rem; height: 2.4rem; margin-left: 0.4rem; background:  url(../image/common/split_48.png) no-repeat -4.8rem 0/48rem 28.8rem;}
.info .tripHead .reserve { position: relative; padding: 2.4rem 2rem 2rem; color: #fff; background-color: #A9B0C1;}
.info .tripHead .reserve .t { font-size: 1.6rem;}
.info .tripHead .reserve .st { position: relative; margin-top: 1.2rem; padding-left: 2.8rem;}
.info .tripHead .reserve .st::after { content: ''; position: absolute; left: 0.2rem; top: 0.1rem; width: 2rem; height: 2rem; background: url(../image/common/split_40.png) no-repeat 0 0/40rem 16rem;}
.info .tripHead .reserve ul li { position: relative; margin-top: 0.8rem; padding-left: 2.8rem; letter-spacing: 0;}
.info .tripHead .reserve ul li.tel::after { content: ''; position: absolute; left: 0; top: 0; width: 2.4rem; height: 2.4rem; background: url(../image/common/split_48.png) no-repeat 0 0/48rem 28.8rem;}
.info .tripHead .reserve ul li.email::after { content: ''; position: absolute; left: 0; top: 0; width: 2.4rem; height: 2.4rem; background: url(../image/common/split_48.png) no-repeat -2.4rem 0/48rem 28.8rem;}
.info .tripHead .reserve .link { display: flex; align-items: center; justify-content: center; position: absolute; right: 2rem; bottom: 2rem; width: 7.2rem; height: 7.2rem; color: #fff; background: url(../image/info/info_trip_bg.png) no-repeat center/7.2rem 7.2rem;}
.info .tripHead .reserve .link i.deco { display: block; width: 1.8rem; height: 1.35rem; margin-left: 0.5rem; background: url(../image/info/info_wArrow_right.png) no-repeat center/cover;}
.info .tripCalendar { padding: 1.6rem 2rem 2rem;}
.info .tripCalendar .notes {display: flex; align-items: center; height: 4.8rem;}
.info .tripCalendar .notes .slideContainer {  overflow: hidden; margin: 0 -2rem; padding: 0 2rem;}
.info .tripCalendar .notes .swiper-slide { width: 7.6rem;}
.info .tripCalendar .notes .swiper-slide span { display: inline-block; position: relative; padding-left: 2rem; font-size: 1.4rem; color: #767676;}
.info .tripCalendar .notes .swiper-slide span::after { content: ''; display: block; position: absolute; left: 0; top: 0.3rem; width: 1.2rem; height: 1.2rem; border-radius: 50%;}
.info .tripCalendar .notes .swiper-slide span.complete::after { background-color: #555;}
.info .tripCalendar .notes .swiper-slide span.wait::after { background-color: #CDD0D8;}
.info .tripCalendar .notes .swiper-slide span.possible::after { background-color: #5D68E6;}
.info .tripCalendar .notes .swiper-slide span.impossible::after { background-color: #E61E1E;}
.info .tripCalendar .notes .swiper-slide span.companion::after { background-color: #32BBED;}
.info .tripCalendar .notes .swiper-slide span.modify::after { background-color: #D69630;}

/* 포토갤러리 UI-SJN-13-006U */
.info .galleryView figure { min-height: 16rem;}

/* 포토갤러리 UI-SJN-13-006U */
.info .pictureNewsArea { padding-top: 1.5rem;}

/* 스마트도시 소개 UI-SJN-14-001U */
.info .introduce { overflow: hidden; position: relative; padding: 0 2rem;}
.info .introduce .introduceHeader { display: flex; align-items: center; height: 7.2rem;}
.info .introduce .introduceHeader h3 { font-size: 2rem;}
.info .introduce .introduceHeader h3 .cBlue { display: block;}
.info .introduce .introduceGuide { position: relative; z-index: 1; height: 48rem; margin-top: 21rem;}
.info .introduce .introduceGuide .data { position: absolute; left: 0; top: -1rem; width: 100%; height: 31rem;}
.info .introduce .introduceGuide .data .dataPosition { position: relative; width: 32rem; height: 100%; margin: 0 auto;}
.info .introduce .introduceGuide .data .dataPosition >div { position: absolute; text-align: center; border-radius: 50%;}
.info .introduce .introduceGuide .data .dataPosition .dataWhite { display: flex; align-items: center; justify-content: center; left: 50%; top: 50%; z-index: 1; width: 13.2rem; height: 13.2rem; font-size: 1.6rem; color: #5D68E6; background-color: #fff; transform: translate(-50%, -50%);}
.info .introduce .introduceGuide .data .dataPosition .dataWhite .t { font-size: 1.6rem;}
.info .introduce .introduceGuide .data .dataPosition .dataWhite sup { display: inline-block; width: 0.7rem; height: 0.7rem; margin: -1.3rem 0.2rem 0 0.2rem; vertical-align: middle; background: url(../image/info/ico_deco_keypoint.png) no-repeat center bottom/contain;}
.info .introduce .introduceGuide .data .dataPosition .other { width: 18.2rem; height: 18.2rem; color: #fff;}
.info .introduce .introduceGuide .data .dataPosition .dataBlue { left: 50%; top: 0; padding-top: 3.4rem; background-color: rgba(102, 132, 234, 0.8); transform: translateX(-50%);}
.info .introduce .introduceGuide .data .dataPosition .dataGreen { left: 0; bottom: 0; padding: 10rem 2.6rem 0 0; background-color: rgba(78, 196, 87, 0.8);}
.info .introduce .introduceGuide .data .dataPosition .dataSkyblue { right: 0; bottom: 0; padding: 10rem 0 0 2.6rem; background-color: rgba(50, 187, 237, 0.8);}
.info .introduce .introduceGuide .data .dataPosition .t { font-size: 1.8rem; font-weight: 700;}
.info .introduce .introduceGuide .data .dataPosition .st { margin-top: 0.4rem; font-size: 1.1rem; letter-spacing: 0;}
.info .introduce .introduceGuide >p { position: absolute; z-index: 1; font-size: 1.3rem; color: #767676; word-break: keep-all; letter-spacing: -0.1em; line-height: 2.2rem;}
.info .introduce .introduceGuide >p::after { content: ''; display: block; position: absolute; width: 1.5rem; height: 1.5rem; background-color: #CCD2E3; border-radius: 50%;}
.info .introduce .introduceGuide >p::before { content: ''; display: block; position: absolute; width: 0.1rem; background-color: #CCD2E3;}
.info .introduce .introduceGuide .textPoa_a { left: 0; right: 0; top: -9rem; text-align: center;}
.info .introduce .introduceGuide .textPoa_b { left: 0; top: 36.8rem; width: 48%;}
.info .introduce .introduceGuide .textPoa_c { right: 0; top: 36.8rem; width: 48%;}
.info .introduce .introduceGuide .textPoa_a::after { left: 50%; bottom: -2.2rem; margin-left: -0.675rem;}
.info .introduce .introduceGuide .textPoa_a::before { left: 50%; bottom: -6.4rem; height: 5.5rem;}
.info .introduce .introduceGuide .textPoa_b::after { right: 6.6rem; top: -2rem;}
.info .introduce .introduceGuide .textPoa_b::before { right: 7.3rem; top: -9.7rem;; height: 8.3rem;}
.info .introduce .introduceGuide .textPoa_c::after { left: 6.6rem; top: -2rem;}
.info .introduce .introduceGuide .textPoa_c::before { left: 7.3rem; top: -9.7rem;; height: 8.3rem;}
.info .introduce .deco { position: absolute; left: 50%; top: 50%; margin-top: -1.1rem; border: 1px solid #F4F5F7; border-radius: 50%; transform: translate(-50%, -50%);}
.info .introduce .deco.circle_a { width: 24rem; height: 24rem;}
.info .introduce .deco.circle_b { width: 32rem; height: 32rem;}
.info .introduce .deco.circle_b::before { content: ''; position: absolute; left: 1.2rem; top: 6.2rem; width: 2.4rem; height: 2.4rem; background: url(../image/info/ico_introduce_arrow.png) no-repeat center/cover; transform: rotate(-52deg);}
.info .introduce .deco.circle_b::after { content: ''; position: absolute; right: 1.2rem; top: 6.1rem; width: 2.4rem; height: 2.4rem; background: url(../image/info/ico_introduce_arrow.png) no-repeat center/cover; transform: rotate(57deg);}
.info .introduce .deco.circle_c { width: 40rem; height: 40rem;}
.info .introduce .deco.circle_c::before { content: ''; position: absolute; right: 10.5rem; bottom: 0.5rem; width: 2.4rem; height: 2.4rem; background: url(../image/info/ico_introduce_arrow.png) no-repeat center/cover; transform: rotate(154deg);}
.info .introduce .deco.circle_d { width: 48rem; height: 48rem;}
.info .introduce .deco.circle_e { width: 56rem; height: 56rem;}

.info .goal { background: url(../image/info/info_goal_bg.png) no-repeat center bottom/contain;}
.info .goal .goalArea { padding: 1.6rem 2rem 5.6rem;}
.info .goal .goalList li { padding: 1.9rem 0 1.4rem; border-bottom: 1px solid #F4F5F7;}
.info .goal .goalList li h4 { font-size: 1.6rem;}
.info .goal .goalList li h4 span { margin-left: 0.8rem; font-size: 1.3rem; font-weight: 400; color: #aaa; letter-spacing: 0;}
.info .goal .goalList li p { margin-top: 0.8rem;}
.info .goal .goalBgBody { margin-top: 4.3rem;}
.info .goal .goalBgList { display: flex; align-items: center;}
.info .goal .goalBgList li { flex: 1; text-align: center;}
.info .goal .goalBgList li .goalIcons { display: flex; align-items: center; justify-content: center; width: 4.8rem; height: 4.8rem; margin: 0 auto; background-color: #fff; box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1); border-radius: 1.3rem;}
.info .goal .goalBgList li .goalIcons i { display: block; width: 3.2rem; height: 3.2rem; background: url(../image/info/split_goal.png) no-repeat 0 0/cover;}
.info .goal .goalBgList li .goalIcons.health i { background-position-x: -3.2rem;}
.info .goal .goalBgList li .goalIcons.environment i { background-position-x: -6.4rem;}
.info .goal .goalBgList li .goalIcons.calamity i { background-position-x: -9.6rem;}
.info .goal .goalBgList li .goalIcons.energy i { background-position-x: -12.8rem;}
.info .goal .goalBgList li .goalIcons.convenience i { background-position-x: -16rem;}
.info .goal .goalBgList li p { margin-top: 0.8rem; font-size: 1.4rem; color: #767676;}
.info .keyPoint { margin-top: 4rem;}
.info .keyPoint .keyPointArea { padding: 3.2rem 2rem 4rem;}
.info .keyPoint .keyPointHeader { display: flex; align-items: center; height: 7.2rem;}
.info .keyPoint .keyPointHeader h4 { font-size: 1.8rem; line-height: 2.6rem;}
.info .keyPoint .keyPointHeader h4 sup { display: inline-block; width: 0.7rem; height: 0.7rem; margin: -1.6rem 0 0 0.2rem; vertical-align: middle; background: url(../image/info/ico_deco_keypoint.png) no-repeat center/cover;}
.info .keyPoint .keyPointHeader h4 .cBlue { display: block;}
.info .keyPoint .keyPointBody { margin-top: 2rem;}
.info .keyPoint .keyPointBody li dl { padding: 1.7rem 2rem 2rem; color: #fff;}
.info .keyPoint .keyPointBody li:nth-child(1) { background-color: #5D68E6;}
.info .keyPoint .keyPointBody li:nth-child(2) { background-color: #4EC4AD;}
.info .keyPoint .keyPointBody li:nth-child(3) { background-color: #29863b;}
.info .keyPoint .keyPointBody li dl dt span { display: block; font-size: 1.3rem;}
.info .keyPoint .keyPointBody li dl dt strong { display: block; font-size: 1.8rem;}
.info .keyPoint .keyPointBody li dl dd { margin-top: 2rem;}
.info .keyPoint .keyPointBody li dl dd p { letter-spacing: -0.09em;}














