/* 통합검색
**********************************************/

/* 공통 */
.boderTopGray { border-top: 1px solid #EAEAEA;}

/* UI-SJN-01-001U */
.mainArea { overflow: hidden; padding: 3.2rem 2rem 0; background: linear-gradient(to bottom,  #fff 0%, #f3f5f7 40%);}
.mainArea .mainTitle { font-size: 1.6rem; line-height: 2.4rem;}
.mainArea .repMenu { overflow: hidden; display: grid; gap: 0.4rem; grid-template-columns: repeat(2, 1fr); margin-top: 2.4rem; border-radius: 0.8rem;}
.mainArea .repMenu a { display: block; position: relative; height: 15.8rem; }
.mainArea .repMenu a b { display: block; position: absolute; left: 0; bottom: 1.6rem; width: 100%; font-size: 1.6rem; color: #fff; text-align: center;}
.mainArea .repMenu a .prepare { display: inline-flex; align-items: center; justify-content: center; position: absolute; left: 50%; top: 5rem; height: 2.8rem; padding: 0 0.8rem; font-size: 1.4rem; color: #333; background-color: #fff; border-radius: 1.4rem; transform: translateX(-50%);}
.mainArea .repMenu a.service1 { padding-top: 1.6rem; background-color: #FF9D22;}
.mainArea .repMenu a.service1 i { display: block; width: 11.6rem; height: 10rem; margin: 0 auto; background: url(../image/home/main_repMenu.png) no-repeat center/cover;}
.mainArea .repMenu a.service2 { background-color: #6684EA;}
.mainArea .repMenu a.service2 i { display: block; width: 15.8rem; height: 11.2rem; margin: 0 auto; background: url(../image/home/main_repMenu2.png) no-repeat center/cover;}
.mainArea .repMenu a.service3 { background-color: #A9B0C1;}
.mainArea .repMenu a.service3 i { display: block; width: 15.8rem; height: 11.2rem; margin: 0 auto; background: url(../image/home/main_repMenu3.png) no-repeat center/cover;}
.mainArea .repMenu a.service4 { padding-top: 2.4rem; background-color: #777;}
.mainArea .repMenu a.service4 i { display: block; width: 8rem; height: 8rem; margin: 0 auto; background: url(../image/home/main_repMenu4.png) no-repeat center/cover;}
.mainArea h3 { display: flex; align-items: center; height: 4.8rem; font-size: 1.8rem;}
.mainArea h3 .small { margin-right: 0.8rem; font-size: 1.5rem; font-weight: 400; color: #555;}
.mainArea .recentService { margin-top: 4rem;}
.mainArea .recentService .mainNav { display: flex; align-items: center; overflow: hidden; position: relative; z-index: 2; margin: 0 -2rem; padding: 0.8rem 2rem 4rem;}
.mainArea .recentService .mainNav ul li { width: auto;}
.mainArea .recentService .mainNav ul li a { display: flex; align-items: center; height: 3.6rem; padding: 0 1.2rem; font-size: 1.4rem; color: #555; background-color: #fff; box-shadow: 0 1rem 2rem rgba(102 132 234 / 16%); border-radius: 1.8rem;}
.mainArea .boxWrap { position: relative;}
.mainArea .boxWrap .boxArea { position: relative; z-index: 2; padding: 2.4rem 1.6rem; background-color: #fff; border-radius: 1.6rem; box-shadow: 0 1rem 3rem rgba(102 132 234 / 20%);}
.mainArea .covid19 .roundDeco { display: block; position: absolute; left: -7rem; top: -6rem; z-index: 1; width: 23rem; height: 23rem; background-color: #6684EA; border-radius: 50%;}
.mainArea .covid19 .title { display: flex; align-items: center; height: 7.8rem; margin-top: 0.8rem; background-color: #F3F5F7; border-radius: 0.8rem;}
.mainArea .covid19 .title i { display: inline-block; width: 4rem; height: 4rem; margin: 0 1.2rem 0 1.6rem; background: url(../image/home/main_ico_notice.png) no-repeat center/cover;}
.mainArea .covid19 .title >div { flex: 1;}
.mainArea .covid19 .title >div b { display: block; font-size: 1.6rem;}
.mainArea .covid19 .title >div span { display: block; margin-top: 0.8rem; font-size: 1.4rem; color: #333;}
.mainArea .covid19 .menu { margin-top: 1.6rem;}
.mainArea .covid19 .menu .btnTab { display: flex; align-items: center; justify-content: space-between; height: 4.8rem;}
.mainArea .covid19 .menu .btnTab li button,
.mainArea .covid19 .menu .btnTab li a { display: flex; align-items: center; justify-content: center; width: 100%; height: 3.6rem; padding: 0 1rem; font-size: 1.4rem; color: #777; border: 1px solid #EAEAEA; border-radius: 1.8rem;}
.mainArea .covid19 .menu .btnTab li button.active { color: #fff; border-color: #D57298; background-color: #D57298;}
.mainArea .covid19 .menu .tabContent { margin-top: 0.8rem;}
.mainArea .covid19 .menu .tabContent >div { display: none;}
.mainArea .covid19 .menu .tabContent >div.active { display: block;}
.mainArea .covid19 .menu .tabContent .clinic { padding: 0.8rem 0;}
.mainArea .covid19 .menu .tabContent .clinic p { font-size: 1.4rem; color: #777;}
.mainArea .covid19 .situation .sDate { display: flex; align-items: center; justify-content: flex-end; height: 3.4rem; font-size: 1.4rem; letter-spacing: 0;}
.mainArea .covid19 .situation img { width: 100%; height: auto;}
.mainArea .covid19 .lineBox { margin-top: 1.6rem; padding: 2.4rem 1.6rem; border: 1px solid #EAEDF2; border-radius: 0.8rem;}
.mainArea .covid19 .lineBox .operation { display: flex; align-items: center;}
.mainArea .covid19 .lineBox .operation .round { display: flex; align-items: center; justify-content: center; height: 2.4rem; margin-right: 0.8rem; padding: 0 0.8rem 0 0.4rem; font-size: 1.4rem; border-radius: 1.2rem;}
.mainArea .covid19 .lineBox .operation .round.operation { color: #4EC457; border: 1px solid #4EC457;}
.mainArea .covid19 .lineBox .operation .round.closed { color: #777; border: 1px solid #777;}
.mainArea .covid19 .lineBox .operation b { flex: 1; font-size: 1.6rem;}
.mainArea .covid19 .lineBox .operation i { background-position-x: -38rem;}
.mainArea .covid19 .lineBox .infomation { display: flex; align-items: center; justify-content: space-between; margin-top: 1.5rem; padding-left: 2.4rem;}
.mainArea .covid19 .lineBox .infomation >div b { display: block; position: relative; font-size: 1.6rem;}
.mainArea .covid19 .lineBox .infomation >div b::after { content: ''; display: inline-block; position: absolute; left: -1.6rem; top: 0.6rem; width: 1rem; height: 1rem; border-radius: 50%;}
.mainArea .covid19 .lineBox .infomation >div span { display: block; margin-top: 0.4rem; font-size: 1.4rem;}
.mainArea .covid19 .lineBox .infomation .guide { display: flex; align-items: center; justify-content: center; flex-direction: column; width: 6rem; height: 6rem; background-color: #6684EA; border-radius: 50%;}
.mainArea .covid19 .lineBox .infomation .guide i { display: block; width: 2.4rem; height: 2.4rem; background: url(../image/common/split_48.png) no-repeat -19.2rem -4.8rem/48rem 28.8rem;}
.mainArea .covid19 .lineBox .infomation .guide b { font-size: 1.2rem; color: #fff;}
.mainArea .covid19 .lineBox .infomation.veryCrowd { color: #FD2020;}
.mainArea .covid19 .lineBox .infomation.veryCrowd >div b::after { background-color: #FD2020;}
.mainArea .covid19 .button-more { margin-top: 1.6rem;}
.mainArea .covid19 .button-more .btn { color: #333;}
.mainArea .covid19 .offerer { display: flex; align-items: center; justify-content: flex-end; height: 4.8rem; margin-top: 1.6rem; padding-top: 0.8rem; border-top: 1px solid #F4F5F7;}
.mainArea .covid19 .offerer button { font-size: 1.4rem; color: #777;}
.mainArea .covid19 .offerer button i { margin-top: -0.2rem; vertical-align: middle; background-color: #EAEDF2; background-position: -19.2rem -19.2rem; border-radius: 50%;}
.mainArea .infection { margin-top: 1.6rem;}
.mainArea .infection .infectionBtn { display: flex; align-items: center; justify-content: space-between; width: 100%;}
.mainArea .infection .infectionBtn span { font-size: 1.4rem; color: #333;}
.mainArea .infection .infectionBtn span i { margin-right: 0.4rem; vertical-align: middle; background-position: 0 -19.2rem;}
.mainArea .infection .infectionBtn b { margin-top: -0.6rem; font-size: 1.6rem;}
.mainArea .weatherBox { margin-top: 3.2rem;}
.mainArea .weatherBox.active { position: fixed; left: 0; right: 0; bottom: calc(10rem + env(safe-area-inset-bottom)); z-index: 52; padding: 0 2rem;}
.mainArea .weatherBox.active .accordionTarget { height: 0;}
.mainArea .weatherBox.active .weatherLink .weather { display: flex; align-items: center;}
.mainArea .weatherBox.active .weatherLink .location { display: none;}
.mainArea .weatherBox.active .weatherLink .toggleBtn { display: flex;}
.mainArea .weatherBox.active .weatherLink .weather .temperature { text-align: center;}
.mainArea .weatherBox.active .weatherLink .val { margin: 0.3rem 0 0 0.6rem;}
.mainArea .weatherBox .weatherLink .weather .icon { margin-top: -0.2rem;}
.mainArea .weatherBox .boxArea { border: 1px solid #000;} 
.mainArea .weatherBox .weatherLink { display: flex; align-items: center; position: relative; color: #111;}
.mainArea .weatherBox .weatherLink .weather { position: relative; width: 15.5rem; margin-right: -2rem; padding-left: 4.6rem; white-space: nowrap;}
.mainArea .weatherBox .weatherLink .weather .icon { position: absolute; left: 0; top: 0; margin-right: 0;}
.mainArea .weatherBox .weatherLink .weather .temperature { display: block; position: relative; font-size: 1.8rem;}
.mainArea .weatherBox .weatherLink .weather .temperature::after { content: ''; position: absolute; left: 1.2rem; top: 0.6rem; width: 0.2rem; height: 0.2rem; border: 2px solid #111; border-radius: 50%;}
.mainArea .weatherBox .weatherLink .weather .temperature span { margin-left: 0.5rem; font-size: 1.6rem;}
.mainArea .weatherBox .weatherLink .val { display: flex; align-items: center; margin: 0.4rem 0 0 0;}
.mainArea .weatherBox .weatherLink .val p { position: relative; font-size: 1.3rem; color: #555;}
.mainArea .weatherBox .good { color: #4EC457;}
.mainArea .weatherBox .bed { color: #FD2020;}
.mainArea .weatherBox .weatherLink .val p ~ p { margin-left: 0.5rem; padding-left: 0.5rem;}
.mainArea .weatherBox .weatherLink .val p ~ p::after { content: ''; position: absolute; left: 0; top: 0.7rem; width: 0.2rem; height: 0.2rem; background-color: #aaa; border-radius: 50%;}
.mainArea .weatherBox .weatherLink .poa { position: absolute; right: 0; top: 0.2rem;}
.mainArea .weatherBox .weatherLink .toggleBtn { display: none; align-items: center; justify-content: center; width: 2.4rem; height: 2.4rem; background-color: #F3F5F7; border-radius: 50%;}
.mainArea .weatherBox .weatherLink .toggleBtn i { background-position: -16.8rem -19.2rem;}
.mainArea .weatherBox .weatherLink .location { display: block;}
.mainArea .weatherBox .weatherLink .location span { font-size: 1.3rem; color: #777;}
.mainArea .weatherBox .weatherLink .location i { margin-top: -0.2rem; vertical-align: middle; background-color: #EAEDF2; background-position: -19.2rem -19.2rem; border-radius: 50%;}
.mainArea .weatherBox .nav_side { margin: 0.8rem 0 1.6rem;}
.mainArea .weatherBox .accordionTarget { overflow: hidden; transition: height 0.3s ease-in-out;}
.mainArea .weatherBox .accordionTarget img { width: 100%; height: auto;}
.mainArea .weatherBox .accordionTarget .tabContent >div { display: none;}
.mainArea .weatherBox .accordionTarget .tabContent >div.active { display: block;}
.mainArea .weatherBox .anniversary { display: flex; align-items: center; height: 4.8rem; margin-top: 2rem; padding-top: 0.8rem; border-top: 1px solid #F4F5F7;}
.mainArea .weatherBox .anniversary b { margin-right: 0.8rem; font-size: 1.6rem; color: #32BBED;}
.mainArea .weatherBox .anniversary span { font-size: 1.6rem;}
.mainArea .weatherBox .particulates .body { display: flex; align-items: center; height: 11.2rem;}
.mainArea .weatherBox .particulates .body >div { flex: 1; text-align: center;}
.mainArea .weatherBox .particulates .body >div ~ div { position: relative;}
.mainArea .weatherBox .particulates .body >div ~ div::after { content: ''; position: absolute; left: 0; top: 50%; width: 0.1rem; height: 8rem; margin-top: -4rem; background-color: #EAEDF2;}
.mainArea .weatherBox .particulates .body >div >span { font-size: 1.4rem;}
.mainArea .weatherBox .particulates .body >div h4 { font-size: 1.6rem;}
.mainArea .weatherBox .particulates .body >div .number { margin: 0.7rem 0 0.5rem;}
.mainArea .weatherBox .particulates .body >div .number .pm10 { margin: -0.5rem 0.4rem 0 0; vertical-align: middle; background-position: -21.6rem -19.2rem;}
.mainArea .weatherBox .particulates .body >div .number .pm25 { margin: -0.5rem 0.4rem 0 0; vertical-align: middle; background-position: -21.6rem -21.6rem;}
.mainArea .weatherBox .particulates .body >div .number b { font-size: 1.8rem;}
.mainArea .weatherBox .offerer { display: flex; align-items: center; justify-content: flex-end; margin-top: 0.8rem;}
.mainArea .weatherBox .offerer span { font-size: 1.4rem; color: #777;}
.mainArea .mainNews { margin-top: 3.2rem;}
.mainArea .mainNews .roundDeco { display: block; position: absolute; right: -9.4rem; top: -14.7rem; z-index: 1; width: 23rem; height: 23rem; background-color: #32BBED; border-radius: 50%;}
.mainArea .mainNews .mainNewsList { position: relative; padding-bottom: 2.8rem;}
.mainArea .mainNews .mainNewsList .swiper-pagination { bottom: 0;} 
.mainArea .mainNews .mainNewsList .swiper-pagination .swiper-pagination-bullet { background-color: #EAEAEA; opacity: 1;}
.mainArea .mainNews .mainNewsList .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active { background-color: #6684EA;}
.mainArea .mainNews .slideContainer { overflow: hidden;}
.mainArea .mainNews .slideContainer li { overflow: hidden; border-radius: 0.8rem;}
.mainArea .mainNews .slideContainer li a { display: block;}
.mainArea .mainNews .slideContainer li a img { width: 100%; height: auto; vertical-align: top;}
.mainArea .mainNews .mainNewsPiece { margin: 3.2rem -1.6rem 0;}
.mainArea .mainNews .mainNewsPiece .slideContainer { padding: 0 1.6rem;}
.mainArea .mainNews .mainNewsPiece li { width: 14rem;}
.mainArea .mainNews .mainNewsPiece li a { display: block; color: #111;}
.mainArea .mainNews .mainNewsPiece li a figure { width: 14rem; height: 9.2rem;}
.mainArea .mainNews .mainNewsPiece li a p { height: 4.8rem; margin-top: 1.2rem; line-height: 2.4rem;}
.mainArea .mainNews .mainNewsPiece li a span { display: block; margin-top: 0.9rem; font-size: 1.4rem; color: #777;}
.mainArea .mainNews .button-more { margin-top: 2.5rem; padding-top: 0.8rem; border-top: 1px solid #F4F5F7;}
.mainArea .mainNews .button-more .btn { color: #333;}
.mainArea .oilPrice { margin-top: 3.2rem;}
.mainArea .oilPrice .roundDeco { display: block; position: absolute; left: -7rem; top: -12.8rem; z-index: 1; width: 18rem; height: 18rem; background-color: #4EC457; border-radius: 50%;}
.mainArea .oilPrice .average { display: flex; align-items: center; justify-content: space-between; margin-top: 1.6rem;}
.mainArea .oilPrice .average .title b { font-size: 1.6rem;}
.mainArea .oilPrice .average .title span { font-size: 1.4rem; color: #777;}
.mainArea .oilPrice .average .oilDate { font-family: var(--fontRoboto); font-size: 1.4rem; color: #777; letter-spacing: 0;}
.mainArea .oilPrice .price { margin-top: 2.4rem;}
.mainArea .oilPrice .price select { padding: 0; font-size: 1.6rem; border: none; border-bottom: 1px solid #ddd;}
.mainArea .oilPrice .price .t { display: flex; align-items: center; margin-top: 3.2rem;}
.mainArea .oilPrice .price .t b { margin-right: 0.8rem; font-family: var(--fontRoboto); font-size: 2rem; letter-spacing: 0;}
.mainArea .oilPrice .price .t span { font-family: var(--fontRoboto); font-size: 1.4rem; font-weight: 700; letter-spacing: 0;}
.mainArea .oilPrice .price .up { color: #FD2020;}
.mainArea .oilPrice .price .down { color: #6684EA;}
.mainArea .oilPrice .price .u { margin-top: 1rem;}
.mainArea .oilPrice .price .u span { font-family: var(--fontRoboto); font-size: 1.4rem; letter-spacing: 0;}
.mainArea .oilPrice .offerer { display: flex; align-items: center; justify-content: flex-end; height: 4.8rem; margin-top: 0.4rem;}
.mainArea .oilPrice .offerer span { font-size: 1.4rem; color: #777;}
.mainArea .oilPrice .button-more { margin-top: 0.4rem; padding-top: 0.8rem; border-top: 1px solid #F4F5F7;}
.mainArea .oilPrice .button-more .btn { color: #333;}
.mainArea .hospital { margin-top: 3.2rem;}
.mainArea .hospital .roundDeco { display: block; position: absolute; right: -14.4rem; top: -8.6rem; z-index: 1; width: 23rem; height: 23rem; background-color: #A9B0C1; border-radius: 50%;}
.mainArea .hospital .boxArea { padding-bottom: 4rem;}
.mainArea .hospital h3 { height: 6.8rem;}
.mainArea .hospital p { margin-top: 0.4rem; font-size: 1.6rem; color: #777;}
.mainArea .hospital ul { margin-top: 3.3rem; border-top: 1px solid #F4F5F7;}
.mainArea .hospital ul li { border-bottom: 1px solid #F4F5F7;}
.mainArea .hospital ul li a { display: flex; align-items: center; height: 4.8rem; font-weight: 700; font-size: 1.6rem; color: #6684EA;}
.mainArea .hospital ul li a.hospitalLink i { margin-right: 0.8rem; background-position: -2.4rem -19.2rem;}
.mainArea .hospital ul li a.pharmacyLink i { margin-right: 0.8rem; background-position: -4.8rem -19.2rem;}
.mainArea .hospital ul li a::after { content: ''; }
.mainArea .weekClosed { margin-top: 3.2rem;}
.mainArea .weekClosed .boxArea { padding-bottom: 4rem;}
.mainArea .weekClosed h3 { display: block; height: inherit; padding: 0.9rem 0;}
.mainArea .weekClosed h3 span { display: inline-block; vertical-align: top;}
.mainArea .weekClosed .body { display: flex; align-items: center; justify-content: space-between; margin-top: 2.4rem;}
.mainArea .weekClosed .body a { display: block; width: 8rem; color: #111; text-align: center;}
.mainArea .weekClosed .body a span { display: block; margin-top: 1.6rem; font-size: 1.6rem;}
.mainArea .weekClosed .body a img { width: 100%; height: 8rem;}
.mainArea .sejong { margin-top: 3.2rem;}
.mainArea .sejong .roundDeco { display: block; position: absolute; left: -5rem; top: -9.1rem; z-index: 1; width: 16.5rem; height: 16.5rem; background-color: #D69630; border-radius: 50%;}
.mainArea .sejong .boxArea { padding-bottom: 4rem;}
.mainArea .sejong .body { display: block; overflow: hidden; height: 16rem; margin-top: 0.8rem; padding: 9.2rem 2rem 0; background: url(../image/home/main_sejong_img.png) no-repeat center/cover; border-radius: 0.8rem;}
.mainArea .sejong .body >div img { width: 8.55rem; height: 1.825rem; margin-right: 0.9rem; vertical-align: middle;}
.mainArea .sejong .body >div i { display: inline-block; width: 15.2rem; height: 0.75rem; margin-top: -0.6rem; vertical-align: middle; background: url(../image/home/main_sejong_arrow.png) no-repeat right top/cover;}
.mainArea .sejong .body span { display: block; margin-top: 0.8rem; font-size: 1.4rem; color: #fff;}
.mainArea .anchorTop { margin-top: 4rem;}
.mainArea .anchorTop .anchorTopBtn { display: flex; align-items: center; justify-content: center; width: 100%; height: 4.8rem; font-family: var(--fontPretendard); font-size: 1.3rem; color: #aaa;}
.mainArea .anchorTop .anchorTopBtn i { margin-right: 0.4rem; background-position: -7.2rem -19.2rem;}

.home .footer { padding: 2.2rem 0 4rem; border-top: 1px solid #EAEAEA; background-color: #f3f5f7;}
.home .footer >div { display: flex; align-items: center; justify-content: center; flex-wrap: wrap;}
.home .footer >div a { display: block; min-width: calc(100% / 3); margin-top: 1rem; font-family: var(--fontPretendard); font-size: 1.3rem; color: #777; text-align: center;}
.home .footer p { margin-top: 4.2rem; font-family: var(--fontPretendard); font-size: 1.3rem; color: #aaa; text-align: center;}

.mainMenuFixed { position: relative; margin-bottom: -2rem; padding-bottom: 7rem;}
.mainMenuFixed .mainMenu { position: fixed; left: 0; bottom: env(safe-area-inset-bottom); z-index: 50; width: 100%; height: 7rem; padding: 0 4rem; background-color: #fff; box-shadow: 0 -0.2rem 0.6rem rgba(0 0 0 / 5%);}
/* .mainMenuFixed .mainMenu .mainMenuList .swiper-wrapper { transform: translate3d(0px, 0, 0) !important;} */
.mainMenuFixed .mainMenu .mainMenuList .slideContainer { width: 33.33%; margin: 0 auto;}
.mainMenuFixed .mainMenu .mainMenuList .slideContainer ul li { padding-top: 1.18rem;}
.mainMenuFixed .mainMenu .mainMenuList .slideContainer ul li button { display: block; width: 100%; text-align: center;}
.mainMenuFixed .mainMenu .mainMenuList .slideContainer ul li button >span { display: inline-block; font-size: 1.2rem; color: #777;}
.mainMenuFixed .mainMenu .mainMenuList .slideContainer ul li button >span .name { display: block; margin-top: 0.5rem;}
.mainMenuFixed .mainMenu .mainMenuList .slideContainer ul li button br { display: none;}
.mainMenuFixed .mainMenu .mainMenuList .slideContainer ul li button .deco { position: absolute; left: 50%; top: 0; z-index: -1; width: 7.875rem; height: 1.9rem; margin-left: -3.9rem; background: url(../image/common/main_manubg.png) no-repeat center/cover; opacity: 0; transition: top .2s ease;}
.mainMenuFixed .mainMenu .mainMenuList .slideContainer ul li button .icon { display: block; width: 2.4rem; height: 2.4rem; margin: 0 auto; background: url(../image/common/split_48.png) no-repeat 0rem 0/48rem 28.8rem;}
.mainMenuFixed .mainMenu .mainMenuList .slideContainer ul li button.infoMenu .icon { background-position: -9.6rem -19.2rem;}
.mainMenuFixed .mainMenu .mainMenuList .slideContainer ul li button.homeMenu .icon { background-position: -12rem -19.2rem;}
.mainMenuFixed .mainMenu .mainMenuList .slideContainer ul li button.mapMenu .icon { background-position: -14.4rem -19.2rem;}
.mainMenuFixed .mainMenu .mainMenuList .slideContainer ul li.swiper-slide-active button br { display: block;}
.mainMenuFixed .mainMenu .mainMenuList .slideContainer ul li.swiper-slide-active button >span { display: flex; position: absolute; z-index: 2; align-items: center; justify-content: center; left: 50%; top: -0.6rem; width: 4.8rem; height: 4.8rem; margin-left: -2.4rem; color: #fff; line-height: 1.4rem; box-shadow: 0 0.3rem 0.8rem rgba(0 0 0 / 20%); border-radius: 50%;}
.mainMenuFixed .mainMenu .mainMenuList .slideContainer ul li:nth-child(1).swiper-slide-active button >span { border: 1px solid #40B549; background-color: #4EC457;}
.mainMenuFixed .mainMenu .mainMenuList .slideContainer ul li:nth-child(2).swiper-slide-active button >span { border: 1px solid #5575E2; background-color: #6684EA;}
.mainMenuFixed .mainMenu .mainMenuList .slideContainer ul li:nth-child(3).swiper-slide-active button >span { border: 1px solid #5575E2; background-color: #6684EA;}
.mainMenuFixed .mainMenu .mainMenuList .slideContainer ul li.swiper-slide-active button >span .name { margin-top: 0;}
.mainMenuFixed .mainMenu .mainMenuList .slideContainer ul li.swiper-slide-active button .deco { top: -1.9rem; z-index: 1; opacity: 1;}
.mainMenuFixed .mainMenu .mainMenuList .slideContainer ul li.swiper-slide-active button .icon { display: none;}
.mainMenuFixed .mainMenu .mainMenuList .swiper-button-prev { all: unset; position: absolute; left: 0; bottom: 0; z-index: 52; width: 4rem; height: 7rem; text-indent: -9999rem; background-color: #fff;}
.mainMenuFixed .mainMenu .mainMenuList .swiper-button-prev::after { content: ''; display: block; position: absolute; right: 0; top: 1.6rem; width: 2rem; height: 2rem; background: url(../image/common/split_40.png) no-repeat -34rem -6rem/40rem 16rem;}
.mainMenuFixed .mainMenu .mainMenuList .swiper-button-next { all: unset; position: absolute; right: 0; bottom: 0; z-index: 52; width: 4rem; height: 7rem; text-indent: -9999rem; background-color: #fff;}
.mainMenuFixed .mainMenu .mainMenuList .swiper-button-next::after { content: ''; display: block; position: absolute; left: 0; top: 1.6rem; width: 2rem; height: 2rem; background: url(../image/common/split_40.png) no-repeat -34rem -4rem/40rem 16rem;}
.mainMenuFixed .chatbot { display: block; position: fixed; right: 2rem; bottom: calc(19rem + env(safe-area-inset-bottom)); z-index: 53; width: 4.8rem; height: 4.8rem; font-size: 1.3rem; font-weight: 700; background-color: #FFD800; box-shadow: 0 0.4rem 2rem rgba(0 0 0 / 10%); border-radius: 50%; transition: bottom .3s ease-in-out;}
.mainMenuFixed .chatbot.bottom { bottom: calc(9rem + env(safe-area-inset-bottom));}

/* UI-SJN-02-001U */
.home .popularHeader .popularBody { display: flex; align-items: center; height: 4.8rem; padding: 0 2rem;}
.home .popularHeader .popularBody .cBlue { margin-right: 1.2rem;}
.home .popularHeader .popularBody .tem { display: flex; align-items: center; justify-content: space-between; flex: 1;}
.populara { overflow: hidden;}
.home .popularHeader .popularBody .tem .slideContainer { height: 4.8rem;}
.home .popularHeader .popularBody .tem .slideContainer li { display: flex; align-items: center; height: 4.8rem;}
.home .popularHeader .popularBody .tooggleWord { display: flex; align-items: center; justify-content: center; width: 4rem;}
.home .popularHeader .popularBody .tooggleWord i { content: ''; display: block; width: 2.4rem; height: 2.4rem; text-indent: -9999rem; background: url(../image/home/ico_toggle_arrow_down.png) no-repeat center/cover;     transition: transform .3s;}
.home .popularHeader .popularBody .favorite { display: block;}
.home .popularHeader .popularBody .favorite i { content: ''; display: block; width: 2.4rem; height: 2.4rem; text-indent: -9999rem; background: url(../image/common/split_48.png) no-repeat -33.6rem 0/48rem 28.8rem;}
.home .popularHeader .popularBody .favorite.active i { background-position-y: -2.4rem;}
.home .popularHeader .wordCloud { color: #fff; background-color: #A5BFD6;}
.home .popularHeader.active .popularBody .tooggleWord i { transform: rotate(-180deg);}

.home .recentSearch { padding: 1.6rem 2rem;}
.home .recentSearch .rsTabs { display: flex; align-items: center; height: 4.8rem; margin-left: -0.8rem;}
.home .recentSearch .rsTabs button { display: flex; align-items: center; justify-content: center; height: 3.6rem; margin-left: 0.8rem; padding: 0 1.1rem; color: #777; border: 1px solid #EAEAEA; border-radius: 1.8rem;}
.home .recentSearch .rsTabs button.active { color: #fff; border-color: #6684EA; background-color: #6684EA;}
.home .recentSearch .emptySearch { display: flex; align-items: center; justify-content: center; height: 19.2rem;}
.home .recentSearch .emptySearch p { position: relative; margin-top: 9rem; font-size: 1.6rem; color: #777;}
.home .recentSearch .emptySearch p::after { content: ''; position: absolute; left: 50%; top: -9rem; width: 7.2rem; height: 7.2rem; margin-left: -3.6rem; background: #F4F5F7 url(../image/common/ico_empty_search.png) no-repeat center/2.4rem 2.4rem; border-radius: 50%;}

.home .mapSearch { padding: 1.6rem 2rem;}

/* UI-SJN-02-010U */
.home .homeSearchArea .afterSearch { color: #6684EA;}
.home .homeSearchArea .hcList li { position: relative; padding: 1.7rem 0 1.5rem 4rem;}
.home .homeSearchArea .hcList li .label { display: flex; align-items: center; justify-content: center; position: absolute; left: 0; top: 1.8rem; height: 2rem; font-size: 1.3rem; color: #fff;}
.home .homeSearchArea .hcList li .label.wood { width: 3rem; background-color: #D69630;}
.home .homeSearchArea .hcList li .label.green { width: 5.1rem; background-color: #4EC457;}
.home .homeSearchArea .hcList li h4 { font-size: 1.6rem;}
.home .homeSearchArea .hcList li .text { margin-top: 0.6rem;}
.home .homeSearchArea .hcList li .text p { font-size: 1.6rem; color: #555;}
.home .homeSearchArea .hcList li .text p ~ p { margin-top: 0.5rem;}
.home .homeSearchArea .hcList li ~ li { border-top: 1px solid #F2F2F2;}
.home .homeSubmenu { padding: 1.6rem 2rem;}
.home .homeSubmenu .hsList li { margin-top: 0.8rem;}
.home .homeSubmenu .hsList li a { display: flex; align-items: center; justify-content: space-between; height: 4.8rem; padding: 0 1.6rem; border: 1px solid #ddd;}
.home .homeSubmenu .hsList li a p { font-size: 1.6rem; color: #111;}
.home .homeSubmenu .hsList li a .decoArrow { display: block;}
.home .homeSubmenu .hsList li a .decoArrow i { display: block; width: 1.725rem; height: 1.325rem; background: url(../image/home/icon_arrow_right.png) no-repeat center/cover;}
.home .homePlace { padding: 1.6rem 2rem;}
.home .homePlace .hpList li { display: flex; justify-content: space-between; padding: 1.2rem 0; border-bottom: 1px solid #F2F2F2;}
.home .homePlace .hpList li .ipBody { flex: 1;}
.home .homePlace .hpList li .ipBody .st { font-size: 1.4rem; color: #555;}
.home .homePlace .hpList li .ipBody h4 { margin-top: 0.6rem; font-size: 1.6rem;}
.home .homePlace .hpList li .ipBody .guideGroup { margin-top: 0.5rem; font-size: 1.4rem;}
.home .homePlace .hpList li .ipBody .guideGroup .distance { position: relative; padding-left: 1.6rem;}
.home .homePlace .hpList li .ipBody .guideGroup .distance::after { content: ''; position: absolute; left: 0; top: 0.3rem; width: 1.2rem; height: 1.35rem; background: url(../image/home/ico_location.png) no-repeat center/cover;}
.home .homePlace .hpList li .ipBody .guideGroup .address { position: relative; margin-left: 0.2rem; padding-left: 0.6rem;}
.home .homePlace .hpList li .ipBody .guideGroup .address::after { content: ''; position: absolute; left: 0; top: 1rem; width: 0.2rem; height: 0.2rem; background-color: #aaa;}
.home .homePlace .hpList li figure { width: 6.4rem; height: 6.4rem; margin-left: 1.6rem;}
.home .homeStation { padding: 1.6rem 2rem;}
.home .homeStation .hsList { display: flex; flex-wrap: wrap; margin: -0.8rem -0.4rem 0;}
.home .homeStation .hsList li { width: calc(50% - 0.8rem); margin: 0.8rem 0.4rem 0; padding: 2.3rem 1.6rem; border: 1px solid #EAEAEA;}
.home .homeStation .hsList li .label { display: flex; align-items: center; justify-content: center; width: 3rem; height: 2rem; font-size: 1.3rem; color: #fff;}
.home .homeStation .hsList li .label.normal { background-color: #6684EA;}
.home .homeStation .hsList li .label.wide { background-color: #FD2020;}
.home .homeStation .hsList li .busNum { margin-top: 0.8rem; font-style: 1.6rem; font-weight: 700;}
.home .homeStation .hsList li .busNum span { font-style: 1.4rem; color: #777;}
.home .homeStation .hsList li .station { margin-top: 0.7rem;}
.home .homeStation .hsList li .station span { position: relative; font-size: 1.4rem;}
.home .homeStation .hsList li .station span:last-child { padding-left: 2rem;}
.home .homeStation .hsList li .station span:last-child::after { content: ''; display: flex; align-items: center; justify-content: center; position: absolute; left: 0; top: 0.1rem; width: 1.6rem; height: 1.6rem; background: #B8BCC9 url(../image/common/split_40.png) no-repeat -20.2rem -0.2rem/40rem 16rem; border-radius: 50%;}
.home .homeStation .hsList li .train { margin-top: 0.6rem;}
.home .homeStation .hsList li .train p { font-size: 1.4rem; color: #777; line-height: 2.2rem;}
.home .homeCulture { padding: 1.6rem 2rem;}
.home .homeEducation { padding: 1.6rem 2rem;}
.home .homeSearchArea .homeEducation .hcList li { padding-left: 5.8rem;}
.home .homeNuri { padding: 1.6rem 2rem;}
.home .homeNuri .menu { display: flex; flex-wrap: wrap; border-left: 1px solid #EAEAEA; border-top: 1px solid #EAEAEA;}
.home .homeNuri .menu li { display: flex; align-items: center; width: 50%; min-height: 4.8rem; padding: 0 1.6rem; font-size: 1.6rem; border-right: 1px solid #EAEAEA; border-bottom: 1px solid #EAEAEA;}
.home .homeNuri .menu li span { margin-left: 0.8rem; font-size: 1.4rem;}
.home .homeNuri h4 { display: flex; align-items: center; height: 4rem; margin-top: 1.6rem;}
.home .homeNuri .stepMenu li { display: flex; align-items: center; height: 4.8rem; font-size: 1.6rem; color: #777; border-bottom: 1px solid #F2F2F2;}
.home .homeNuri .stepMenu li span { margin-right: 0.8rem;}
.home .homeEmployee { padding: 1.6rem 2rem;}
.home .homeEmployee .heList { display: flex; flex-wrap: wrap; border-left: 1px solid #EAEAEA; border-top: 1px solid #EAEAEA;}
.home .homeEmployee .heList li { display: flex; align-items: center; width: 100%; border-right: 1px solid #EAEAEA; border-bottom: 1px solid #EAEAEA;}
.home .homeEmployee .heList li .eHead { width: 8.4rem; padding-left: 1.6rem; font-size: 1.6rem;}
.home .homeEmployee .heList li .eContent { flex: 1; padding: 0.5rem 0 0.5rem 1.6rem; font-size: 1.6rem; color: #777; border-left: 1px solid #EAEAEA;}
.home .homeSite { padding: 1.6rem 2rem;}
.home .homeSite .hsList { display: flex; align-items: center; flex-wrap: wrap;}
.home .homeSite .hsList li { display: flex; align-items: center; justify-content: space-between; width: 100%; height: 4.8rem; border-bottom: 1px solid #EAEAEA;}
.home .homeSite .hsList li p { font-size: 1.6rem;}
.home .homeSite .hsList li a { display: block; font-size: 1.6rem; color: #6684EA;}



/* 내정보
**********************************************/

/* UI-SJN-70-002L */
.mypage .openingGuide { margin-top: 1.6rem; font-size: 1.4rem; color: #aaa;}
.mypage .openingList { margin-top: 2.2rem;}
.mypage .openingList li { display: flex; align-items: center; height: 4.8rem;}
.mypage .openingList li .chechbox { position: relative; width: 6rem;}
.mypage .openingList li .chechbox input { position: absolute; opacity: 0;}
.mypage .openingList li .chechbox input:checked + label { color: #fff; border-color: #6684EA; background-color: #6684EA;}
.mypage .openingList li .chechbox label { display: flex; align-items: center; justify-content: center; width: 4.4rem; height: 3.2rem; font-weight: 700; border: 1px solid #ddd; border-radius: 0.4rem; transition: all .3s ease-in-out; cursor: pointer;}
.mypage .openingList li .timeInput { flex: 1;}
.mypage .openingList li .timeInput button { display: flex; align-items: center; width: 100%; height: 4.8rem; color: #aaa; border-bottom: 1px solid #ddd;}
.mypage .openingList li .timeInput button.active { color: #111; border-color: #6684EA;}

/* 잠금설정 - UI-SJN-80-003 */
.mypage .mypageArea { padding: 0 2rem 4rem;}
.mypage .mypageArea .section ~ .section { margin-top: 1.6rem;}
.mypage .mypageArea .section .heading { display: flex; align-items: center; justify-content: space-between;}
.mypage .mypageArea .section .heading.headA { height: 5.2rem;}
.mypage .mypageArea .section .heading.headB,
.mypage .mypageArea .section .heading.headC { height: 4.6rem;}
.mypage .mypageArea .section .heading h3 { font-size: 1.6rem;}
.mypage .mypageArea .section .heading .setting button { display: block;}
.mypage .mypageArea .section .heading .setting button span { position: relative; display: block; padding-right: 3rem; font-size: 1.4rem;}
.mypage .mypageArea .section .heading .setting button span::after { content: ''; position: absolute; right: 0.2rem; top: -0.1rem; width: 2rem; height: 2rem; background: url(../image/common/split_40.png) no-repeat -22rem 0/40rem 16rem;}
.mypage .mypageArea .section .box { display: flex; flex-direction: column; margin-top: 0.8rem; padding: 1.4rem 2.4rem; border: 1px solid #EAEAEA;}
.mypage .mypageArea .section .box p { font-size: 1.8rem; line-height: 2.6rem;}
.mypage .mypageArea .section .box p:first-child { font-weight: 700;}
.mypage .mypageArea .section .pragraph p { font-size: 1.4rem; color: #555;}
.mypage .mypageArea .section .securityList { display: flex;}
.mypage .mypageArea .section .securityList li { flex: 1;}
.mypage .mypageArea .section .securityList li label { display: block; overflow: hidden; position: relative; padding: 3.2rem 0 2rem; text-align: center; border: 1px solid #EAEAEA; cursor: pointer; transition: border-color .2s ease-in-out;}
.mypage .mypageArea .section .securityList li label::after { content: ''; position: absolute; right: 0.8rem; top: 0.8rem; width: 2rem; height: 2rem; background: #EAEDF2 url(../image/common/split_40.png) no-repeat -24rem 0/40rem 16rem; border-radius: 50%; transition: background-color .2s ease-in-out;}
.mypage .mypageArea .section .securityList li label i.ico { display: block; width: 6.3rem; height: 6rem; margin: 0 auto;}
.mypage .mypageArea .section .securityList li label i.ico.icoA { background: url(../image/home/ico_security1.png) no-repeat center/cover;}
.mypage .mypageArea .section .securityList li label i.ico.icoB { background: url(../image/home/ioc_security2.png) no-repeat center/cover;}
.mypage .mypageArea .section .securityList li label i.ico.icoC { background: url(../image/home/ico_security3.png) no-repeat center/cover;}
.mypage .mypageArea .section .securityList li label span { display: block; margin-top: 0.8rem; color: #555;}
.mypage .mypageArea .section .securityList li input { position: absolute; opacity: 0;}
.mypage .mypageArea .section .securityList li input:checked + label::after { background-color: #6684EA;}
.mypage .mypageArea .section .securityList li input:checked + label { z-index: 1; border-color: #6684EA;}
.mypage .mypageArea .section .securityList li ~ li label { margin-left: -0.1rem;}

/* 개인정보처리방침 - UI-SJN-80-010U */
.mypage .explain-default { padding: 2.4rem 2rem; background-color: #F4F5F7;}
.mypage .explain-default .text { line-height: 2.3rem;}
.mypage .approval { padding: 2.4rem 1.6rem; background-color: #fff;}

/* 저작권 정책 - UI-SJN-83-002U */
.mypage .twinBtn { display: flex; align-items: center; padding: 0 1.6rem;}
.mypage .twinBtn a { display: flex; align-items: center; justify-content: center; width: 100%; height: 4rem; margin: 0 0.4rem; background-color: #6684EA;}
.mypage .twinBtn a span { display: inline-block; font-size: 1.4rem; color: #fff; letter-spacing: -0.1em;}
.mypage .twinBtn a span::after { content: ''; display: inline-block; width: 2rem; height: 2rem; margin: -0.5rem 0 0 0.2rem; vertical-align: middle; background: url(../image/common/split_40.png) no-repeat -28rem 0/40rem 16rem;}

/* 자주하는 질문 - UI-SJN-82-001U */
.mypage .faqTabBody { padding: 0 2rem;}
.mypage .button-moreNews { margin-top: 0.8rem;}
.mypage .serviceArea { padding: 0 2rem;}




/* 오픈API
**********************************************/

/* 오픈API소개 - UI-SJN-91-001U */
.openApi .apiHeader { padding: 0 2rem 3.2rem; background-color: #fff;}
.openApi .apiHeader h3 { display: flex; align-items: center; height: 4.6rem; font-size: 1.6rem;}
.openApi .explainApi { padding: 1.6rem 2rem; background-color: #F4F5F7;}
.openApi .explainApi h3 { display: flex; align-items: center; height: 4.6rem; font-size: 1.6rem;}
.openApi .explainApi .numStep li { display: flex; align-items: center; position: relative; height: 4.8rem; padding: 0 1.2rem; color: #333; background-color: #fff;}
.openApi .explainApi .numStep li ~ li { margin-top: 1.6rem;}
.openApi .explainApi .numStep li ~ li::after { content: ''; display: block; position: absolute; left: 2.3rem; top: -1.6rem; width: 0.1rem; height: 1.6rem; background-color: #ddd;}
.openApi .explainApi .numStep li .square { display: inline-flex; align-items: center; justify-content: center; width: 2.4rem; height: 2.4rem; margin-right: 0.8rem; color: #fff; background-color: #6684EA;}
.openApi .explainApi .numStep li .cBlue { margin-left: 0.4rem; color: #6684EA;}
.openApi .explainApi .items-blet { margin-top: 2.4rem;}

/* 오픈API 상세 내용 - UI-SJN-91-003U */
.openApi .openApiArea { padding: 1rem 2rem 4rem;}
.openApi .openApiArea .header-list { margin-top: 0.8rem;}
.openApi .explain-default { padding: 1.6rem 2rem 2.4rem;}
.openApi .explain-default h3 { display: flex; align-items: center; height: 4.6rem; font-size: 1.6rem;}
.openApi .whiteBox { margin-top: 0.8rem; padding: 0.8rem 1.6rem; background-color: #fff;}
.openApi .whiteBox ~ .whiteBox { margin-top: 1.6rem;}
.openApi .whiteBox ul li { display: flex; align-items: baseline; padding: 1.6rem 0;}
.openApi .whiteBox ul li ~ li { border-top: 1px solid #F4F5F7;}
.openApi .whiteBox ul li strong { width: 8rem;}
.openApi .whiteBox ul li .detail { flex: 1; word-break : break-word;}
.openApi .whiteBox ul li .detail a { color: #6684EA;}
.openApi .whiteBox ul li .detail a .icon { display: inline-block; width: 2.4rem; height: 2.4rem; margin-left: 0.4rem; vertical-align: middle; background: url(../image/common/split_48.png) no-repeat -43.2rem -4.8rem/48rem 28.8rem;}
.openApi .whiteBox ul li .short { width: 3.8rem;}
.openApi .whiteBox ul li .large { width: 9.6rem;}
.openApi .whiteBox h4 { display: flex; align-items: center; height: 5.2rem; font-size: 1.6rem;}
.openApi .whiteBox h4 .required { margin-left: 0.8rem; font-size: 1.1rem; color: #FD2020;}
.openApi .whiteBox .radiogroupBody { padding-bottom: 1.6rem;}
.openApi .whiteBox .radiogroup { padding: 0 0 1.6rem;}
.openApi .whiteBox .radiogroup input { position: absolute; opacity: 0;}
.openApi .whiteBox .radiogroup label { display: inline-flex; align-items: center; height: 3.6rem; margin: 0.8rem 0.8rem 0 0; padding: 0 0.8rem; font-size: 1.4rem; color: #777; border: 1px solid #EAEAEA; border-radius: 1.8rem; transition: all .2s ease-in-out; cursor: pointer;}
.openApi .whiteBox .radiogroup input:checked + label { color: #fff; border: 1px solid #6684EA; background-color: #6684EA;}
.openApi .whiteBox .normal { font-weight: 400;}
.openApi .whiteBox .agree { display: flex; align-items: center; justify-content: flex-end; height: 5.2rem;}
.openApi .whiteBox .agree span { margin-right: 1.2rem;}

/* 오픈API 신청 목록 - UI-SJN-91-005U */
.openApi .serviceKey { display: flex; align-items: center; min-height: 4.8rem; padding: 0.5rem 2rem; color: #fff; background-color: #6684EA;}
.openApi .serviceKey h3 { width: 6.6rem; margin-right: 1rem; font-size: 1.6rem; font-weight: 400;}
.openApi .serviceKey .key { flex: 1; font-size: 1.6rem; text-align: right; word-break : break-word;}
.openApi .listArea { padding: 1.6rem 2rem;}









/* 윤사랑 추가 */
/* 로그인 - UI-SJN-98-001U */
.header.global .subHeader {justify-content: space-between; padding:0 2rem;}
.header.global .subHeader .globalLogo {width:5.805rem;}
.header.global .subHeader .globalLogo img {width:100%;}
.header.global .subHeader .globalLogo img {width:100%;}
.header.global .subHeader .btnGlobal button {width:2.4rem; height:2.4rem; text-indent:-9999rem; margin-left:1.6rem;}
.header.global .subHeader .icoSearch {margin-left:0; background:url(../image/common/icoSearch_global.png) no-repeat 0/cover;}
.header.global .subHeader .icoAlert {background:url(../image/common/icoAlert_global.png) no-repeat 0/cover;}
.header.global .subHeader .icoMy {background:url(../image/common/icoMy_global.png) no-repeat center/2.2rem;}

.openApi .loginWrap .loginType { padding: 6rem 2rem 0;}
.openApi .loginWrap .loginType .pattern { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; width: 20.4rem; margin: 4rem auto 0;}
.openApi .loginWrap .loginType .pattern li { width: calc(100% / 3);}
.openApi .loginWrap .loginType .pattern li button { display: block; position: relative; width: 6.8rem; height: 6.8rem; text-indent: -9999rem;}
.openApi .loginWrap .loginType .pattern li button::after { content: ''; position: absolute; left: 50%; top: 50%; width: 1.2rem; height: 1.2rem; margin: -0.6rem 0 0 -0.6rem; background-color: #292D32; border-radius: 50%;}
.openApi .loginWrap .loginType .pattern li button.active::after { background-color: #6684EA;}
.openApi .loginWrap .loginType .guide {display: flex; align-items: center; justify-content: center; flex-direction: column; height: 5.2rem; color:#555;}
.openApi .loginWrap .loginType .loginFingerprint {width:100%; height:4.8rem; text-align: center; font-size:1.9rem; font-weight:700;}
.openApi .loginWrap .loginType .radioSet {display: flex; align-items: center; justify-content: center; flex-direction: column; height: 5.2rem; font-weight:700;}
.openApi .loginWrap .bottomGuide {padding:2.4rem 2rem; color:#555; margin-top:2.7rem; border-top:1px solid #F4F5F7;}


/* 즐겨찾기 - UI-SJN-84-001U */
.mypage .bookmarkWrap.boxTab .btnTab { display: flex; height: 4.8rem;}
.mypage .bookmarkWrap.boxTab .btnTab .itemBtn { display: flex; align-items: center; justify-content: center; flex: 1;}
.mypage .bookmarkWrap.boxTab .btnTab .itemBtn button { display: block; width: 100%; height: 100%; font-size: 1.6rem; color: #555; border-bottom: 1px solid #F2F2F2;}
.mypage .bookmarkWrap.boxTab .btnTab .itemBtn button.active { font-weight: 700; color: #111; border-bottom: 2px solid #6684EA;}
.mypage .bookmarkWrap .tabContent { padding: 0 0 4rem;}
.mypage .bookmarkWrap .tabContent >div { display: none;}
.mypage .bookmarkWrap .tabContent >div.active { display: block;}
.mypage .bookmarkWrap .tabContent .button-more { margin-top: 3.5rem; border-top: 1px solid #F2F2F2;}

.mypage .bookmarkWrap .bookmarkUpload {padding:2.4rem 2rem; background-color:#F4F5F7; }
.mypage .bookmarkWrap .bookmarkUpload .formBlock {display: flex; align-items: center; justify-content: space-between; height:4.8rem; border:1px solid #DDD; margin-top:0.8rem; padding:0 1.6rem; background-color:#fff; }
.mypage .bookmarkWrap .bookmarkUpload .formBlock:first-child {margin-top:0; }
.mypage .bookmarkWrap .bookmarkUpload .formBlock strong {padding-left:3.2rem; font-size:1.6rem;}
.mypage .bookmarkWrap .bookmarkUpload .formBlock .btnUpload {color:#6684EA;}
.mypage .bookmarkWrap .bookmarkUpload .formBlock .modifyText {width:2.4rem; height:2.4rem; background:url(../image/common/ico_24_pen.png) no-repeat left center/2.4rem; text-indent: -9999rem;}
.mypage .bookmarkWrap .bookmarkUpload .formBlock .btnDelete {width:2.4rem; height:2.4rem; background:url(../image/common/ico_24_close.png) no-repeat left center/2.4rem; text-indent: -9999rem;}
.mypage .bookmarkWrap .bookmarkUpload .formBlock.home strong {background:url(../image/common/ico_24_home.png) no-repeat left center/2.4rem;}
.mypage .bookmarkWrap .bookmarkUpload .formBlock.company strong {background:url(../image/common/ico_24_company.png) no-repeat left center/2.4rem;}
.mypage .bookmarkWrap .bookmarkUpload .formBlock.bus strong {background:url(../image/common/ico_24_bus.png) no-repeat left center/2.4rem;}
.mypage .bookmarkWrap .bookmarkUpload .formBlock.busstop strong {background:url(../image/common/ico_24_busstop.png) no-repeat left center/2.4rem;}
.mypage .bookmarkWrap .bookmarkUpload .formBlock .address {display: flex; align-items: center; justify-content: flex-start; }

.mypage .bookmarkWrap .searchType {margin:0.8rem 0; height:4rem; display: flex; align-items: center; justify-content: flex-end; padding:0 2rem; text-align: right;}
.mypage .bookmarkWrap .searchType button {color:#777; margin-left:0.4rem; }
.mypage .bookmarkWrap .searchType button.active {color:#6684EA;}

.mypage .bookmarkWrap .bookmarkList ul li {display: flex; align-items: center; justify-content: space-between; padding:1.3rem 2rem; border-top:1px solid #F4F5F7; }
.mypage .bookmarkWrap .bookmarkList ul li .list .title {display: flex; align-items: center;}
.mypage .bookmarkWrap .bookmarkList ul li .list .title strong {font-size:1.6rem;}
.mypage .bookmarkWrap .bookmarkList ul li .list .title .modifyText {width:2.4rem; height:2.4rem; background:url(../image/common/ico_24_pen.png) no-repeat left center/2.4rem; text-indent: -9999rem;}
.mypage .bookmarkWrap .bookmarkList ul li .list .title .modifyText {width:2.4rem; height:2.4rem; background:url(../image/common/ico_24_pen.png) no-repeat left center/2.4rem; text-indent: -9999rem;}
.mypage .bookmarkWrap .bookmarkList ul li .list .address {font-size:1.4rem; color:#555; margin-top:1.1rem;}
.mypage .bookmarkWrap .bookmarkList ul li .btnDelete {width:2.4rem; height:2.4rem; background:url(../image/common/ico_24_close.png) no-repeat left center/2.4rem; text-indent: -9999rem;}

.mypage .bookmarkWrap .bookmarkList ul li .list.bus {padding-left:3.2rem; background:url(../image/common/ico_24_bus.png) no-repeat left top/2.4rem;}
.mypage .bookmarkWrap .bookmarkList ul li .list.bus .title .busInt.R + span {color:#FD2020; margin-left:0.8rem;}
.mypage .bookmarkWrap .bookmarkList ul li .list.busstop {padding-left:3.2rem; background:url(../image/common/ico_24_busstop2.png) no-repeat left top/2.4rem;}
.mypage .bookmarkWrap .bookmarkList ul li .list .infomation {font-size:1.4rem; color:#555; margin-top:0.9rem; overflow:hidden; }
.mypage .bookmarkWrap .bookmarkList ul li .list .infomation.red {color:#FD2020; }
.mypage .bookmarkWrap .bookmarkList ul li .list .infomation span ~ span { position: relative; margin-left: 0.3rem; padding-left: 0.6rem;}
.mypage .bookmarkWrap .bookmarkList ul li .list .infomation span ~ span::after { content: ''; position: absolute; top: 0.4rem; left: 0; width: 0.1rem; height: 1.4rem; background-color: #e1e1e1;}












