/* 통합검색
**********************************************/

/* 공통 */
.boderTopGray { border-top: 1px solid #EAEAEA;}

/* items- 모음 */
.item-mapSearch { display: flex; flex-wrap: wrap; border-left: 1px solid #F2F2F2; border-top: 1px solid #F2F2F2;}
.item-mapSearch li { width: calc(100% / 3); border-right: 1px solid #F2F2F2; border-bottom: 1px solid #F2F2F2;}
.item-mapSearch li button { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; width: 100%; padding: 2.7rem 0 1.4rem;}
.item-mapSearch li button .mapSplit { width: 4.3rem; height: 4rem; background: url(../image/home/split_map_earch.png) no-repeat 0 0/21.5rem 12rem;}
.item-mapSearch li button .mapSplit.bicycle { background-position: -4.3rem 0;}
.item-mapSearch li button .mapSplit.gasStation { background-position: -8.6rem 0;}
.item-mapSearch li button .mapSplit.franchisee { background-position: -12.9rem 0;}
.item-mapSearch li button .mapSplit.clean { background-position: -17.2rem 0;}
.item-mapSearch li button .mapSplit.automatic { background-position: 0 -4rem;}
.item-mapSearch li button .mapSplit.care { background-position: -4.3rem -4rem;}
.item-mapSearch li button .mapSplit.hospital { background-position: -8.6rem -4rem;}
.item-mapSearch li button .mapSplit.pharmacy { background-position: -12.9rem -4rem;}
.item-mapSearch li button .mapSplit.cctv { background-position: -17.2rem -4rem;}
.item-mapSearch li button .mapSplit.parking { background-position: 0 -8rem;}
.item-mapSearch li button .mapSplit.charging { background-position: -4.3rem -8rem;}
.item-mapSearch li button .mapSplit.visit { background-position: -8.6rem -8rem;}
.item-mapSearch li button .mapSplit.restaurant { background-position: -12.9rem -8rem;}
.item-mapSearch li button .mapSplit.cafe { background-position: -17.2rem -8rem;}
.item-mapSearch li button span { display: block; width: 100%; margin-top: 1.4rem; color: #555;}

.item-place { margin-top: 0.8rem;}
.item-place li { display: flex; align-items: center; justify-content: space-between; height: 4.8rem; border-bottom: 1px solid #F2F2F2;}
.item-place li .keyword { position: relative; padding-left: 2.8rem;}
.item-place li .keyword::after { content: ''; position: absolute; left: 0; top: 0; width: 2rem; height: 2rem;}
.item-place li .icoLocation .keyword::after { background: url(../image/common/split_40.png) no-repeat -18rem 0/40rem 8rem;}
.item-place li .icoSearch .keyword::after { background: url(../image/common/split_40.png) no-repeat -4rem 0/40rem 8rem;}
.item-place li .date { font-size: 1.4rem; color: #777;}
.item-place li .btnClose { display: block;}
.item-place li .btnClose i { display: block; width: 2.4rem; height: 2.4rem; text-indent: -9999rem; background: url(../image/common/split_48.png) no-repeat -26.4rem 0/48rem 9.6rem;}


/* UI-SJN-02-001U */
.home .popularHeader .popularBody { display: flex; align-items: center; height: 4.8rem; padding: 0 2rem;}
.home .popularHeader .popularBody .cBlue { margin-right: 1.2rem; color: #6684EA;}
.home .popularHeader .popularBody .tem { display: flex; align-items: center; justify-content: space-between; flex: 1;}
.populara { overflow: hidden;}
.home .popularHeader .popularBody .tem .slideContainer { height: 4.8rem;}
.home .popularHeader .popularBody .tem .slideContainer li { display: flex; align-items: center; height: 4.8rem;}
.home .popularHeader .popularBody .tooggleWord { display: flex; align-items: center; justify-content: center; width: 4rem;}
.home .popularHeader .popularBody .tooggleWord i { content: ''; display: block; width: 2.4rem; height: 2.4rem; text-indent: -9999rem; background: url(../image/home/ico_toggle_arrow_down.png) no-repeat center/cover;     transition: transform .3s;}
.home .popularHeader .popularBody .favorite { display: block;}
.home .popularHeader .popularBody .favorite i { content: ''; display: block; width: 2.4rem; height: 2.4rem; text-indent: -9999rem; background: url(../image/common/split_48.png) no-repeat -33.6rem 0/48rem 9.6rem;}
.home .popularHeader .popularBody .favorite.active i { background-position-y: -2.4rem;}
.home .popularHeader .wordCloud { color: #fff; background-color: #A5BFD6;}
.home .popularHeader.active .popularBody .tooggleWord i { transform: rotate(-180deg);}

.home .recentSearch { padding: 1.6rem 2rem;}
.home .recentSearch .rsTabs { display: flex; align-items: center; height: 4.8rem; margin-left: -0.8rem;}
.home .recentSearch .rsTabs button { display: flex; align-items: center; justify-content: center; height: 3.6rem; margin-left: 0.8rem; padding: 0 1.1rem; color: #777; border: 1px solid #EAEAEA; border-radius: 1.8rem;}
.home .recentSearch .rsTabs button.active { color: #fff; border-color: #6684EA; background-color: #6684EA;}
.home .recentSearch .emptySearch { display: flex; align-items: center; justify-content: center; height: 19.2rem;}
.home .recentSearch .emptySearch p { position: relative; margin-top: 9rem; font-size: 1.6rem; color: #777;}
.home .recentSearch .emptySearch p::after { content: ''; position: absolute; left: 50%; top: -9rem; width: 7.2rem; height: 7.2rem; margin-left: -3.6rem; background: #F4F5F7 url(../image/common/ico_empty_search.png) no-repeat center/2.4rem 2.4rem; border-radius: 50%;}

.home .mapSearch { padding: 1.6rem 2rem;}

/* UI-SJN-02-010U */
.home .homeSearchArea .afterSearch { color: #6684EA;}
.home .homeSearchArea .cBlue { color: #6684EA;}
.home .homeSearchArea .hcList li { position: relative; padding: 1.7rem 0 1.5rem 4rem;}
.home .homeSearchArea .hcList li .label { display: flex; align-items: center; justify-content: center; position: absolute; left: 0; top: 1.8rem; height: 2rem; font-size: 1.3rem; color: #fff;}
.home .homeSearchArea .hcList li .label.wood { width: 3rem; background-color: #D69630;}
.home .homeSearchArea .hcList li .label.green { width: 5.1rem; background-color: #4EC457;}
.home .homeSearchArea .hcList li h4 { font-size: 1.6rem;}
.home .homeSearchArea .hcList li .text { margin-top: 0.6rem;}
.home .homeSearchArea .hcList li .text p { font-size: 1.6rem; color: #555;}
.home .homeSearchArea .hcList li .text p ~ p { margin-top: 0.5rem;}
.home .homeSearchArea .hcList li ~ li { border-top: 1px solid #F2F2F2;}
.home .homeSubmenu { padding: 1.6rem 2rem;}
.home .homeSubmenu .hsList li { margin-top: 0.8rem;}
.home .homeSubmenu .hsList li a { display: flex; align-items: center; justify-content: space-between; height: 4.8rem; padding: 0 1.6rem; border: 1px solid #ddd;}
.home .homeSubmenu .hsList li a p { font-size: 1.6rem; color: #111;}
.home .homeSubmenu .hsList li a .decoArrow { display: block;}
.home .homeSubmenu .hsList li a .decoArrow i { display: block; width: 1.725rem; height: 1.325rem; background: url(../image/home/icon_arrow_right.png) no-repeat center/cover;}
.home .homePlace { padding: 1.6rem 2rem;}
.home .homePlace .hpList li { display: flex; justify-content: space-between; padding: 1.2rem 0; border-bottom: 1px solid #F2F2F2;}
.home .homePlace .hpList li .ipBody { flex: 1;}
.home .homePlace .hpList li .ipBody .st { font-size: 1.4rem; color: #555;}
.home .homePlace .hpList li .ipBody h4 { margin-top: 0.6rem; font-size: 1.6rem;}
.home .homePlace .hpList li .ipBody .guideGroup { margin-top: 0.5rem; font-size: 1.4rem;}
.home .homePlace .hpList li .ipBody .guideGroup .distance { position: relative; padding-left: 1.6rem;}
.home .homePlace .hpList li .ipBody .guideGroup .distance::after { content: ''; position: absolute; left: 0; top: 0.3rem; width: 1.2rem; height: 1.35rem; background: url(../image/home/ico_location.png) no-repeat center/cover;}
.home .homePlace .hpList li .ipBody .guideGroup .address { position: relative; margin-left: 0.2rem; padding-left: 0.6rem;}
.home .homePlace .hpList li .ipBody .guideGroup .address::after { content: ''; position: absolute; left: 0; top: 1rem; width: 0.2rem; height: 0.2rem; background-color: #aaa;}
.home .homePlace .hpList li figure { width: 6.4rem; height: 6.4rem; margin-left: 1.6rem;}
.home .homeStation { padding: 1.6rem 2rem;}
.home .homeStation .hsList { display: flex; flex-wrap: wrap; margin: -0.8rem -0.4rem 0;}
.home .homeStation .hsList li { width: calc(50% - 0.8rem); margin: 0.8rem 0.4rem 0; padding: 2.3rem 1.6rem; border: 1px solid #EAEAEA;}
.home .homeStation .hsList li .label { display: flex; align-items: center; justify-content: center; width: 3rem; height: 2rem; font-size: 1.3rem; color: #fff;}
.home .homeStation .hsList li .label.normal { background-color: #6684EA;}
.home .homeStation .hsList li .label.wide { background-color: #FD2020;}
.home .homeStation .hsList li .busNum { margin-top: 0.8rem; font-style: 1.6rem; font-weight: 700;}
.home .homeStation .hsList li .busNum span { font-style: 1.4rem; color: #777;}
.home .homeStation .hsList li .station { margin-top: 0.7rem;}
.home .homeStation .hsList li .station span { position: relative; font-size: 1.4rem;}
.home .homeStation .hsList li .station span:last-child { padding-left: 2rem;}
.home .homeStation .hsList li .station span:last-child::after { content: ''; display: flex; align-items: center; justify-content: center; position: absolute; left: 0; top: 0.1rem; width: 1.6rem; height: 1.6rem; background: #B8BCC9 url(../image/common/split_40.png) no-repeat -20.2rem -0.2rem/40rem 8rem; border-radius: 50%;}
.home .homeStation .hsList li .train { margin-top: 0.6rem;}
.home .homeStation .hsList li .train p { font-size: 1.4rem; color: #777; line-height: 2.2rem;}
.home .homeCulture { padding: 1.6rem 2rem;}
.home .homeEducation { padding: 1.6rem 2rem;}
.home .homeSearchArea .homeEducation .hcList li { padding-left: 5.8rem;}
.home .homeNuri { padding: 1.6rem 2rem;}
.home .homeNuri .menu { display: flex; flex-wrap: wrap; border-left: 1px solid #EAEAEA; border-top: 1px solid #EAEAEA;}
.home .homeNuri .menu li { display: flex; align-items: center; width: 50%; min-height: 4.8rem; padding: 0 1.6rem; font-size: 1.6rem; border-right: 1px solid #EAEAEA; border-bottom: 1px solid #EAEAEA;}
.home .homeNuri .menu li span { margin-left: 0.8rem; font-size: 1.4rem;}
.home .homeNuri h4 { display: flex; align-items: center; height: 4rem; margin-top: 1.6rem;}
.home .homeNuri .stepMenu li { display: flex; align-items: center; height: 4.8rem; font-size: 1.6rem; color: #777; border-bottom: 1px solid #F2F2F2;}
.home .homeNuri .stepMenu li span { margin-right: 0.8rem;}
.home .homeEmployee { padding: 1.6rem 2rem;}
.home .homeEmployee .heList { display: flex; flex-wrap: wrap; border-left: 1px solid #EAEAEA; border-top: 1px solid #EAEAEA;}
.home .homeEmployee .heList li { display: flex; align-items: center; width: 100%; border-right: 1px solid #EAEAEA; border-bottom: 1px solid #EAEAEA;}
.home .homeEmployee .heList li .eHead { width: 8.4rem; padding-left: 1.6rem; font-size: 1.6rem;}
.home .homeEmployee .heList li .eContent { flex: 1; padding: 0.5rem 0 0.5rem 1.6rem; font-size: 1.6rem; color: #777; border-left: 1px solid #EAEAEA;}
.home .homeSite { padding: 1.6rem 2rem;}
.home .homeSite .hsList { display: flex; align-items: center; flex-wrap: wrap;}
.home .homeSite .hsList li { display: flex; align-items: center; justify-content: space-between; width: 100%; height: 4.8rem; border-bottom: 1px solid #EAEAEA;}
.home .homeSite .hsList li p { font-size: 1.6rem;}
.home .homeSite .hsList li a { display: block; font-size: 1.6rem; color: #6684EA;}



/* 내정보
**********************************************/

/* items- 모음 */
.items-term { padding: 4rem 2rem;}
.items-term >li h3 { font-size: 1.6rem; line-height: 2.4rem;}
.items-term >li ~ li { margin-top: 4rem;}
.items-term >li .paragraphGroup p { margin-top: 2rem; color: #333; line-height: 2.3rem;}
.items-term >li .link { display: inline-flex; align-items: center; justify-content: center; height: 4rem; margin-top: 2rem; padding: 0 1.6rem; font-size: 1.4rem; color: #fff; background-color: #6684EA;}
.items-term >li .link span { display: inline-block; position: relative; padding-right: 2rem;}
.items-term >li .link span::after { content: ''; position: absolute; right: 0; top: 0.1rem; width: 2rem; height: 2rem; background: url(../image/common/split_40.png) no-repeat -28rem 0/40rem 8rem;}
.items-term >li .download { display: inline-flex; align-items: center; justify-content: center; height: 4rem; margin-top: 2rem; padding: 0 1.6rem; font-size: 1.4rem; color: #555; border: 1px solid #ddd;}
.items-term >li .download span { display: inline-block; position: relative; padding-left: 2.8rem;}
.items-term >li .download span::after { content: ''; position: absolute; left: 0; top: 0; width: 2.4rem; height: 2.4rem; background: url(../image/common/split_48.png) no-repeat 0 -2.4rem/48rem 9.6rem;}
.items-term >li .sub { display: block; margin-top: 1rem;}
.items-term >li img { max-width: 100%; height: auto;}
.items-term >li .blackLink li { margin-top: 0.8rem;}
.items-term >li .blackLink li a { display: inline-block; position: relative; padding-left: 1.6rem; color: #333; line-height: 2.3rem;}
.items-term >li .blackLink li a::after { content: ''; position: absolute; left: 0.6rem; top: 1rem; width: 0.4rem; height: 0.4rem; background-color: #292D32; border-radius: 50%;}
.items-term >li .ovflowX { overflow-x: scroll; overflow-y: hidden; margin-top: 1.6rem;}
.items-term >li .ovflowX table { width: 70rem; border-top: 1px solid #333;}
.items-term >li .ovflowX table tr th { padding: 1.5rem 1rem; text-align: center; border-left: 1px solid #EAEAEA; border-bottom: 1px solid #EAEAEA;}
.items-term >li .ovflowX table tr td { padding: 1.5rem 1rem; vertical-align: top; border-left: 1px solid #EAEAEA; border-bottom: 1px solid #EAEAEA;}
.items-term >li .ovflowX table tr th:first-child,
.items-term >li .ovflowX table tr td:first-child { border-left: none;}
.items-term >li .ovflowX table tr td li { padding-left: 0;}
.items-term >li .ovflowX table tr td li::after { display: none;}
.items-term >li .ovflowX table tr td li:first-child { margin-top: 0;}
.items-term >li li { margin-top: 2rem; line-height: 2.3rem;}
.items-term >li li li { position: relative; margin-top: 0.8rem; padding-left: 1.6rem;}
.items-term >li li li:first-child { margin-top: 2rem;}
.items-term >li li li::after { content: ''; position: absolute; left: 0.6rem; top: 0.8rem; width: 0.4rem; height: 0.4rem; background-color: #292D32; border-radius: 50%;}

.items-faq { margin-top: 1.6rem;}
.items-faq li .accordionTarget { overflow: hidden; max-height: 0; background-color: #F4F5F7; transition: min-height 0.3s ease-in-out;}
.items-faq li .accordionTarget .tHead p { padding: 2.6rem 2rem 0; font-size: 1.6rem; line-height: 2.4rem;}
.items-faq li .accordionTarget .tInfo { margin-top: 3.7rem; padding: 0 2rem 2.3rem; font-size: 1.4rem; color: #777; text-align: right;}
.items-faq li .btn { display: flex; width: 100%; padding: 1.5rem 2rem; text-align: left; border-bottom: 1px solid #F4F5F7;}
.items-faq li .btn .head { width: 2.8rem; padding-top: 0.2rem; font-size: 1.6rem; font-weight: 700;}
.items-faq li .btn .div { width: 6.4rem; padding-top: 0.1rem; letter-spacing: -0.1em;}
.items-faq li .btn .div.cBlue { color: #6684EA;}
.items-faq li .btn .div.cGreen { color: #4EC457;}
.items-faq li .btn .div.cGray { color: #aaa;}
.items-faq li .btn .title { flex: 1; font-size: 1.6rem; color: #111;}
.items-faq li .btn i { display: inline-block; width: 2.4rem; height: 2.4rem; background: url(../image/common/split_48.png) no-repeat -36rem 0/48rem 9.6rem;}




/* 잠금설정 - UI-SJN-80-003 */
.mypage .mypageArea { padding: 0 2rem 4rem;}
.mypage .mypageArea .section ~ .section { margin-top: 1.6rem;}
.mypage .mypageArea .section .heading { display: flex; align-items: center; justify-content: space-between;}
.mypage .mypageArea .section .heading.headA { height: 5.2rem;}
.mypage .mypageArea .section .heading.headB,
.mypage .mypageArea .section .heading.headC { height: 4.6rem;}
.mypage .mypageArea .section .heading h3 { font-size: 1.6rem;}
.mypage .mypageArea .section .heading .setting button { display: block;}
.mypage .mypageArea .section .heading .setting button span { position: relative; display: block; padding-right: 3rem; font-size: 1.4rem;}
.mypage .mypageArea .section .heading .setting button span::after { content: ''; position: absolute; right: 0.2rem; top: -0.1rem; width: 2rem; height: 2rem; background: url(../image/common/split_40.png) no-repeat -22rem 0/40rem 8rem;}
.mypage .mypageArea .section .box { display: flex; flex-direction: column; margin-top: 0.8rem; padding: 1.4rem 2.4rem; border: 1px solid #EAEAEA;}
.mypage .mypageArea .section .box p { font-size: 1.8rem; line-height: 2.6rem;}
.mypage .mypageArea .section .box p:first-child { font-weight: 700;}
.mypage .mypageArea .section .pragraph p { font-size: 1.4rem; color: #555;}
.mypage .mypageArea .section .securityList { display: flex;}
.mypage .mypageArea .section .securityList li { flex: 1;}
.mypage .mypageArea .section .securityList li label { display: block; overflow: hidden; position: relative; padding: 3.2rem 0 2rem; text-align: center; border: 1px solid #EAEAEA; cursor: pointer; transition: border-color .2s ease-in-out;}
.mypage .mypageArea .section .securityList li label::after { content: ''; position: absolute; right: 0.8rem; top: 0.8rem; width: 2rem; height: 2rem; background: #EAEDF2 url(../image/common/split_40.png) no-repeat -24rem 0/40rem 8rem; border-radius: 50%; transition: background-color .2s ease-in-out;}
.mypage .mypageArea .section .securityList li label i.ico { display: block; width: 6.3rem; height: 6rem; margin: 0 auto;}
.mypage .mypageArea .section .securityList li label i.ico.icoA { background: url(../image/home/ico_security1.png) no-repeat center/cover;}
.mypage .mypageArea .section .securityList li label i.ico.icoB { background: url(../image/home/ioc_security2.png) no-repeat center/cover;}
.mypage .mypageArea .section .securityList li label i.ico.icoC { background: url(../image/home/ico_security3.png) no-repeat center/cover;}
.mypage .mypageArea .section .securityList li label span { display: block; margin-top: 0.8rem; color: #555;}
.mypage .mypageArea .section .securityList li input { position: absolute; opacity: 0;}
.mypage .mypageArea .section .securityList li input:checked + label::after { background-color: #6684EA;}
.mypage .mypageArea .section .securityList li input:checked + label { z-index: 1; border-color: #6684EA;}
.mypage .mypageArea .section .securityList li ~ li label { margin-left: -0.1rem;}

/* 개인정보처리방침 - UI-SJN-80-010U */
.mypage .explain-default { padding: 2.4rem 2rem; background-color: #F4F5F7;}
.mypage .explain-default .text { line-height: 2.3rem;}
.mypage .approval { padding: 2.4rem 1.6rem; background-color: #fff;}

/* 자주하는 질문 - UI-SJN-82-001U */
.mypage .faqTabBody { padding: 0 2rem;}
.mypage .faqTab { display: flex; align-items: center; height: 5.6rem;}
.mypage .faqTab li { flex: 1;}
.mypage .faqTab li ~ li { margin-left: 0.4rem;}
.mypage .faqTab li button { display: block; width: 100%; height: 4rem; color: #555; border: 1px solid #EAEAEA;}
.mypage .faqTab li button.active { color: #fff; border-color: #6684EA; background-color: #6684EA;}
.mypage .myMore { display: flex; align-items: center; justify-content: center; width: 100%; height: 4.8rem; margin-top: 0.8rem; color: #777;}
.mypage .myMore i { display: inline-block; width: 2rem; height: 2rem; background: url(../image/common/split_40.png) no-repeat -4rem -4rem/40rem 8rem;}




































