/* 초기화
**********************************************/

@media screen and (min-width: 0) { html {font-size: 48%;}}
@media screen and (min-width: 300px) { html {font-size: 53.33%;}}
@media screen and (min-width: 350px) { html {font-size: 62.5%;}}
@media screen and (min-width: 412px) { html {font-size: 67%;}}
@media screen and (min-width: 768px) { html {font-size: 80%;}}

/* Fonts */
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Pretendard/Pretendard-Regular.woff2) format('woff2');
}
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/Pretendard/Pretendard-SemiBold.woff2) format('woff2');
}

@font-face {
	font-family: 'Gmarket Sans';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/GmarketSans/GmarketSansBold.woff2) format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Roboto/Roboto-Regular.woff2) format('woff2');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/Roboto/Roboto-Bold.woff2) format('woff2');
}

html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,main,abbr,address,code,del,dfn,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td, header, article, section, aside, nav, figure, figcaption, adress, textarea, input[type=text], input[type=password], input[type=file], input[type=tel], input[type=search]   {
	margin:0;
	padding:0;
	vertical-align:baseline;
	background:transparent;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-webkit-text-size-adjust : none;
  -moz-text-size-adjust : none;
  text-size-adjust : none;
}
body {
	font: 1.5rem/1.4 "Apple SD Gothic Neo", "Droid sans", "Microsoft NeoGothic ", sans-serif;
	color:#111;
	letter-spacing: -0.04em;
	-webkit-text-size-adjust: none;
}

a:link,
a:visited { text-decoration:none;}
select { width: 100%; height: 4.8rem; padding:0 3.5rem 0 2rem; font-size:100%; letter-spacing: -0.04em; vertical-align:middle; border:1px solid #ddd; background: #fff url(../image/common/ico_select.png) no-repeat right 1.2rem top 0.8rem/2rem 6rem; -webkit-appearance: none;	-moz-appearance: none; appearance: none;}
select[disabled] { background-color: #F4F5F7;}
input[type=submit] { border:0; cursor:pointer; -webkit-appearance: none;}
input[type=checkbox] { border:1px solid #ddd;}
input[type=checkbox], input[type=radio] { margin-top:-1px; vertical-align:middle;}
input[type=file], 
input[type=text], 
input[type=password],
input[type=search],
input[type=tel] { width: 100%; height: 4.8rem; padding:0 2rem; font-size:100%; letter-spacing: -0.04em; vertical-align:middle; border:1px solid #ddd; background-color:#fff;}
input[type=text]:focus, input[type=password]:focus { background-color:#ecf9ff;}
input[readonly],
input[disabled] { background-color:#F4F5F7;}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=search]::placeholder,
input[type=tel]::placeholder,
textarea::placeholder { font-weight: 400; letter-spacing: -0.04em;}
button { border:0 none; padding:0; margin:0; font-size:100%; color:#111; vertical-align:middle; background:transparent; cursor:pointer;}
button::-moz-focus-inner { margin: -1px; padding: 0;}
address,caption,cite,code,dfn,var,em { font-style:normal; font-weight:normal;}
textarea { width:100%; padding: 1.6rem 2rem; font: 1.5rem "Apple SD Gothic Neo", "Droid sans", "Microsoft NeoGothic ", sans-serif; font-size:100%; line-height: 2.4rem; border:1px solid #ddd; background-color:#fff; border-radius:0; resize:none; -webkit-appearance: none; -webkit-border-radius:0;}
textarea[disabled],
textarea[readonly] { color: #aaa; background-color:#F4F5F7;}
fieldset,
img { border:0;}
i { font-style: normal;}
ul, ol { list-style:none;}
legend,
caption { position:absolute; top:-9999rem; width: 0; height: 0; overflow: hidden; padding: 0; line-height: 0;}
table { width: 100%; border-collapse: collapse; border-spacing: 0; empty-cells:show;}
table th,
table td { vertical-align: middle;}

/* root */
:root {
  --default: #111;
  /* --black0: #000;
  --black3: #333;
  --black5: #555;
  --black7: #777;
  --blue: #6684ea;
  --skyBlue: #32bbed;
  --green: #4EC457;
  --orange: #d69630;
  --pink: #d37398;
  --white: #fff;
  --gray: #eaeaea; */
  --fontPretendard: 'Pretendard';
  --fontGmarketSans: 'Gmarket Sans';
  --fontRoboto: 'Roboto';
}


/* 구조
**********************************************/

/* container */
.container { max-width: 57rem; padding: 5.6rem 0 2rem; margin: 0 auto;}

/* header */
.header { position: fixed; left: 0; top: env(safe-area-inset-top); right: 0; z-index: 200; background-color: #fff;}
.subHeader { display: flex; align-items: center; justify-content: center; position: relative; height: 5.6rem;}
.subHeader .icoPrev { position: absolute; left: 0; top: 0; width: 5rem; height: 5.6rem; text-align: center;}
.subHeader .icoPrev i { display: inline-block; width: 3.2rem; height: 3.2rem; text-indent: -9999rem; background: url(../image/common/header_prev.png) no-repeat center/cover;}
.subHeader .icoPicture { position: absolute; right: 0; top: 0; width: 5rem; height: 5.6rem; text-align: center;}
.subHeader .icoPicture i { display: inline-block; width: 2.4rem; height: 2.4rem; text-indent: -9999rem; background:  url(../image/common/split_48.png) no-repeat -9.6rem 0/48rem 9.6rem;}
.subHeader .icoClose { position: absolute; right: 0; top: 0; width: 5rem; height: 5.6rem; text-align: center;}
.subHeader .icoClose i { display: inline-block; width: 2.4rem; height: 2.4rem; text-indent: -9999rem; background:  url(../image/common/split_48.png) no-repeat -14.4rem 0/48rem 9.6rem;}
.subHeader h2 { font-size: 1.9rem; font-weight: 700;}
.subHeader h2 .number { color: #6684EA;}
.subHeader .searchHeader { width: 74%;}
.subHeader .searchHeader input { font-size: 1.8rem; font-weight: 700; padding: 0 0.5rem; border: none;}
.subHeader .btnHeader { position: absolute; right: 0; top: 0;}
.subHeader .btnHeader i { content: ''; width: 2.4rem; height: 2.4rem; text-indent: -9999rem; background: url(../image/common/split_48.png) no-repeat 0 0/48rem 9.6rem;}
.subHeader .btnHeader .icoMic { display: block; padding: 1.5rem; }
.subHeader .btnHeader .icoMic i { display: block; background-position-x: -28.8rem;}
.subHeader .btnHeader .icoReset { display: block; padding: 1.5rem; }
.subHeader .btnHeader .icoReset i { display: block; background-position-x: -31.2rem;}
.stickyHeader .header { box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.05);}
.stickyHeader .boderTopGray { border: none;}


/* 공통 STYLE
**********************************************/

/* 정렬 */
.textLeft { text-align:left !important;}
.textCenter { text-align:center !important;}
.textRight { text-align:right !important;}

.ellipsis { overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.visible { display: none;}
.invisible { position: relative; z-index: -1; display: inline-block; overflow: hidden; height: 1px; width: 1px; border: 0; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); word-break: initial; word-wrap: initial;}

/* 마진 */
.mt8 { margin-top: 0.8rem;}


/* Split 아이콘 */
.weather .icon { display: inline-block; width: 3.2rem; height: 3.2rem; margin-right: 0.4rem; background: url(../image/common/split_weather.png) no-repeat 0 0/32rem 6.4rem;}
.weather .icon.weather1 { background-position: 0 0;}
.weather .icon.weather2 { background-position: -3.2rem 0;}
.weather .icon.weather3 { background-position: -6.4rem 0;}
.weather .icon.weather4 { background-position: -9.6rem 0;}
.weather .icon.weather5 { background-position: -12.8rem 0;}
.weather .icon.weather6 { background-position: -16rem 0;}
.weather .icon.weather7 { background-position: -19.2rem 0;}
.weather .icon.weather8 { background-position: -22.4rem 0;}
.weather .icon.weather9 { background-position: -25.6rem  0;}
.weather .icon.weather10 { background-position: -28.8rem 0;}
.weather .icon.weather11 { background-position: 0 -3.2rem;}
.weather .icon.weather12 { background-position: -3.2rem -3.2rem;}
.weather .icon.weather13 { background-position: -6.4rem -3.2rem;}
.weather .icon.weather14 { background-position: -9.6rem -3.2rem;}
.weather .icon.weather15 { background-position: -12.8rem -3.2rem;}
.weather .icon.weather16 { background-position: -16rem -3.2rem;}
.weather .icon.weather17 { background-position: -19.2rem -3.2rem;}
.weather .icon.weather18 { background-position: -22.4rem -3.2rem;}
.weather .icon.weather19 { background-position: -25.6rem -3.2rem;}
.weather .icon.weather20 { background-position: -28.8rem -3.2rem;}

/* 버튼 */
.button { display: flex; align-items: center; justify-content: center; width: 100%; height: 5.6rem; font-size: 1.8rem; font-weight: 700; box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);}
.button.middle { height: 4.8rem; font-size: 1.6rem;}
.button.blue { color: #fff; background-color: #6684EA;}
.button.whiteLine { color: #555; border: 1px solid #ddd;}



/* 라인 중단점 */
.line-default { border-top: 0.6rem solid #F4F5F7;}

/* 두번째 줄까지만 보이게 */
.lineBreake { overflow: hidden; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}

/* 스위치 체크박스 */
.switch { position: relative;}
.switch input { position: absolute; margin: 0.6rem 0 0 1.6rem;}
.switch label { position: relative; padding: 0.6rem 0 0.6rem 5.6rem; cursor: pointer;}
.switch label::before { content: ""; position: absolute; display: block; left: 0; top: 0; width: 5.6rem; height: 3.2rem; border-radius: 1.6rem; background-color: #EAEDF2; transition: all 0.3s;}
.switch label::after { content: ""; position: absolute; display: block; left: 0.6rem; top: 0.4rem; width: 2.4rem; height: 2.4rem; border-radius: 1.6rem; background-color: #fff; box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3); transition: margin-left 0.3s;}
.switch input:checked + label:after { margin-left: 2.1rem;}
.switch input:checked + label:before { background-color: #6684EA;}

/* 라디오박스 */
.radioSet label { display: inline-block; position: relative; padding-left: 3.2rem; font-size: 1.6rem; cursor: pointer;}
.radioSet label::after { content: ''; position: absolute; left: 0; top: 50%; width: 2.4rem; height: 2.4rem; margin-top: -1.3rem; background: #EAEDF2 url(../image/common/split_48.png) no-repeat -24rem 0/48rem 9.6rem; border-radius: 50%; transition: background-color .2s ease-in-out;}
.radioSet input { position: absolute; opacity: 0;}
.radioSet input:checked + label::after { background-color: #6684EA;}

/* 툴팁 */
.boxTooltipLayer { display: none; position: absolute; left: 0; top: 0; z-index: 100; width: 100%; padding: 0 1.2rem;}
.boxTooltipLayer .boxTooltipBody { position: relative; padding: 1.2rem 4rem 1.2rem 1.6rem; background-color: #fff; border: 1px solid #6684EA; box-shadow: 0 1rems 1rem 0 rgb(0 0 0 / 5%);}
.boxTooltipLayer .boxTooltipBody .paragraphGroup p { font-size: 1.4rem; line-height:2.2rem;}
.boxTooltipLayer .btnClose { position: absolute; right: 1.2rem; top: 1.2rem; width: 2.4rem; height: 2.4rem;}
.boxTooltipLayer .btnClose i { display: block; width: 2.4rem; height: 2.4rem; text-indent: -9999rem; background: url(../image/common/split_48.png) no-repeat -14.4rem 0/48rem 9.6rem;}

.boxTooltipLayer.show { display: block;}

/* Swipe */
.swiper-button-prev,
.swiper-button-next { display: flex; align-items: center; justify-content: center; position: absolute; top: 50%; z-index: 10; width: 4rem; height: 4rem; margin-top: -2rem; background-color: rgba(255, 255, 255, 0.9); border-radius: 50%; box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.1); cursor: pointer;}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after { content: ''; width: 1.85rem; height: 1.45rem; background: url(../image/common/ico_swiper_right.png) no-repeat center/cover;}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after { content: ''; width: 1.85rem; height: 1.45rem; background: url(../image/common/ico_swiper_left.png) no-repeat center/cover;}
.swiper-button-prev,
.swiper-rtl .swiper-button-next { left: -1.2rem; right: auto;}
.swiper-button-next,
.swiper-rtl .swiper-button-prev { right: -1.2rem; left: auto;}
.swiper-slide-thumb-active figure {	border: 1px solid #000;}



/* header- 모음 */
.header-default { display: flex; align-items: center; justify-content: space-between; height: 4.8rem;}
.header-default h3 { display: flex; align-items: center; font-size: 1.8rem; color: #000;}
.header-default h3 .cWood { color: #D69630;}
.header-default h3 .num { margin-left: 0.8rem; font-size: 1.4rem; font-weight: 400; color: #555;}
.header-default a,
.header-default .cBlue { color: #6684ea;}

.header-icons { display: flex; justify-content: space-between; align-items: center; margin-top: 0.8rem;}
.header-icons button { position: relative; height: 2rem; font-size: 1.4rem; color: #555;}
.header-icons button::after { content: ''; position: absolute; top: 0; width: 2rem; height: 2rem; background: url(../image/common/split_40.png) no-repeat 0 0/40rem 8rem;}
.header-icons button.good { padding-left: 2.2rem;}
.header-icons button.good::after { left: 0; background-position: -6rem 0;}
.header-icons button.comment { margin-left: 0.5rem; padding-left: 2.2rem;}
.header-icons button.comment::after { left: 0; background-position: -8rem 0;}
.header-icons button.favorite { width: 2rem; text-indent: -9999rem;}
.header-icons button.favorite::after { right: 0; background-position: -10rem 0;}
.header-icons button.favorite.active::after { background-position-y: -2rem;}
.header-icons button.sharing { width: 2rem; text-indent: -9999rem;}
.header-icons button.sharing::after { right: 0; background-position: -12rem 0;}

.header-list { display: flex; align-items: center; justify-content: space-between; height: 4rem;}
.header-list .sel { width: 8rem; height: 4rem; padding-left: 0; border: none;}
.header-list .sel + .num { color: #555;}
.header-list .num { min-width: 5rem; color: #000;}
.header-list h3 { display: flex; align-items: center; font-size: 1.8rem; color: #000;}
.header-list h3 .cWood { color: #D69630;}
.header-list h3 .num { margin-left: 0.8rem; font-size: 1.4rem; font-weight: 400; color: #555;}
.header-list button { color: #777;}
.header-list button.active { color: #6684EA;}
.header-list >div { display: flex; align-items: center;}
.header-list >div button { margin-left: 1.2rem;}

.header-formSearch { display: flex; align-items: center; height: 5.6rem;}
.header-formSearch select { width: 7.6rem; height: 4rem; padding-left: 1.2rem; border-radius: 2rem;}
.header-formSearch .send { flex: 1; position: relative; margin-left: 0.8rem;}
.header-formSearch .send input { height: 4rem; padding: 0 3rem 0 1.2rem; background-color: #F4F5F7; border: 1px solid #EAEAEA; border-radius: 2rem;}
.header-formSearch .send .btnSend { display: block; position: absolute; right: 0; top: 0; padding: 1rem;}
.header-formSearch .send .btnSend i { display: inline-block; width: 2rem; height: 2rem; text-indent: -9999rem; background: url(../image/common/split_40.png) no-repeat -4rem 0/40rem 8rem;}

.header-news { padding: 1.6rem 0 0;}
.header-news h3 { font-size: 1.8rem;}
.header-news .headerSub { margin-top: 0.8rem;}



/* 레이어
**********************************************/

/* 레이어공통 */
.layerPopup { display: none; position: fixed; z-index: 100; top: 0; right: 0; bottom: 0; left: 0; opacity: 0; text-align: center; background: rgba(0,0,0,0.25); outline: none; transition: opacity .3s;}
.layerPopup::after { content: "";	display: inline-block; height: 100%;	vertical-align: middle;}
.layerPopup.ready { display: block;}
.layerPopup.show { opacity: 1;}
.layerPopup.show .layerWrap { transform: translateY(0);}
.layerWrap { position: relative; display: inline-block; width: calc(100% - 4rem);  vertical-align: middle; text-align: left; background: #fff; outline: none;}
.layerWrap.typeBot { all: unset; position: absolute; right: 0; left: 0; bottom: 0; padding: 1.6rem 2rem 3.7rem; background: #fff; transform: translateY(100%); transition: transform .5s;}
.layerWrap.full { display: flex; flex-direction: column; position: absolute; right: 0; left: 0; bottom: 0; top: 0; width: 100%;}
.layerWrap.full .headerBtn { display: flex; align-items: center; justify-content: center; height: 5.6rem; padding-right: 0.8rem;}
.layerWrap.full .headerBtn h2 { font-size: 1.9rem; font-weight: 700;}
.layerWrap.full .headerBtn .btnClose { top: inherit;}
.layerWrap.full .fullFlex { flex: 1; overflow: auto;}
.layerWrap >h4 { display: flex; align-items: center; height: 4.8rem; font-size: 1.8rem; font-weight: 700;}
.layerWrap .btnClose { display: block; position: absolute; right: 0.8rem; top: 1.2rem; width: 3.2rem; height: 3.2rem; text-indent: -9999rem; background: url(../image/common/split_64.png) no-repeat 0 -9.6rem/32rem 12.8rem;}
.layerWrap .layerBody { text-align: left;}
.layerWrap .button { height: 4.8rem; margin-top: 2.4rem; font-size: 1.6rem; box-shadow: none;}

.scrollLock body { overflow: hidden;}

/* UI-SJN-04-006U–1 */
.layerBody .pGroup p { font-size: 1.6rem; color: #555; line-height: 2.4rem;}

/* UI-SJN-04-100L */
.layerBody .snsList { display: flex; flex-wrap: wrap; margin-top: -0.8rem;}
.layerBody .snsList li { width: 25%; margin-top: 0.8rem;}
.layerBody .snsList li button { display: block; width: 100%; text-align: center;}
.layerBody .snsList li button i { display: inline-block; width: 4.8rem; height: 4.8rem;}
.layerBody .snsList li button.facebook i { background: url(../image/info/ico_social_facebook.png) no-repeat center/cover;}
.layerBody .snsList li button.twitter i { background: url(../image/info/ico_social_twitter.png) no-repeat center/cover;}
.layerBody .snsList li button.kakaotalk i { background: url(../image/info/ico_social_kakaotalk.png) no-repeat center/cover;}
.layerBody .snsList li button.kakaostory i { background: url(../image/info/ico_social_kakaostory.png) no-repeat center/cover;}
.layerBody .snsList li button.band i { background: url(../image/info/ico_social_naverBand.png) no-repeat center/cover;}
.layerBody .snsList li button.line i { background: url(../image/info/ico_social_naverLine.png) no-repeat center/cover;}
.layerBody .snsList li button.blog i { background: url(../image/info/ico_social_naverBlog.png) no-repeat center/cover;}
.layerBody .snsList li span { display: block; padding: 0.7rem 0 0.6rem; font-size: 1.4rem; color: #555;}
.layerBody .snsCopy { display: flex; margin-top: 1.6rem;}
.layerBody .snsCopy input { flex: 1;}
.layerBody .snsCopy .btn { width: 7.4rem; margin-left: 0.8rem; text-align: center; border: 1px solid #ddd;}

/* UI-SJN-04-101L */
.calendarBody .cbHead { display: flex; align-items: center; height: 4.8rem;}
.calendarBody .cbHead >button { display: block; width: 3.2rem; height: 3.2rem; text-indent: -9999rem;}
.calendarBody .cbHead >button.prev { background: url(../image/common/ico_calendar_prev.png) no-repeat center/cover;}
.calendarBody .cbHead >button.next { background: url(../image/common/ico_calendar_next.png) no-repeat center/cover;}
.calendarBody .cbHead .year { flex: 1; display: flex; align-items: center; justify-content: center;}
.calendarBody .cbHead .year select { padding-left: 0; font-family: var(--fontRoboto); font-weight: 700; border: none;}
.calendarBody .cbHead .year select:nth-child(1) { width: 7rem;}
.calendarBody .cbHead .year select:nth-child(2) { width: 5.5rem; margin-left: 1rem;}
.calendarBody .calendar .cHead { display: grid; grid-template-columns: repeat(7, 1fr); height: 4rem;}
.calendarBody .calendar .cHead li { display: flex; align-items: center; justify-content: center; color: #777;}
.calendarBody .calendar .cList { display: grid; grid-template-columns: repeat(7, 1fr);}
.calendarBody .calendar .cList li { display: flex; align-items: center; justify-content: center; height: 3.6rem;}
.calendarBody .calendar .cList li button { display: block; width: 3.2rem; height: 3.2rem; font-family: var(--fontRoboto); font-size: 1.6rem; color: #777;}
.calendarBody .calendar .cList li button.today { font-weight: 700; color: #6684EA;}
.calendarBody .calendar .cList li button.select { font-weight: 700; color: #fff; background-color: #6684EA; border-radius: 50%;}
.calendarBody .calendar .cList.reservation li { height: 6rem; align-items: flex-start; flex-wrap: wrap;}
.calendarBody .calendar .cList.reservation li button { width: 100%;}
.calendarBody .calendar .cList.reservation li span { display: flex; align-items: center; justify-content: center; height: 2rem; margin-top: -0.8rem; padding: 0 0.4rem; font-family: var(--fontRoboto); font-size: 1.3rem; color: #fff; letter-spacing: 0; border-radius: 1rem;}
.calendarBody .calendar .cList.reservation li span.complete { background-color: #555;}
.calendarBody .calendar .cList.reservation li span.wait { background-color: #CDD0D8;}
.calendarBody .calendar .cList.reservation li span.possible { background-color: #6684EA;}
.calendarBody .calendar .cList.reservation li span.impossible { background-color: #FD2020;}
.calendarBody .calendar .cList.reservation li span.companion { background-color: #32BBED;}
.calendarBody .calendar .cList.reservation li span.modify { background-color: #D69630;}

.calendarBody .time { display: flex;}
.calendarBody .time .slideContainer { height: 5.6rem;}
.calendarBody .time .apmBody { flex: 1; overflow: hidden; position: relative; padding: 5.6rem 0;}
.calendarBody .time .apmBody ul li button { display: flex; align-items: center; justify-content: center; width: 100%; height: 5.6rem; font-size: 1.6rem;}
.calendarBody .time .hourBody { overflow: hidden; position: relative; width: 7.6rem; margin: 0 0.8rem; padding: 5.6rem 0;}
.calendarBody .time .hourBody ul li button { display: flex; align-items: center; justify-content: center; width: 100%; height: 5.6rem; font-size: 1.6rem;}
.calendarBody .time .minuteBody { overflow: hidden; position: relative; width: 7.6rem; padding: 5.6rem 0;}
.calendarBody .time .minuteBody ul li button { display: flex; align-items: center; justify-content: center; width: 100%; height: 5.6rem; font-size: 1.6rem;}
.calendarBody .time .lineBg { position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.calendarBody .time .lineBg span { display: block; position: absolute; left: 0; width: 100%; height: 0.1rem; background-color: #ddd;}
.calendarBody .time .lineBg span:nth-child(1) { top: 5.6rem;}
.calendarBody .time .lineBg span:nth-child(2) { top: 50%; margin-top: 2.8rem; background-color: #aaa;}
.calendarBody .time .lineBg span:nth-child(3) { bottom: 0;}
.calendarBody .buttonFlex { display: flex; margin: 3.2rem -0.4rem 0;}
.calendarBody .buttonFlex button { margin: 0 0.4rem;}

/* 척척세종 UI-SJN-06-001L */
.infoLayer .header-large { padding: 0 2rem 1.6rem;}
.infoLayer .header-large h3 { display: flex; flex-direction: column; justify-content: center; height: 7.2rem; font-size: 2rem;}
.infoLayer .header-large h3 .style { display: block; color: #6684EA;}
.infoLayer .header-large .operation { display: flex; align-items: center; height: 4rem;}
.infoLayer .header-large .operation .box { display: flex; align-items: center; justify-content: center; width: 3.9rem; height: 2.4rem; margin-right: 0.8rem; font-size: 1.4rem; color: #fff; background-color: #6684EA; border-radius: 1.2rem;}
.infoLayer .header-large .operation .box strong .gray { color: #555;}
.infoLayer .compArea { padding: 2rem; background-color: #F4F5F7;}
.infoLayer .compArea .caCon { padding: 1.6rem 1.6rem 3.2rem; background-color: #fff;}
.infoLayer .compArea .caCon ~ .caCon { margin-top: 1.6rem;}
.infoLayer .compArea .caCon h4 { display: flex; align-items: center; height: 4rem; font-size: 1.6rem; color: #000;}
.infoLayer .compArea .caItem ~ .caItem { margin-top: 1.6rem;}
.infoLayer .compArea .caItem .service { display: flex; align-items: center; height: 4rem;}
.infoLayer .compArea .caItem .service .box { display: inline-flex; align-items: center; justify-content: center; height: 3.2rem; margin-right: 0.8rem; padding: 0 1.2rem; font-size: 1.4rem; color: #555; border: 1px solid #ddd; border-radius: 1.6rem;}
.infoLayer .compArea .caItem .caList { margin-top: 0.8rem;}
.infoLayer .compArea .caItem .caList li { position: relative; padding-left: 1.6rem; line-height: 2.4rem;}
.infoLayer .compArea .caItem .caList li::after { content: ''; position: absolute; left: 0; top: 1rem; width: 0.4rem; height: 0.4rem; background-color: #292D32; border-radius: 50%;}
.infoLayer .compArea .caItem .caList li .gray { color: #777;}
.infoLayer .compArea .caItem .caList li .orange { color: #FD2020;}

/* UI-SJN-08-001P */
.labelLayer .items-label li ~ li { border-top: 1px solid #f1f1f1;}
.labelLayer .items-label .labelForm { padding: 0 2rem;}

/* UI-SJN-13-002U */
.tripLayer { padding: 0 2rem;}
.tripLayer .tripHeader { display: flex; align-items: center; justify-content: center; height: 18rem; background: url(../image/info/info_trip_bg_big.png) no-repeat center/cover;}
.tripLayer .tripHeader h3 { font-size: 1.9rem; color: #fff; text-align: center; line-height: 2.7rem;}

/* UI-SJN-02-002L */
.voiceLayer { padding: 2rem; text-align: left;}
.voiceLayer .voiceArea { height: 21rem;}
.voiceLayer .title { font-size: 2rem; font-weight: 700; line-height: 2.8rem;}
.voiceLayer .voiceList { margin-top: 2.5rem; font-size: 1.6re; color: #555;}
.voiceLayer .voiceList li ~ li { margin-top: 1.6rem;}
.voiceLayer .icons { text-align: center;}
.voiceLayer .icons .iconBg { display: flex; align-items: center; justify-content: center; width: 7.2rem; height: 7.2rem; margin: 0 auto; background: linear-gradient(135deg,  #1e399e 11%,#294ca5 52%,#944d8f 100%); border-radius: 50%;}
.voiceLayer .icons .iconBg i.mike { width: 4rem; height: 4rem; text-indent: -9999rem; background: url(../image/home/ico_mike.png) no-repeat center/cover;}
.voiceLayer .icons .iconBg i.voice { width: 5rem; height: 2.2rem; text-indent: -9999rem; background: url(../image/home/ico_voice.png) no-repeat center/cover;}
.voiceLayer .icons .btnCloseVoice { content: ''; display: inline-block; width: 2.4rem; height: 2.4rem; margin-top: 3.2rem; text-indent: -9999rem; background: #111 url(../image/common/split_48.png) no-repeat -26.4rem -2.4rem/48rem 9.6rem; border-radius: 50%;}

/* 내 정보 - UI-SJN-80-001U */
.myInfoLayer { padding: 0 2rem 2rem;}
.myInfoLayer .myLogin { display: flex; align-items: center; justify-content: space-between; height: 7.2rem; margin-top: 0.8rem;}
.myInfoLayer .myLogin .text { font-size: 1.6rem; line-height: 2.3rem;}
.myInfoLayer .myLogin .text span { color: #6684EA;}
.myInfoLayer .myLogin .my { overflow: hidden; width: 4rem; height: 4rem;}
.myInfoLayer .myLogin .my img { width: 100%; height: auto;}
.myInfoLayer .myActivity { display: flex; flex-wrap: wrap; margin-top: 1.6rem; border-left: 1px solid #EAEAEA; border-top: 1px solid #EAEAEA;}
.myInfoLayer .myActivity li { display: flex; flex-direction: column; justify-content: center; width: calc(100% / 3); height: 12rem; padding: 0 1.2rem 0 2rem; border-right: 1px solid #EAEAEA; border-bottom: 1px solid #EAEAEA;}
.myInfoLayer .myActivity li:nth-child(1),
.myInfoLayer .myActivity li:nth-child(2) { width: 50%;}
.myInfoLayer .myActivity li p { color: #555;}
.myInfoLayer .myActivity li >div { display: flex; align-items: center; justify-content: space-between; margin-top: 1.3rem;}
.myInfoLayer .myActivity li >div strong { display: block; font-family: var(--fontRoboto); font-size: 2.4rem; font-weight: 700;}
.myInfoLayer .myActivity li >div i { display: block; width: 3.2rem; height: 3.2rem; background: url(../image/home/split_my.png) no-repeat 0 0/16rem 3.2rem;}
.myInfoLayer .myActivity li >div.safety i { background-position-x: 0;}
.myInfoLayer .myActivity li >div.review i { background-position-x: -3.2rem;}
.myInfoLayer .myActivity li >div.donation i { background-position-x: -6.4rem;}
.myInfoLayer .myActivity li >div.used i { background-position-x: -9.6rem;}
.myInfoLayer .myActivity li >div.share i { background-position-x: -12.8rem;}
.myInfoLayer .accordionBox { margin-top: 3.3rem;}
.myInfoLayer .accordionBox >li .btn { display: flex; align-items: center; justify-content: space-between; width: 100%; height: 5.2rem; color: #111;}
.myInfoLayer .accordionBox >li .btn p { font-size: 1.6rem;}
.myInfoLayer .accordionBox >li button.btn i { display: block; width: 2.4rem; height: 2.4rem; background: url(../image/common/split_48.png) no-repeat -36rem 0/48rem 9.6rem;}
.myInfoLayer .accordionBox >li a.btn i { display: block; width: 2.4rem; height: 2.4rem; background: url(../image/home/ico_toggle_arrow_down.png) no-repeat center/cover; transform: rotate(-90deg);}
.myInfoLayer .accordionBox >li .flex { display: flex; align-items: center; justify-content: space-between; width: 100%;}
.myInfoLayer .accordionBox >li .flex .heading { font-size: 1.6rem;}
.myInfoLayer .accordionBox >li .flex .switch input { left: -9999rem;}
.myInfoLayer .accordionBox >li .radioSet label { font-size: 1.6rem;}
.myInfoLayer .accordionBox >li .accordionTarget { overflow: hidden; max-height: 0; margin: 0 -2rem; padding: 0 2rem; background-color: #F4F5F7; transition: min-height 0.3s ease-in-out;}
.myInfoLayer .accordionBox >li .accordionTarget h4 { display: flex; align-items: center; height: 4.8rem;}
.myInfoLayer .accordionBox >li .accordionTarget .pt8 { padding-top: 0.8rem;}
.myInfoLayer .accordionBox >li .accordionTarget .pb8 { padding-bottom: 0.8rem;}
.myInfoLayer .accordionBox >li .accordionTarget li { display: flex; align-items: center; height: 4.8rem;}
.myInfoLayer .accordionBox >li .accordionTarget li a { font-size: 1.6rem; font-weight: 700; color: #111;}
.myInfoLayer .accordionBox >li .accordionTarget .inline { display: flex; justify-content: space-between;}
.myInfoLayer .accordionBox >li .accordionTarget .inline.half { flex-wrap: wrap;}
.myInfoLayer .accordionBox >li .accordionTarget .inline.half li { width: 45%;}
.myInfoLayer .accordionBox >li .accordionTarget .inline.half li:nth-child(odd) { width: 55%; padding-right: 2rem;}
.myInfoLayer .accordionBox >li.open .btn i { background-position-y: -2.4rem;}
.myInfoLayer .accordionBox >li.open .btn p { font-weight: 700;}

/* 잠금설정 - UI-SJN-80-003L */
.securityLayer { padding: 6.4rem 2rem;}
.securityLayer .head { display: flex; align-items: center; justify-content: center; height: 4.8rem; font-size: 1.9rem;}
.securityLayer .password { display: flex; align-items: center; justify-content: center; height: 6.4rem; margin-top: 0.8rem;}
.securityLayer .password input { height: 4.8rem; margin: 0 0.8rem; padding: 0; font-size: 3rem; text-align: center; border: none; border-bottom: 2px solid #CDD0D8;}
.securityLayer .password input.active { border-color: #292D32;}
.securityLayer .number { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; margin-top: 2.4rem;}
.securityLayer .number li { width: calc(100% / 3); margin-top: 1.6rem;}
.securityLayer .number li:last-child { width: 100%;}
.securityLayer .number li button { display: flex; align-items: center; justify-content: center; flex-direction: column; width: 7.2rem; height: 7.2rem; margin: 0 auto; background-color: #EAEDF2; border-radius: 50%;}
.securityLayer .number li button .n { font-family: var(--fontRoboto); font-size: 3rem;}
.securityLayer .number li button .t { font-family: var(--fontRoboto); font-size: 1.1rem;}
.securityLayer .pattern { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; width: 20.4rem; margin: 4.5rem auto 0;}
.securityLayer .pattern li { width: calc(100% / 3);}
.securityLayer .pattern li button { display: block; position: relative; width: 6.8rem; height: 6.8rem; text-indent: -9999rem;}
.securityLayer .pattern li button::after { content: ''; position: absolute; left: 50%; top: 50%; width: 1.2rem; height: 1.2rem; margin: -0.6rem 0 0 -0.6rem; background-color: #292D32; border-radius: 50%;}
.securityLayer .pattern li button.active::after { background-color: #6684EA;}
.securityLayer .guide { display: flex; align-items: center; justify-content: center; flex-direction: column; height: 5.2rem; margin-top: 3rem;}
.securityLayer .guide .complete { display: inline-flex; align-items: center; height: 3.9rem; padding: 0 1.6rem; background-color: #6684EA; border-radius: 2rem;}
.securityLayer .guide .complete span { display: inline-block; position: relative; padding-left: 2.4rem; color: #fff;}
.securityLayer .guide .complete span::after { content: ''; position: absolute; left: 0; top: 0; width: 2rem; height: 2rem; background: url(../image/common/split_40.png) no-repeat -24rem 0/40rem;}
.securityLayer .fingerprint { overflow: hidden; display: flex; align-items: center; justify-content: center; position: relative; width: 12rem; height: 12rem; margin: 0 auto; border-radius: 50%;}
.securityLayer .fingerprint i { display: block; width: 12rem; height: 12rem; background: url(../image/home/ico_security3_big.png) no-repeat center/6.025rem 8.225rem; border-radius: 50%;}
.securityLayer .fingerprint.complete::after { position: absolute; content: ''; display: flex; align-items: center; justify-content: center; position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; background: rgba(102, 132, 234, 0.9) url(../image/home/ico_fingerprint_check.png) no-repeat center/4.35rem 3.175rem;}

/* 장소 상세 - UI-SJN-23-001L */
.headerLocation .hdeading { display: flex; align-items: flex-start; padding: 1.6rem 2rem;}
.headerLocation .hdeading .favorite i { content: ''; display: block; width: 2.4rem; height: 2.4rem; margin: 0.2rem 0.4rem 0 0; text-indent: -9999rem; background: url(../image/common/split_48.png) no-repeat -33.6rem 0/48rem 9.6rem;}
.headerLocation .hdeading .favorite.active i { background-position-y: -2.4rem;}
.headerLocation .hdeading .title { flex: 1;}
.headerLocation .hdeading .title h2 { font-size: 1.8rem;}
.headerLocation .hdeading .title >div { margin-top: 0.4rem;}
.headerLocation .hdeading .title >div span { position: relative; font-size: 1.4rem; font-weight: 700; color: #6684EA;}
.headerLocation .hdeading .title >div span ~ span { margin-left: 0.3rem; padding-left: 0.8rem;}
.headerLocation .hdeading .title >div span ~ span::after { content: ''; position: absolute; top: 0.4rem; left: 0; width: 0.1rem; height: 1.2rem; background-color: #e1e1e1;}
.headerLocation .hdeading .btnClose { top: 1.4rem;}
.headerLocation .menu { display: flex; align-items: center; justify-content: space-between; position: relative; height: 4.8rem; padding: 0 2rem; font-size: 1.6rem; color: #555; border-bottom: 1px solid #F2F2F2;}
.headerLocation .menu button { height: 4.8rem;}
.headerLocation .menu button.active { font-weight: 700; color: #111; border-bottom: 2px solid #6684EA;}

.locationLayer .locationHeader { display: flex; align-items: center; justify-content: space-between; height: 4.8rem; margin-top: 1.4rem;}
.locationLayer .locationHeader h3 { display: flex; align-items: center;}
.locationLayer .locationHeader h3 .cGray { margin-left: 0.8rem; font-size: 1.4rem; font-weight: 400; color: #777;}
.locationLayer .locationHeader .write { display: block; font-size: 1.6rem; color: #6684EA;}
.locationLayer .locationHeader .write i { display: inline-block; width: 2.4rem; height: 2.4rem; margin: -0.1rem 0.4rem 0 0; vertical-align: middle; background: url(../image/common/split_48.png) no-repeat -36rem -4.8rem/48rem 9.6rem;}
.locationLayer .basic { margin-top: 1.6rem; padding: 0 2rem;}
.locationLayer .basic .accordionBox button { display: flex; align-items: center; position: relative; height: 4rem; color: #aaa;}
.locationLayer .basic .accordionBox button i { display: inline-block; width: 2.4rem; height: 2.4rem; margin: -0.1rem 0.8rem 0 0; vertical-align: middle; background: url(../image/common/split_48.png) no-repeat 0 0/48rem 9.6rem;}
.locationLayer .basic .accordionBox button::after { content: ''; position: absolute; right: -3.2rem; top: 0.9rem; width: 2.4rem; height: 2.4rem; background: url(../image/common/split_48.png) no-repeat 0rem 0/48rem 9.6rem;}
.locationLayer .basic .accordionBox button.homepage i { background-position: -31.2rem -4.8rem;}
.locationLayer .basic .accordionBox button.homepage::after { background-position: -36rem 0;}
.locationLayer .basic .accordionBox button.phone i { background-position: -33.6rem -4.8rem;}
.locationLayer .basic .accordionBox button.phone::after { background-position: -36rem -4.8rem;}
.locationLayer .basic .accordionBox button.active { color: #000;}
.locationLayer .basic .accordionTarget { overflow: hidden; max-height: 0; margin: 0 -2rem; padding: 0 2rem; background-color: #F4F5F7; transition: min-height 0.3s ease-in-out;}
.locationLayer .basic .bbBtns { display: flex; align-items: flex-start; margin-top: 2.4rem; padding: 0 2.4rem;}
.locationLayer .basic .bbBtns a { display: flex; align-items: center; justify-content: center; flex-direction: column; flex: 1; font-size: 1.6rem; font-weight: 700; color: #111;}
.locationLayer .basic .bbBtns a i { display: inline-block; width: 6rem; height: 6rem;}
.locationLayer .basic .bbBtns a.phoneLink i { background: url(../image/map/ico_link.png) no-repeat center/cover;}
.locationLayer .basic .bbBtns a.shareLink i { background: url(../image/map/ico_link2.png) no-repeat center/cover;}
.locationLayer .basic .bbBtns a.directionsLink i { background: url(../image/map/ico_link3.png) no-repeat center/cover;}
.locationLayer .basic .bbBtns a p { margin-top: 0.8rem;}
.locationLayer .basic .bbBtns a .switch { margin-top: 1.6rem;}
.locationLayer .basic .bbGuide { display: flex; align-items: center; height: 7.6rem; margin: 3.2rem -2rem 0; padding: 0 2rem; background-color: #EAEDF2;}
.locationLayer .basic .bbGuide >div { flex: 1;}
.locationLayer .basic .bbGuide >div h4 { font-size: 1.4rem; color: #333;}
.locationLayer .basic .bbGuide >div p { margin-top: 0.4rem; font-size: 1.4rem; color: #555;}
.locationLayer .basic .bbGuide .deco { width: 4.8rem; height: 4.8rem; background: url(../image/map/ico_bbguide.png) no-repeat center/cover;}
.locationLayer .detail { padding: 0.2rem 2rem 2.4rem;}
.locationLayer .detail h4 { display: flex; align-items: center; height: 3.6rem; margin-top: 1.6rem;}
.locationLayer .detail h4 .cBlue { margin-left: 0.8rem; font-weight: 400; color: #6684EA;}
.locationLayer .detail h4.first { margin-top: 0;}
.locationLayer .detail >div p { position: relative; margin-top: 0.8rem; font-size: 1.6rem; color: #555; line-height: 2.4rem;}
.locationLayer .detail >div p.blet { padding-left: 1.6rem;}
.locationLayer .detail >div p.blet::after { content: ''; position: absolute; left: 0.6rem; top: 1rem; width: 0.4rem; height: 0.4rem; background-color: #292D32; border-radius: 50%;}
.locationLayer .detail .detailbtn a { display: flex; align-items: center; position: relative; height: 4.8rem; margin-top: 1.6rem; padding: 0 1.6rem; font-size: 1.6rem; color: #111; border: 1px solid #ddd;}
.locationLayer .detail .detailbtn a::after { content: ''; display: block; position: absolute; right: 1.6rem; top: 1.6rem; width: 1.725rem; height: 1.325rem; background: url(../image/home/icon_arrow_right.png) no-repeat center/cover;}
.locationLayer .detail .detailbtn a span.cBlue { color: #6684EA;}
.locationLayer .app { padding: 0 2rem 2.4rem;}
.locationLayer .app ul li a { display: flex; align-items: center; padding: 1rem 0;}
.locationLayer .app ul li a figure { overflow: hidden; width: 6rem; height: 6rem; margin: 0 2.2rem 0 0.2rem;}
.locationLayer .app ul li a .text { flex: 1;}
.locationLayer .app ul li a .text >div { display: flex; align-items: center; justify-content: space-between;}
.locationLayer .app ul li a .text >div h4 { flex: 1; font-size: 1.6rem; color: #333;}
.locationLayer .app ul li a .text >div .cBlue { width: 7.8rem; font-size: 1.4rem; color: #6684EA;}
.locationLayer .app ul li a .text >div .cBlue::after { content: ''; display: inline-block; width: 2.4rem; height: 2.4rem; margin-top: -0.3rem; vertical-align: middle; background: url(../image/common/split_48.png) no-repeat -40.8rem 0/48rem 9.6rem;}
.locationLayer .app ul li a .text p { margin-top: 0.8rem; font-size: 1.4rem; color: #555; line-height: 2.2rem;}
.locationLayer .around { padding: 0 2rem 3.2rem;}
.locationLayer .around h3 { display: flex; align-items: center; height: 4rem; font-size: 1.6rem;}
.locationLayer .review { padding: 0 2rem 4rem;}
.locationLayer .review .items-review .empty { display: flex; align-items: center; justify-content: center; height: 19.2rem; padding-top: 9rem;}
.locationLayer .review .items-review .empty p { position: relative; font-size: 1.6rem; color: #777;}
.locationLayer .review .items-review .empty p::after { content: ''; position: absolute; left: 50%; top: -9rem; width: 7.2rem; height: 7.2rem; margin-left: -3.6rem; background: #F4F5F7 url(../image/common/ico_empty.png) no-repeat center/2.1rem 2.4rem; border-radius: 50%;}






















