/* 초기화
**********************************************/

/* @media screen and (min-width: 412px) { html {font-size: 67%;}} */

body { overflow-x: hidden; overflow-y: auto; background-color: #F4F5F7;}
.pcContainer { position: relative; width: 1190px; height: 100vh; margin: 0 auto;}
.pcContainer .pcContents { position: fixed; left: 50%; z-index: 10; margin-left: -580px;}
.pcContainer .pcView { position: absolute; right: 0; z-index: 10; width: 420px; height: 100vh; margin: 0 auto;}
.pcContainer .pch1 { padding-top: 38px;}
.pcContainer .pch1 img { vertical-align: top;}
.pcContainer .pch2 { margin-top: 124px; font-size: 52px; line-height: 67px;}
.pcContainer .pch3 { font-size: 18px;}
.pcInfomation { margin-top: 73px;}
.pcInfomation ul { display: flex; align-items: center; margin-top: 21px;}
.pcInfomation ul li { margin-right: 20px; text-align: center;}
.pcInfomation ul li .box { display: flex; align-items: center; justify-content: center; width: 74px; height: 74px; background-color: #fff; box-shadow: 0 10px 20px rgba(102 132 234 / 16%); border-radius: 24px;}
.pcInfomation ul li .text { display: block; margin-top: 10px;}
.pcApp { margin-top: 53px;}
.pcApp .links { display: flex; align-items: center; margin-top: 21px;}
.pcApp .links a { display: flex; align-items: center; justify-content: center; width: 174px; height: 72px; margin-right: 12px; background-color: #fff; box-shadow: 0 10px 20px rgba(102 132 234 / 16%); border-radius: 20px;}
.pcDeco { position: fixed; left: 50%; border-radius: 50%;}
.pcDeco.poa1 { top: -467px; z-index: 1; width: 1200px; height: 1200px; margin-left: 35px; background-color: #C9E6FF; animation:ani1 40s infinite ease;}
.pcDeco.poa2 { top: 580px; z-index: 2; width: 283px; height: 283px; margin-left: 455px; background-color: rgba(102 132 234 / 90%); animation:ani4 30s infinite ease;}
.pcDeco.poa3 { top: 80px; z-index: 3; width: 118px; height: 118px; margin-left: 800px; background-color: rgba(50 187 237 / 24%); animation:ani3 30s infinite ease;}
.pcDeco.poa4 { top: -109px; z-index: 3; width: 262px; height: 262px; margin-left: 830px; background-color: rgba(255 255 255 / 50%); animation:ani2 40s infinite ease;}
.pcDeco.poa5 { top: 473px; z-index: 3; width: 212px; height: 212px; margin-left: 100px; background-color: rgba(169 176 193 / 50%); animation:ani3 40s infinite ease;}
.pcDeco.poa6 { top: 726px; z-index: 1; width: 800px; height: 800px; margin-left: -1310px; background-color: #ADEDDC; animation:ani4 30s infinite ease;}
.pcDeco.poa7 { top: 647px; z-index: 2; width: 262px; height: 262px; margin-left: -720px; background-color: rgba(255 255 255 / 50%); animation:ani5 30s infinite ease;}
.pcDeco.poa8 { top: 164px; z-index: 2; width: 212px; height: 212px; margin-left: -930px; background-color: #A8EFAE; animation:ani6 30s infinite ease;}

@keyframes ani1 {
	0%{ transform:translate(0, 0);}
	20%{ transform:translate(0, -20px);}
	30%{ transform:translate(-20px, -35px);}
	50%{ transform:translate(-35px, -35px);}
	70%{ transform:translate(-35px, 0);}
	80%{ transform:translate(-25px, 0);}
	100%{ transform:translate(0, );}
}
@keyframes ani2 {
	0%{ transform:translate(0, 0);}
	20%{ transform:translate(10px, 10px);}
	30%{ transform:translate(10px, 5px);}
	50%{ transform:translate(15px, 5px);}
	70%{ transform:translate(5px, 0);}
	80%{ transform:translate(15px, 10px);}
	100%{ transform:translate(0, );}
}
@keyframes ani3 {
	0%{ transform:translate(0, 0);}
	20%{ transform:translate(0, 10px);}
	30%{ transform:translate(10px, 25px);}
	50%{ transform:translate(25px, 25px);}
	70%{ transform:translate(25px, 0);}
	80%{ transform:translate(15px, 0);}
	100%{ transform:translate(0, );}
}
@keyframes ani4 {
	0%{ transform:translate(0, 0);}
	20%{ transform:translate(0, -20px);}
	30%{ transform:translate(-20px, -35px);}
	50%{ transform:translate(-35px, -35px);}
	70%{ transform:translate(-35px, 0);}
	80%{ transform:translate(-25px, 0);}
	100%{ transform:translate(0, );}
}
@keyframes ani5 {
	0%{ transform:translate(0, 0);}
	20%{ transform:translate(0, 10px);}
	30%{ transform:translate(10px, 25px);}
	50%{ transform:translate(25px, 25px);}
	70%{ transform:translate(25px, 0);}
	80%{ transform:translate(15px, 0);}
	100%{ transform:translate(0, );}
}
@keyframes ani6 {
	0%{ transform:translate(0, 0);}
	20%{ transform:translate(10px, 10px);}
	30%{ transform:translate(10px, 5px);}
	50%{ transform:translate(15px, 5px);}
	70%{ transform:translate(5px, 0);}
	80%{ transform:translate(15px, 10px);}
	100%{ transform:translate(0, );}
}



/* PC에 맞게 모바일 크기 조정
**********************************************/

.contents { max-width: 420px; min-height: 100vh; background-color: #fff;}
.layerPopup,
.mainMenuFixed .mainMenu,
.layerAlert,
.bottomFixed .btnGroup,
.map .goNotice .busHead,
.map .mapMoveData,
.layerMapInfo .head,
.map .mapTab,
.mainMenu,
.chatbot,
.subHeader,
.headerWrap,
.info .infoNav { max-width: 420px;}


@media screen and (max-width: 420px) { 
.pcContainer .pcView { position: relative; right: inherit; margin: 0 auto; width: 100%;}
}
@media screen and (max-width: 1190px) { 
.pcContainer { width: 100%;}
.pcContents { display: none;}
.pcDeco.poa6 { margin-left: -810px;}
.pcDeco.poa7 { margin-left: -320px;}
.pcContainer .pcView { position: relative; max-width: inherit;}
}




/* 태블릿 기기에 맞게 크기 조정
**********************************************/

html.tabletMode {font-size: 80%;}
html.tabletMode .contents,
html.tabletMode .layerPopup,
html.tabletMode .mainMenuFixed .mainMenu,
html.tabletMode .layerAlert,
html.tabletMode .bottomFixed .btnGroup,
html.tabletMode .map .goNotice .busHead,
html.tabletMode .map .mapMoveData,
html.tabletMode .layerMapInfo .head,
html.tabletMode .map .mapTab,
html.tabletMode .mainMenu,
html.tabletMode .chatbot,
html.tabletMode .subHeader,
html.tabletMode .headerWrap,
html.tabletMode .info .infoNav,
html.tabletMode .pcContents,
html.tabletMode .pcContainer,
html.tabletMode .pcContainer .pcView { max-width: inherit; width: 100%;}
html.tabletMode .pcContents { display: none;}









