/* 소통참여
**********************************************/

/* 공통 */
.fHeader { display: flex; align-items: center; justify-content: space-between; height: 4.8rem;}
.fHeader h3 { display: flex; align-items: center; font-size: 1.8rem; color: #000; letter-spacing: -0.04em;}
.fHeader h3 .cWood { color: #D69630;}
.fHeader h3 .num { margin-left: 0.8rem; font-size: 1.4rem; font-weight: 400; color: #555;}
.fHeader a { color: #6684ea;}
.eHeader { display: flex; align-items: center; justify-content: space-between; height: 4rem;}
.eHeader .sel { width: 8rem; height: 4rem; padding-left: 0; border: none;}
.eHeader .sel + .num { color: #555;}
.eHeader .num { min-width: 5rem; color: #000; letter-spacing: -0.04em;}
.eHeader h3 { display: flex; align-items: center; font-size: 1.8rem; color: #000; letter-spacing: -0.04em;}
.eHeader h3 .cWood { color: #D69630;}
.eHeader h3 .num { margin-left: 0.8rem; font-size: 1.4rem; font-weight: 400; color: #555;}
.eHeader button { color: #777; letter-spacing: -0.04em;}
.eHeader button.active { color: #6684EA;}
.eHeader >div { display: flex; align-items: center;}
.eHeader >div button { margin-left: 1.2rem;}
.eBody { display: flex; justify-content: space-between; align-items: center; margin-top: 0.8rem;}
.eBody button { position: relative; height: 2rem; font-size: 1.4rem; color: #555;}
.eBody button::after { content: ''; position: absolute; top: 0; width: 2rem; height: 2rem;}
.eBody button.good { padding-left: 2.2rem;}
.eBody button.good::after { left: 0; background: url(../public/image/info/ico_good.png) no-repeat center/auto 100%;}
.eBody button.comment { margin-left: 0.5rem; padding-left: 2.2rem;}
.eBody button.comment::after { left: 0; background: url(../public/image/info/ico_comment.png) no-repeat center/auto 100%;}
.eBody button.favorite { width: 2rem; text-indent: -9999rem;}
.eBody button.favorite::after { right: 0; background: url(../public/image/info/ico_favorite.png) no-repeat center/auto 100%;}
.eBody button.sharing { width: 2rem; text-indent: -9999rem;}
.eBody button.sharing::after { right: 0; background: url(../public/image/info/ico_sharing.png) no-repeat center/auto 100%;}

.ecoForm { margin-top: 3.2rem; padding: 0 2rem;}
.ecoForm .list >li ~ li { margin-top: 1.6rem;}
.ecoForm .list >li input:focus + label { outline: 2px solid #000; border-radius: 2px;}
.ecoForm .list >li .labelH { display: flex; align-items: center; height: 4rem;}
.ecoForm .list >li .labelH label { font-size: 1.6rem; font-weight: 700; color: #111; letter-spacing: -0.04em;}
.ecoForm .list >li .labelH .required { margin-left: 0.8rem; font-size: 1.1rem; color: #FD2020;}
.ecoForm .list >li .labelH .sub { margin-left: 0.8rem; font-size: 1.4rem; color: #aaa;}
.ecoForm .list >li .labelH.between { justify-content: space-between;}
.ecoForm .list >li .labelH.between >div { display: flex; align-items: center;}
.ecoForm .list >li .labelH.between >span { font-size: 1.4rem; color: #aaa;}
.ecoForm .list >li .labelH.highlight { height: 7.2rem; font-size: 1.8rem;}
.ecoForm .list >li .hWord { margin-top: 0.9rem; font-size: 1.4rem; color: #aaa; letter-spacing: -0.04em;}
.ecoForm .list >li .btnOpen { display: block; width: 100%; height: 4.8rem; font-size: 1.6rem; letter-spacing: -0.04em; border: 1px solid #ddd;}
.ecoForm .list >li .btnOpen span { display: inline-block; position: relative; padding-left: 2.4rem;}
.ecoForm .list >li .btnOpen span::after { content: ''; position: absolute; left: 0; top: 0; width: 2rem; height: 2rem; background: url(../public/image/info/ico_form.png) no-repeat; background-size: 2rem;}
.textareaForm { display: flex; flex-direction: column; border: 0.1rem solid #ddd;}
.textareaForm textarea { height: 11rem; border: none;}
.textareaForm .byte { padding: 0 1.2rem 1.2rem 0; font-size: 1.4rem; color: #aaa; text-align: right;}
.textareaForm .byte span { color: #111;}
.ecoForm .list >li .phoneForm { display: flex;}
.ecoForm .list >li .phoneForm span { margin: 0 0.2rem;}
.ecoForm .list >li .adressForm input { margin-top: 0.8rem;}
.ecoForm .list >li .fileForm .upload { display: block; width: 100%; height: 4.8rem; font-size: 1.6rem; letter-spacing: -0.04em; border: 1px solid #ddd;}
.ecoForm .list >li .fileForm .upload span { display: inline-block; position: relative; padding-left: 2.4rem;}
.ecoForm .list >li .fileForm .upload span::after { content: ''; position: absolute; left: 0; top: 0; width: 2rem; height: 2rem; background: url(../public/image/info/ico_check.png) no-repeat; background-size: 2rem;}
.ecoForm .list >li .fileForm .ffH { display: flex; align-items: center; justify-content: space-between; height: 4rem; margin-top: 0.8rem;}
.ecoForm .list >li .fileForm .ffH .all { color: #6684EA; letter-spacing: -0.04em;}
.ecoForm .list >li .fileForm .ffH .delete { letter-spacing: -0.04em;}
.ecoForm .list >li .fileForm .ffH .delete span { display: flex; position: relative; padding-left: 2.8rem;}
.ecoForm .list >li .fileForm .ffH .delete span::after { content: ''; position: absolute; left: 0; top: -0.1rem; width: 2.4rem; height: 2.4rem; background: #CDD0D8 url(../public/image/info/ico_delete.png) no-repeat center/1.4rem; border-radius: 50%;}
.ecoForm .list >li .fileForm .pictureList { display: grid; grid-template-columns: repeat(3, 1fr); margin: 0 -0.2rem;}
.ecoForm .list >li .fileForm .pictureList li:nth-child(3) ~ li { grid-column-end: span 3;}
.ecoForm .list >li .fileForm .pictureList li:nth-child(3) ~ li label { height: 18rem;}
.ecoForm .list >li .fileForm .pictureList li { margin: 0.4rem 0.2rem 0;}
.ecoForm .list >li .fileForm .pictureList li label { display: block; overflow: hidden; position: relative; height: 10.4rem; background: #F4F5F7 url(../public/image/info/info_mark.png) no-repeat center/5.8rem 2rem; cursor: pointer;}
.ecoForm .list >li .fileForm .pictureList li label img { width: 100%; height: auto; vertical-align: top;}
.ecoForm .list >li .fileForm .pictureList li label::after { content: ''; position: absolute; right: 0.8rem; top: 0.8rem; width: 2rem; height: 2rem; background-color: #fff; background-image: url(../public/image/info/ico_checkbox.png); background-repeat: no-repeat; background-size: 2rem 4rem; border-radius: 50%; transition: background-color .2s ease-in-out;}
.ecoForm .list >li .fileForm .pictureList li input { position: absolute; opacity: 0;}
.ecoForm .list >li .fileForm .pictureList li input:checked + label::after { background-color: #111; background-position-y: -2rem;}
.ecoForm .list >li .selectForm .selectBtn { display: block; position: relative; width: 100%; height: 4.8rem; padding: 0 4rem 0 1.6rem; font-size: 1.6rem; color: #aaa; letter-spacing: -0.04em; text-align: left; border: 1px solid #ddd; background-color: #fff; transition: border-color .3s ease;}
.ecoForm .list >li .selectForm .selectBtn::after { content: ''; position: absolute; right: 1.2rem; top: 50%; width: 2rem; height: 2rem; margin-top: -1rem; background: url(../public/image/common/ico_select.png) no-repeat center/2rem; transition: transform .3s;}
.ecoForm .list >li .selectForm .target { margin-top: 1.6rem;}
.ecoForm .list >li .selectForm .target ul { display: flex; flex-wrap: wrap; margin: -0.4rem 0 0 -0.4rem;}
.ecoForm .list >li .selectForm .target ul li { width: calc(25% - 0.4rem); margin: 0.4rem 0 0 0.4rem;}
.ecoForm .list >li .selectForm .target ul li button { display: flex; align-items: center; justify-content: center; width: 100%; height: 4.4rem; font-size: 1.6rem; color: #555; letter-spacing: -0.04em; border: 1px solid #ddd;}
.ecoForm .list >li .selectForm .target ul li button:hover,
.ecoForm .list >li .selectForm .target ul li button:active { color: #fff; border-color: #6684EA; background-color: #6684EA;}
.ecoForm .list >li .selectMarginForm select ~ select { margin-top: 0.8rem;}
.ecoForm .list >li .businessForm ul li { display: flex;}
.ecoForm .list >li .businessForm ul li input { flex: 1;}
.ecoForm .list >li .businessForm ul li button { min-width: 5rem; margin-left: 0.8rem; padding: 0 1rem; border: 1px solid #ddd;}
.ecoForm .list >li .businessForm ul li button.blue { color: #fff; border-color: #6684EA; background-color: #6684EA;}
.ecoForm .list >li .businessForm ul li ~ li { margin-top: 0.8rem;}
.ecoForm .list >li .serviceList { display: flex; margin: 0 -0.4rem;}
.ecoForm .list >li .serviceList li { width: calc(20% - 0.4rem); margin: 0 0.4rem;}
.ecoForm .list >li .serviceList li label { display: block; overflow: hidden; position: relative; height: 6rem; background-color: #F4F5F7; cursor: pointer;}
.ecoForm .list >li .serviceList li label img { width: 100%; height: auto; vertical-align: top;}
.ecoForm .list >li .serviceList li label::after { content: ''; position: absolute; right: 0.8rem; top: 0.8rem; width: 2rem; height: 2rem; background-color: #fff; background-image: url(../public/image/info/ico_checkbox.png); background-repeat: no-repeat; background-size: 2rem 4rem; border-radius: 50%; transition: background-color .2s ease-in-out;}
.ecoForm .list >li .serviceList li input { position: absolute; opacity: 0;}
.ecoForm .list >li .serviceList li input:checked + label::after { background-color: #111; background-position-y: -2rem;}
.ecoForm .list >li .serviceList li p { margin-top: 0.9rem; padding-bottom: 0.8rem; font-size: 1.4rem; color: #555; letter-spacing: -0.04em; text-align: center;}
.ecoForm .list >li .period .pHead { display: flex; align-items: center; height: 3.2rem;}
.ecoForm .list >li .period .pHead span { display: inline-block; margin-right: 1.6rem; color: #555; letter-spacing: -0.04em;}
.ecoForm .list >li .period .pHead .switch input { position: absolute; margin: 0.6rem 0 0 1.6rem;}
.ecoForm .list >li .period .pHead .switch label { position: relative; padding: 0.6rem 0 0.6rem 5.6rem; cursor: pointer;}
.ecoForm .list >li .period .pHead .switch label::before { content: ""; position: absolute; display: block; left: 0; top: 0; width: 5.6rem; height: 3.2rem; border-radius: 1.6rem; background-color: #EAEDF2; transition: all 0.3s;}
.ecoForm .list >li .period .pHead .switch label::after { content: ""; position: absolute; display: block; left: 0.4rem; top: 0.4rem; width: 2.4rem; height: 2.4rem; border-radius: 1.6rem; background-color: #fff; box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3); transition: margin-left 0.3s;}
.ecoForm .list >li .period .pHead .switch input:checked + label:after { margin-left: 2.3rem;}
.ecoForm .list >li .period .pHead .switch input:checked + label:before { background-color: #6684EA;}
.ecoForm .list >li .period .pList { margin-top: 0.7rem; border-top: 1px solid #F4F5F7;}
.ecoForm .list >li .period .pList li { display: flex; align-items: center; justify-content: space-between; padding: 1.4rem 0; color: #555; border-bottom: 1px solid #F4F5F7;}
.btnGroup { margin-top: 3.2rem;}
.ecoForm.otherStyle { margin-top: 0;}

.eList li { margin-top: 1.6rem;}
.eList li ~ li { margin-top: 2.4rem;}
.eList li figure { overflow: hidden; position: relative; height: 18rem; background: #F4F5F7 url(../public/image/info/info_mark.png) no-repeat center/5.8rem 2rem;}
.eList li figure img { width: 100%; height: auto; vertical-align: top;}
.eList li figure span { display: flex; justify-content: center; align-items: center; position: absolute; left: 0; top: 0; min-width: 4rem; height: 2.4rem; padding: 0 0.7rem; font-size: 1.4rem; color: #fff; text-align: center; letter-spacing: -0.04em;}
.eList li figure span.blue { background-color: rgba(102, 132, 234, 0.9);}
.eList li figure span.darkBlue { background-color: rgba(104, 49, 255, 0.9);}
.eList li figure span.gray { background-color: rgba(85, 85, 85, 0.9);}
.eList li figure span.wood { background-color: #D69630;}
.eList li a { display: block;}
.eList li a h4 { margin-top: 0.9rem; font-size: 1.6rem; font-weight: 700; color: #111; line-height: 2.2rem; letter-spacing: -0.04em;}
.eList li a h4 .allTime { display: inline-block; height: 1.8rem; margin-left: 0.3rem; padding: 0 0.3rem; font-size: 1.3rem; font-weight: 400; color: #fff; line-height: 1.8rem; background-color: #D69630;}
.eList li a p { margin-top: 0.6rem; font-size: 1.6rem; color: #555; line-height: 2.4rem; letter-spacing: -0.04em;}
.eList li .hashTag { margin-top: 0.4rem;}
.eList li .hashTag span { display: inline-block; margin-right: 0.3rem; padding: 0.4rem; font-size: 1.4rem; color: #777; background-color: #F8F8F8;}
.eList li .hashTag span::before { content: '#';}

.visibleButton { margin-top: 0.3rem;}
.visibleButton button { position: relative; font-size: 1.4rem; color: #6684EA; line-height: 2.2rem; letter-spacing: -0.04em;}
.visibleButton button ~ button { margin-left: 0.3rem; padding-left: 0.6rem;}
.visibleButton button ~ button::after { content: ''; position: absolute; top: 0.4rem; left: 0; width: 0.1rem; height: 1.4rem; background-color: #e1e1e1;}

.headTitle .tlHead { display: flex; align-items: center; height: 4rem;}
.headTitle .tlHead .profile { overflow: hidden; width: 2.4rem; height: 2.4rem; text-indent: -9999rem; background: url(../public/image/info/ico_profile.png) no-repeat center/cover; border-radius: 50%;}
.headTitle .tlHead strong { margin-left: 0.4rem; letter-spacing: -0.04em;}
.headTitle .tlHead span { margin-left: 0.8rem; color: #aaa;}
.headTitle .tlHead span::after { content: 'ㆍ';}
.headTitle .tlHead .report { color: #aaa; letter-spacing: -0.04em;}
.headTitle .tlHead.my strong::after { content: '나'; display: inline-flex; align-items: center; justify-content: center; width: 1.8rem; height: 1.8rem; margin: -0.2rem 0 0 0.5rem; font-size: 1.1rem; font-weight: 700; color: #fff; vertical-align: middle; background-color: #6684EA; border-radius: 50%;}
.headTitle .tlHead.my span::after,
.headTitle .tlHead.my .report { display: none;}
.headTitle figure { overflow: hidden; position: relative; height: 18rem; margin-top: 0.8rem;}
.headTitle figure img { width: 100%; height: auto; vertical-align: top;}
.headTitle figure .zoom { position: absolute; right: 0.8rem; bottom: 0.8rem; width: 2.4rem; height: 2.4rem; text-indent: -9999rem; background: url(../public/image/info/ico_zoom.png) no-repeat center/cover;}
.headTitle .text { overflow: hidden; display: -webkit-box; margin-top: 1.2rem; font-size: 1.6rem; letter-spacing: -0.04em; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 2.2rem; line-height: 2.4rem;}
.headTitle .text.show { -webkit-line-clamp: inherit;}
.headTitle .tlControls { display: flex; align-items: center; justify-content: space-between; height: 4rem; margin-top: 1.2rem;}
.headTitle .tlControls .more { color: #777; letter-spacing: -0.04em;}
.headTitle .tlControls .more::after { content: ''; display: inline-block; width: 2rem; height: 2rem; vertical-align: text-bottom; background: url(../public/image/info/ico_more_small.png) no-repeat center/cover;}
.headTitle .tlControls .guide { font-size: 1.4rem; color: #aaa; letter-spacing: -0.04em;}
.headTitle .tlControls .recommend { display: flex;  align-items: center; justify-content: center; height: 3.2rem; padding: 0 0.8rem; font-size: 1.4rem; color: #D69630; border: 1px solid #D69630; border-radius: 1.6rem;}

/* 장소공유 UI-SJN-04-001U */
.info .subMenuGroup { position: relative; height: 4.8rem; border-bottom: 1px solid #F2F2F2;}
.info .infoMenu { overflow: hidden;}
.info .infoMenu .swiper-wrapper { width: inherit;}
.info .infoMenu li { width: inherit;}
.info .infoMenu li a { display: flex; align-items: center; position: relative; z-index: 1; height: 4.8rem; font-size: 1.6rem; color: #555; letter-spacing: -0.04em;}
.info .infoMenu li a.active { font-weight: 700; color: #111; border-bottom: 1px solid #000;}
.info .facility { padding: 1.6rem 2rem 3.2rem;}
.info .facility .fList { display: flex; flex-wrap: wrap; margin: 0.8rem 0 0 -0.4rem;}
.info .facility .fList li { width: calc(100% / 4 - 0.4rem); margin: 0.4rem 0 0 0.4rem;}
.info .facility .fList li a { display: block; overflow: hidden; position: relative; height: 7.7rem; text-align: center; background-color: #F4F5F7;}
.info .facility .fList li a img { width: 100%; height: 100%;}
.info .facility .fList li a figcaption { display: flex; justify-content: center; align-items: center; position: absolute; left: 0; right: 0; bottom: 0; height: 2.4rem; background-color: rgba(0, 0, 0, 0.3); }
.info .facility .fList li a figcaption p { position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; padding-top: 0.1rem; font-size: 1.4rem; color: #fff; letter-spacing: -0.04em;}
.info .facility .fList li a figcaption .blur { display: block; width: 100%; height: 100%; backdrop-filter: blur(5px);}
.info .economy { padding: 1.6rem 2rem 6rem; border-top: 0.6rem solid #F4F5F7;}
.info .morebutton { position: fixed; left: 50%; bottom: 3.5rem; margin-left: -2.4rem;}
.info .morebutton .moreButton { display: flex; align-items: center; justify-content: center; width: 4.8rem; height: 4.8rem; background-color: #6684EA; border-radius: 50%;}
.info .morebutton .moreButton i { width: 2.3rem; height: 2.3rem; text-indent: -9999rem; background: url(../public/image/info/ico_more_big.png) no-repeat center/auto 100%;}

/* 공유경제 등록/수정 UI-SJN-04-004U */
.info .grayBox { padding: 3.2rem 2rem; background-color: #F4F5F7;}
.info .grayBox .text { line-height: 2.3rem; letter-spacing: -0.04em;}
.info .approval { margin-top: 3.2rem; padding: 2.4rem 2rem; background-color: #fff;}
.info .approval .title { font-size: 1.6rem; font-weight: 700; letter-spacing: -0.04em;}
.info .approval ul { margin-top: 1.6rem;}
.info .approval ul li { position: relative; padding-left: 1.6rem; line-height: 2.3rem; letter-spacing: -0.04em;}
.info .approval ul li::after { content: ''; position: absolute; left: 0.7rem; top: 0.9rem; width: 0.4rem; height: 0.4rem; background-color: #292D32; border-radius: 50%;}
.info .approval ul li span { position: relative; margin-left: 0.2rem; padding-left: 0.6rem;}
.info .approval ul li span::after { content: ''; display: block; position: absolute; left: 0; top: 0.3rem; width: 0.1rem; height: 1.4rem; background-color: #ddd;}
.info .approval ul li ~ li { margin-top: 0.8rem;}

.cont { display: none;}
.cont.open { display: block;}
.info .ecoForm .list >li .selectForm .row.active .selectBtn { border-color: #aaa;}
.info .ecoForm .list >li .selectForm .row.active .selectBtn::after { transform: rotate(180deg);}

/* 우리가게 UI-SJN-04-005U */
.info .newStore { padding: 1.6rem 2rem 3rem;}
.info .ourStore { padding: 1.6rem 2rem 6rem; border-top: 0.6rem solid #F4F5F7;}
.info .newStoreBody { overflow: hidden;}
.info .storeList { display: flex; flex-wrap: wrap; margin: 0.8rem 0 0 -0.8rem;}
.info .storeList li { width: calc(100% / 2 - 0.8rem); min-height: 20.4rem; margin: 0.8rem 0 0 0.8rem;}
.info .storeList li a.picture { display: block; overflow: hidden;}
.info .storeList li a.picture figure { display: block; overflow: hidden; position: relative; height: 10rem; background: #F4F5F7 url(../public/image/info/info_mark.png) no-repeat center/5.8rem 2rem;}
.info .storeList li a.picture figure img { width: 100%; height: auto; vertical-align: top;}
.info .storeList li a.picture figure span { display: flex; align-items: center; justify-content: center; position: absolute; left: 0; top: 0; width: 4rem; height: 2.4rem; font-size: 1.4rem; color: #fff; background-color: rgba(51, 51, 51, 0.8);}
.info .storeList li a.text { display: block; margin-top: 1.2rem; color: #555; letter-spacing: -0.04em;}
.info .storeList li a.text h4 { font-size: 1.6rem; font-weight: 700; color: #111;}
.info .storeList li a.text h4 .cWood { font-size: 1.4rem; font-weight: 400; color: #D69630;}
.info .storeList li a.text p { overflow: hidden; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 2.2rem;}
.info .storeList.inline { flex-wrap: nowrap;}
.info .storeList.inline,
.info .storeList.inline li { width: 50%; margin: 0;}

/* 홍보/행사 UI-SJN-04-007U */
.info .promote { padding: 1.6rem 2rem 6rem;}

/* 리뷰 목록 UI-SJN-04-009U */
.info .pictureReview { padding: 1.6rem 2rem;}
.info .pictureReview .pictureBody { overflow: hidden; margin: 0.8rem -2rem 0; padding: 0 2rem;}
.info .pictureReview .pictureBody .pictureList li.empty { display: flex; align-items: center; justify-content: center; width: 100% !important; height: 6.7rem; font-size: 1.6rem; color: #777; letter-spacing: -0.04em;}
.info .pictureReview .pictureBody .pictureList a { display: block; position: relative;}
.info .pictureReview .pictureBody .pictureList a img { width: 100%; height: auto; vertical-align: top;}
.info .pictureReview .pictureBody .pictureList .lastMore .blind { display: flex; align-items: center; justify-content: center; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);}
.info .pictureReview .pictureBody .pictureList .lastMore .blind span { height: 2.4rem; padding: 0 0.8rem; font-size: 1.4rem; color: #fff; border: 1px solid #fff; border-radius: 1.2rem;}
.info .pictureReview .pictureBody .pictureList .lastMore .blind span::before { content: '+';}
.info .textReview { padding: 1.6rem 2rem 6rem; border-top: 0.6rem solid #F4F5F7;}
.info .textReview .textList li { padding-top: 0.8rem;}
.info .textReview .textList li ~ li { margin-top: 2.4rem; border-top: 1px solid #F4F5F7;}
.info .textReview .textList li.empty { display: flex; align-items: center; justify-content: center; height: 19.2rem; padding-top: 9rem;}
.info .textReview .textList li.empty p { position: relative; font-size: 1.6rem; color: #777; letter-spacing: -0.04em;}
.info .textReview .textList li.empty p::after { content: ''; position: absolute; left: 50%; top: -9rem; width: 7.2rem; height: 7.2rem; margin-left: -3.6rem; background: #F4F5F7 url(../public/image/common/ico_empty.png) no-repeat center/2.3rem 2.55rem; border-radius: 50%;}

/* 리뷰 등록 UI-SJN-04-010P */
.info .reviewForm { padding: 0 2rem 6rem;}
 
/* 사진 리뷰 UI-SJN-04-011P */
.info .pictureGridArea { display: grid; grid-template-columns: repeat(3, 1fr); margin: -0.4rem -0.2rem 0; padding: 1.6rem 2rem 6rem;}
.info .pictureGridArea li { position: relative; margin: 0.4rem 0.2rem 0;}
.info .pictureGridArea li figure { overflow: hidden; height: 10.4rem; background: #F4F5F7 url(../public/image/info/info_mark.png) no-repeat center/5.8rem 2rem;}
.info .pictureGridArea li figure img { width: 100%; vertical-align: top;}
.info .pictureGridArea li .blind span { display: flex; align-items: center; justify-content: center; position: absolute; right: 0.8rem; bottom: 0.8rem; height: 2.4rem; padding: 0 0.8rem; color: #fff; border: 1px solid #fff; border-radius: 1.2rem;}
.info .pictureGridArea li .blind span::before { content: '+';}

/* 사진 리뷰 UI-SJN-04-012P */
.info .pictureArea { padding: 1.6rem 2rem 4rem;}
.info .pictureArea .pgList >li ~ li { margin-top: 0.4rem;}
.info .pictureArea .pgList >li figure img { width: 100%; height: auto; vertical-align: top;}
.info .pictureArea .pictureBody { position: relative;}
.info .pictureArea .pictureBody .slideContainer { overflow: hidden;}
.info .pictureArea .headTitle { margin-top: 1.6rem;}
.info .pictureArea .swiper-button-next,
.info .pictureArea .swiper-button-prev { text-indent: -9999rem;}

/* 신고하기 UI-SJN-04-102U */
.info .reportArea { padding: 1.6rem 2rem 0;}
.info .labelList .labelForm { display: flex; align-items: center;}
.info .labelList .labelForm label { display: flex; align-items: center; position: relative; width: 100%; height: 5.2rem; font-size: 1.6rem; letter-spacing: -0.04em; cursor: pointer;}
.info .labelList .labelForm label::after { content: ''; position: absolute; right: 0; top: 50%; width: 2.4rem; height: 2.4rem; margin-top: -1.3rem;; background-color: #EAEDF2; background-image: url(../public/image/info/ico_checkbox2.png); background-repeat: no-repeat; background-position: center center; background-size: 1.3rem 0.95rem; border-radius: 50%; transition: background-color .2s ease-in-out;}
.info .labelList .labelForm input { position: absolute; opacity: 0;}
.info .labelList .labelForm input:checked + label::after { background-color: #6684EA;}



/* 민원
**********************************************/

/* 척척세종 UI-SJN-06-001L */
.info .compHeader { padding: 0 2rem 1.6rem;}
.info .compHeader h3 { display: flex; flex-direction: column; justify-content: center; height: 7.2rem; font-size: 2rem; letter-spacing: -0.04em;}
.info .compHeader h3 .style { display: block; color: #6684EA;}
.info .compHeader .operation { display: flex; align-items: center; height: 4rem; letter-spacing: -0.04em;}
.info .compHeader .operation .box { display: flex; align-items: center; justify-content: center; width: 3.9rem; height: 2.4rem; margin-right: 0.8rem; font-size: 1.4rem; color: #fff; background-color: #6684EA; border-radius: 1.2rem;}
.info .compHeader .operation .box strong .gray { color: #555;}
.info .compArea { padding: 2rem; background-color: #F4F5F7;}
.info .compArea .caCon { padding: 1.6rem 1.6rem 3.2rem; letter-spacing: -0.04em; background-color: #fff;}
.info .compArea .caCon ~ .caCon { margin-top: 1.6rem;}
.info .compArea .caCon h4 { display: flex; align-items: center; height: 4rem; font-size: 1.6rem; color: #000;}
.info .compArea .caItem ~ .caItem { margin-top: 1.6rem;}
.info .compArea .caItem .service { display: flex; align-items: center; height: 4rem;}
.info .compArea .caItem .service .box { display: inline-flex; align-items: center; justify-content: center; height: 3.2rem; margin-right: 0.8rem; padding: 0 1.2rem; font-size: 1.4rem; color: #555; border: 1px solid #ddd; border-radius: 1.6rem;}
.info .compArea .caItem .caList { margin-top: 0.8rem;}
.info .compArea .caItem .caList li { position: relative; padding-left: 1.6rem; line-height: 2.4rem;}
.info .compArea .caItem .caList li::after { content: ''; position: absolute; left: 0; top: 1rem; width: 0.4rem; height: 0.4rem; background-color: #292D32; border-radius: 50%;}
.info .compArea .caItem .caList li .gray { color: #777;}
.info .compArea .caItem .caList li .orange { color: #FD2020;}







