/* 정보 업무 글로벌 CSS
**********************************************/

/* 소통/참여 - UI-SJN-04-001U */
.info .lineBody { position: relative; height: 4.8rem; border-bottom: 1px solid #F2F2F2;}
.info .infoMenu { overflow: hidden;}
.info .infoMenu .swiper-wrapper { width: inherit;}
.info .infoMenu li { width: inherit;}
.info .infoMenu li a { display: flex; align-items: center; position: relative; z-index: 1; height: 4.8rem; font-size: 1.6rem; color: #555; letter-spacing: -0.04em;}
.info .infoMenu li a.active { font-weight: 700; color: #111; border-bottom: 1px solid #000;}

.info .facility { padding: 1.6rem 2rem 3.2rem;}
.info .facility .fHeader { display: flex; align-items: center; justify-content: space-between; height: 4.8rem;}
.info .facility .fHeader h3 { font-size: 1.8rem; color: #000; letter-spacing: -0.04em;}
.info .facility .fHeader a { color: #6684ea;}
.info .facility .fList { display: flex; flex-wrap: wrap; margin: 0.8rem 0 0 -0.4rem;}
.info .facility .fList li { width: calc(100% / 4 - 0.4rem); margin: 0.4rem 0 0 0.4rem;}
.info .facility .fList li a { display: block; overflow: hidden; position: relative; height: 7.7rem; text-align: center; background-color: #F4F5F7;}
.info .facility .fList li a img { width: 100%; height: 100%;}
.info .facility .fList li a figcaption { display: flex; justify-content: center; align-items: center; position: absolute; left: 0; right: 0; bottom: 0; height: 2.4rem; background-color: rgba(0, 0, 0, 0.3); }
.info .facility .fList li a figcaption p { position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; padding-top: 0.1rem; font-size: 14px; color: #fff; letter-spacing: -0.04em;}
.info .facility .fList li a figcaption .blur { display: block; width: 100%; height: 100%; backdrop-filter: blur(5px);}

.info .economy { padding: 1.6rem 2rem 3.2rem; border-top: 0.6rem solid #F4F5F7;}
.info .economy .eHeader { display: flex; align-items: center; justify-content: space-between; height: 4rem;}
.info .economy .eHeader span { color: #000; letter-spacing: -0.04em;}
.info .economy .eHeader button { color: #777; letter-spacing: -0.04em;}
.info .economy .eHeader button.active { color: #6684EA;}
.info .economy .eHeader >div { display: flex;}
.info .economy .eHeader >div button { margin-left: 1.2rem;}
.info .economy .eList li { margin-top: 1.6rem;}
.info .economy .eList li ~ li { margin-top: 2.4rem;}
.info .economy .eList li figure { position: relative;}
.info .economy .eList li figure img { max-width: 100%; height: auto;}
.info .economy .eList li figure span { display: flex; justify-content: center; align-items: center; position: absolute; left: 0; top: 0; width: 4rem; height: 2.4rem; font-size: 1.4rem; color: #fff; text-align: center; letter-spacing: -0.04em;}
.info .economy .eList li figure span.pay { background-color: rgba(102, 132, 234, 0.8);}
.info .economy .eList li figure span.free { background-color: rgba(85, 85, 85, 0.8);}
.info .economy .eList li .eBody { display: flex; justify-content: space-between; align-items: center;}
.info .economy .eList li .eBody button { position: relative; height: 2rem; font-size: 1.4rem; color: #555;}
.info .economy .eList li .eBody button::after { content: ''; position: absolute; top: 0; width: 2rem; height: 2rem;}
.info .economy .eList li .eBody button.good { padding-left: 2.2rem;}
.info .economy .eList li .eBody button.good::after { left: 0; background: url(../public/image/info/ico_good.png) no-repeat center/auto 100%;}
.info .economy .eList li .eBody button.comment { margin-left: 0.5rem; padding-left: 2.2rem;}
.info .economy .eList li .eBody button.comment::after { left: 0; background: url(../public/image/info/ico_comment.png) no-repeat center/auto 100%;}
.info .economy .eList li .eBody button.favorite { text-indent: -99999px;}
.info .economy .eList li .eBody button.favorite::after  { right: 0; background: url(../public/image/info/ico_favorite.png) no-repeat center/auto 100%;}
.info .economy .eList li a h4 { margin-top: 0.9rem; font-size: 1.6rem; font-weight: 700; color: #111; line-height: 2.2rem; letter-spacing: -0.04em;}
.info .economy .eList li a p { margin-top: 0.6rem; font-size: 1.6rem; color: #555; line-height: 2.4rem; letter-spacing: -0.04em;}
.info .economy .eList li .visibleButton { margin-top: 0.9rem;}
.info .economy .eList li .visibleButton button { position: relative; font-size: 1.4rem; color: #6684EA; line-height: 2.2rem; letter-spacing: -0.04em;}
.info .economy .eList li .visibleButton button ~ button { margin-left: 0.3rem; padding-left: 0.6rem;}
.info .economy .eList li .visibleButton button ~ button::after { content: ''; position: absolute; top: 0.4rem; left: 0; width: 0.1rem; height: 1.4rem; background-color: #e1e1e1;}

.info .morebutton { position: fixed; left: 50%; bottom: 0; margin-left: -2.4rem; opacity: 0; transition: all .5s ease;}
.info .morebutton .moreButton { display: flex; align-items: center; justify-content: center; width: 4.8rem; height: 4.8rem; background-color: #6684EA; border-radius: 50%;}
.info .morebutton .moreButton i { width: 1.4rem; height: 1.4rem; text-indent: -99999px; background: url(../public/image/info/ico_more_big.png) no-repeat center/auto 100%;}
.stickyHeader .info .morebutton { bottom: 3.5rem; transform: rotateZ(180deg); opacity: 1;}

/* 공유 경제 등록 - UI-SJN-04-004U */
.info .grayBox { padding: 3.2rem 2rem; background-color: #F4F5F7;}
.info .grayBox .text { line-height: 2.3rem; letter-spacing: -0.04em;}
.info .approval { margin-top: 3.2rem; padding: 2.4rem 2rem; background-color: #fff;}
.info .approval .title { font-size: 1.6rem; letter-spacing: -0.04em;}
.info .approval ul { margin-top: 1.6rem;}
.info .approval ul li { position: relative; padding-left: 1.6rem; line-height: 2.3rem; letter-spacing: -0.04em;}
.info .approval ul li::after { content: ''; position: absolute; left: 0.7rem; top: 0.9rem; width: 0.4rem; height: 0.4rem; background-color: #292D32; border-radius: 50%;}
.info .approval ul li ~ li { margin-top: 0.8rem;}

.info .ecoForm { margin-top: 3.2rem; padding: 0 2rem;}
.info .ecoForm .list >li ~ li { margin-top: 1.6rem;}
.info .ecoForm .list >li .labelH { display: flex; align-items: center; height: 4rem;}
.info .ecoForm .list >li .labelH label { font-size: 1.6rem; font-weight: 700; color: #111; letter-spacing: -0.04em;}
.info .ecoForm .list >li .labelH .required { margin-left: 0.8rem; font-size: 1.1rem; color: #FD2020;}
.info .ecoForm .list >li .labelH.between { justify-content: space-between;}
.info .ecoForm .list >li .labelH.between >div { display: flex; align-items: center;}
.info .ecoForm .list >li .labelH.between >span { font-size: 1.4rem; color: #aaa;}
.info .ecoForm .list >li .hWord { margin-top: 0.9rem; font-size: 1.4rem; color: #aaa; letter-spacing: -0.04em;}
.info .ecoForm .list >li .btnOpen { display: block; width: 100%; height: 4.8rem; font-size: 1.6rem; letter-spacing: -0.04em; border: 1px solid #ddd;}
.info .ecoForm .list >li .btnOpen span { display: inline-block; position: relative; padding-left: 2.4rem;}
.info .ecoForm .list >li .btnOpen span::after { content: ''; position: absolute; left: 0; top: 0; width: 2rem; height: 2rem; background: url(../public/image/info/ico_form.png) no-repeat; background-size: 2rem;}
.info .ecoForm .list >li .textareaForm { display: flex; flex-direction: column; border: 0.1rem solid #ddd;}
.info .ecoForm .list >li .textareaForm textarea { height: 11rem; border: none;}
.info .ecoForm .list >li .textareaForm .byte { padding: 0 1.2rem 1.2rem 0; font-size: 1.4rem; color: #aaa; text-align: right;}
.info .ecoForm .list >li .textareaForm .byte span { color: #111;}
.info .ecoForm .list >li .phoneForm { display: flex;}
.info .ecoForm .list >li .phoneForm span { margin: 0 0.2rem;}
.info .ecoForm .list >li .adressForm input { margin-top: 0.8rem;}
.info .ecoForm .list >li .fileForm .upload { display: block; width: 100%; height: 4.8rem; font-size: 1.6rem; letter-spacing: -0.04em; border: 1px solid #ddd;}
.info .ecoForm .list >li .fileForm .upload span { display: inline-block; position: relative; padding-left: 2.4rem;}
.info .ecoForm .list >li .fileForm .upload span::after { content: ''; position: absolute; left: 0; top: 0; width: 2rem; height: 2rem; background: url(../public/image/info/ico_check.png) no-repeat; background-size: 2rem;}
.info .ecoForm .list >li .fileForm .ffH { display: flex; align-items: center; justify-content: space-between; height: 4rem; margin-top: 0.8rem;}
.info .ecoForm .list >li .fileForm .ffH .all { color: #6684EA; letter-spacing: -0.04em;}
.info .ecoForm .list >li .fileForm .ffH .delete { letter-spacing: -0.04em;}
.info .ecoForm .list >li .fileForm .ffH .delete span { display: flex; position: relative; padding-left: 2.8rem;}
.info .ecoForm .list >li .fileForm .ffH .delete span::after { content: ''; position: absolute; left: 0; top: 0; width: 2.4rem; height: 2.4rem; background: #CDD0D8 url(../public/image/info/ico_delete.png) no-repeat center/1.4rem; border-radius: 50%;}
.info .ecoForm .list >li .fileForm .pictureList { display: grid; grid-template-columns: repeat(3, 1fr);}
.info .ecoForm .list >li .fileForm .pictureList li:nth-child(3) ~ li { grid-column-end: span 3;}
.info .ecoForm .list >li .fileForm .pictureList li:nth-child(3) ~ li label { height: 18rem;}
.info .ecoForm .list >li .fileForm .pictureList li { margin: 0.4rem 0.2rem 0;}
.info .ecoForm .list >li .fileForm .pictureList li label { display: block; overflow: hidden; position: relative; height: 10.4rem; background: #F4F5F7 url(../public/image/info/info_mark.png) no-repeat center/5.8rem 2rem;}
.info .ecoForm .list >li .fileForm .pictureList li label img { width: 100%; height: auto;}
.info .ecoForm .list >li .fileForm .pictureList li label::after { content: ''; position: absolute; right: 0.8rem; top: 0.8rem; width: 2rem; height: 2rem; background-color: #fff; background-image: url(../public/image/info/ico_checkbox.png); background-repeat: no-repeat; background-size: 2rem 4rem; border-radius: 50%; transition: background-color .2s ease-in-out;}
.info .ecoForm .list >li .fileForm .pictureList li input { position: absolute; opacity: 0;}
.info .ecoForm .list >li .fileForm .pictureList li input:checked + label::after { background-color: #111; background-position-y: -2rem;}
.info .ecoForm .list >li .fileForm .btnGroup { margin-top: 3.2rem;}







































